**METADATA**
TAGS: 2000black, afro beat, dego, funk, kaidi tatham, london boogie, matt lord, mr mensah, London
****
<a href='https://2000black.bandcamp.com'>2000BLACK</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004958425_23.jpg' />
<br>
tags: 2000black, afro beat, dego, funk, kaidi tatham, london boogie, matt lord, mr mensah, London