**METADATA**
TAGS: ajibade, hip hop, passport, pop, world, funk, pop, reggae, world  dance, Los Angeles
****
<a href='https://26thelement.bandcamp.com'>26th Element Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008515164_23.jpg' />
<br>
tags: ajibade, hip hop, passport, pop, world, funk, pop, reggae, world  dance, Los Angeles