**METADATA**
TAGS: 45 live, funk, hip hop, soul, Bristol
****
<a href='https://45liverecords.bandcamp.com'>45 Live Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006155259_23.jpg' />
<br>
tags: 45 live, funk, hip hop, soul, Bristol