**METADATA**
TAGS: beat tape, hip hop, underground hip hop, San Francisco
****
<a href='https://77riserecordings.bandcamp.com'>77 Rise Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008519198_23.jpg' />
<br>
tags: beat tape, hip hop, underground hip hop, San Francisco