**METADATA**
TAGS: black metal, doom metal, experimental, lofi, metal, noise, psychedelic, psychedelic rock, sludge, stoner rock, Москва
****
<a href='https://noname666.bandcamp.com'>[the label that has no name]</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007071612_23.jpg' />
<br>
tags: black metal, doom metal, experimental, lofi, metal, noise, psychedelic, psychedelic rock, sludge, stoner rock, Москва