**METADATA**
TAGS: alternative, acoustic, acousticguitar, unpop, Massachusetts
****
<a href='https://aeoliancompany.bandcamp.com'>Æolian Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006056825_23.jpg' />
<br>
tags: alternative, acoustic, acousticguitar, unpop, Massachusetts