**METADATA**
TAGS: folk, pop, folk pop, Taiwan
****
<a href='https://sincerelymusic.bandcamp.com'>三十而立</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007993279_23.jpg' />
<br>
tags: folk, pop, folk pop, Taiwan