**METADATA**
TAGS: a389, bloodlet, doom, florida, high on fire, hollow leg, junior bruce, scott angelacos, stoner rock, torche, Baltimore
****
<a href='https://a389recordings.bandcamp.com'>A389 Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003582210_23.jpg' />
<br>
tags: a389, bloodlet, doom, florida, high on fire, hollow leg, junior bruce, scott angelacos, stoner rock, torche, Baltimore