**METADATA**
TAGS: manila, rock, instrumental, math rock, post-rock, rock, Philippines
****
<a href='https://aspurofthemomentproject.bandcamp.com'>A Spur of the Moment Project</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009267183_23.jpg' />
<br>
tags: manila, rock, instrumental, math rock, post-rock, rock, Philippines