**METADATA**
TAGS: alternative, acoustic guitar, indie, mod, pop punk, Germany
****
<a href='https://aturntablefriendrecords.bandcamp.com'>A Turntable Friend Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009571989_23.jpg' />
<br>
tags: alternative, acoustic guitar, indie, mod, pop punk, Germany