**METADATA**
TAGS: aces & eights records, hardcore, punk, punk rock, rock, rock & roll, rockabilly, brooklyn, hardcore, punk, rock, rock and roll, sex, New York
****
<a href='https://aceseightsrecords.bandcamp.com'>Aces & Eights Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007066740_23.jpg' />
<br>
tags: aces & eights records, hardcore, punk, punk rock, rock, rock & roll, rockabilly, brooklyn, hardcore, punk, rock, rock and roll, sex, New York