**METADATA**
TAGS: experimental, contemporary classical, ebook, improvisation, newmusic, Montreal
****
<a href='https://actuellecd.bandcamp.com'>actuellecd</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006165070_23.jpg' />
<br>
tags: experimental, contemporary classical, ebook, improvisation, newmusic, Montreal