**METADATA**
TAGS: rock, post-punk, Edinburgh
****
<a href='https://acuterecords.bandcamp.com'>Acute Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007229543_23.jpg' />
<br>
tags: rock, post-punk, Edinburgh