**METADATA**
TAGS: Metal, doommetal, experimental, death metal
****
<a href='https://aestheticdeath.bandcamp.com'>Aesthetic Death</a>
<br>
<img src='https://f4.bcbits.com/img/0005072141_23.jpg' />
<br>
tags: Metal,doommetal,experimental,death metal
