**METADATA**
TAGS: doommetal, experimental, Metal
****
<a href='https://aestheticdeath.bandcamp.com'>Aesthetic Death</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005072141_23.jpg' />
<br>
tags: doommetal,experimental,Metal
