**METADATA**
TAGS: 808, electronic, bedroom, chill, trap, Los Angeles
****
<a href='https://afaf.bandcamp.com'>AFAF</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007021465_23.jpg' />
<br>
tags: 808, electronic, bedroom, chill, trap, Los Angeles