**METADATA**
TAGS: en attendant (le soleil), lille, naufrage, patience, repos, rock, rock alternatif, s'étendre, alternative rock, l'envie, France
****
<a href='https://agenceosb.bandcamp.com'>AGENCE OSB</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007787666_23.jpg' />
<br>
tags: en attendant (le soleil), lille, naufrage, patience, repos, rock, rock alternatif, s'étendre, alternative rock, l'envie, France