**METADATA**
TAGS: funk, fusion, jazz, soul, funk, fusion, soul, Japan
****
<a href='https://hiddenjazzquartett.bandcamp.com'>Agogo Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004531508_23.jpg' />
<br>
tags: funk, fusion, jazz, soul, funk, fusion, soul, Japan