**METADATA**
TAGS: coupédécalé, hiplife, kuduro, africanmusic
****
<a href='https://akwaabamusic.bandcamp.com'>Akwaaba Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005529544_23.jpg' />
<br>
tags: coupédécalé,hiplife,kuduro,africanmusic
