**METADATA**
TAGS: country, country blues, country folk, Santa Cruz
****
<a href='https://almostreadyrecords.bandcamp.com'>Almost Ready Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005142184_23.jpg' />
<br>
tags: country, country blues, country folk, Santa Cruz