**METADATA**
TAGS: amalgam, bill harris, chicago, four letter words, improvisation, jake wark, jazz, matt piet, radio silence, Chicago
****
<a href='http://music.amalgamusic.org'>Amalgam</a>
<br>
<img data-src='https://f4.bcbits.com/img/a3958183706_7.jpg' />
<br>
tags: amalgam, bill harris, chicago, four letter words, improvisation, jake wark, jazz, matt piet, radio silence, Chicago