**METADATA**
TAGS: drum & bass, dubstep, electropunk, industrial, metal, protest, punk, Manchester
****
<a href='http://bandcamp.analoguetrash.com'>AnalogueTrash</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006313539_23.jpg' />
<br>
tags: drum & bass, dubstep, electropunk, industrial, metal, protest, punk, Manchester