**METADATA**
TAGS: albrecht la'brooy, ambient, deep house, electronic, emissary, house, night tide, ambient, deep house, house, techno, Melbourne
****
<a href='https://analogueattic.bandcamp.com'>Analogue Attic Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005749029_23.jpg' />
<br>
tags: albrecht la'brooy, ambient, deep house, electronic, emissary, house, night tide, ambient, deep house, house, techno, Melbourne