**METADATA**
TAGS: rock, Rosemead
****
<a href='https://animalstylerecords.bandcamp.com'>Animal Style Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009384914_23.jpg' />
<br>
tags: rock, Rosemead