**METADATA**
TAGS: country, r&b, soul, blues, blues rock, country rock, Austin
****
<a href='https://antonesrecords.bandcamp.com'>Antone's Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007941226_23.jpg' />
<br>
tags: country, r&b, soul, blues, blues rock, country rock, Austin