**METADATA**
TAGS: hip-hop/rap, Philadelphia
****
<a href='http://apegangmusic.com'>Ape Gang</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008390884_23.jpg' />
<br>
tags: hip-hop/rap, Philadelphia