**METADATA**
TAGS: pop rock, rock, synth rock, alternative, alt rock, Seattle
****
<a href='https://arenamusicpromotion.bandcamp.com'>Arena Music Promotion</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005289654_23.jpg' />
<br>
tags: pop rock, rock, synth rock, alternative, alt rock, Seattle