**METADATA**
TAGS: Metal, paganmetal, melodicdeathmetal, paganblackmetal, folkmetal, BlackMetal
****
<a href='https://artofthenight.bandcamp.com'>Art of the Night Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008099699_23.jpg' />
<br>
tags: Metal,paganmetal,melodicdeathmetal,paganblackmetal,folkmetal,BlackMetal
