**METADATA**
TAGS: experimental, avant-garde, classical improvisation, contemporary jazz, free improvisation, free jazz, improvisation, improvisational jazz, improvised music, jazz and improvised music, Oakland
****
<a href='https://assembledsound.bandcamp.com'>AssembledSound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006587857_23.jpg' />
<br>
tags: experimental, avant-garde, classical improvisation, contemporary jazz, free improvisation, free jazz, improvisation, improvisational jazz, improvised music, jazz and improvised music, Oakland