**METADATA**
TAGS: che, philadelphia, ritual, sip, standing rock, New York
****
<a href='https://astronautico.bandcamp.com'>Astro Nautico</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006014359_23.jpg' />
<br>
tags: che, philadelphia, ritual, sip, standing rock, New York