**METADATA**
TAGS: r&b/soul, funk, retro, revival, soul, vintage, Leeds
****
<a href='https://atarecords.bandcamp.com'>ATA Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004630111_23.jpg' />
<br>
tags: r&b/soul, funk, retro, revival, soul, vintage, Leeds