**METADATA**
TAGS: country, rap, country, rap & hip-hop, Bailey
****
<a href='https://averagejoesent.bandcamp.com'>Average Joes Ent</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008126067_23.jpg' />
<br>
tags: country, rap, country, rap & hip-hop, Bailey