**METADATA**
TAGS: hip-hop/rap, trap, beats, beattape, boom bap, boombap, dark, halloween, hip hop, hiphop, horror, instrumental, instrumentals, trap, New York
****
<a href='https://backcourtrecords.bandcamp.com'>Backcourt Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008119914_23.jpg' />
<br>
tags: hip-hop/rap, trap, beats, beattape, boom bap, boombap, dark, halloween, hip hop, hiphop, horror, instrumental, instrumentals, trap, New York