**METADATA**
TAGS: bad apples, briggs, hip hop, hip-hop, hip-hop/rap, rap, aboriginal music, hip hop, indigenous, underground hip hop, Melbourne
****
<a href='https://badapplesmusicoz.bandcamp.com'>Bad Apples Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007984433_23.jpg' />
<br>
tags: bad apples, briggs, hip hop, hip-hop, hip-hop/rap, rap, aboriginal music, hip hop, indigenous, underground hip hop, Melbourne