**METADATA**
TAGS: bad lunch, montréal, independent, Montreal
****
<a href='https://badlunch.bandcamp.com'>BAD LUNCH</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007102535_23.jpg' />
<br>
tags: bad lunch, montréal, independent, Montreal