**METADATA**
TAGS: die! die! die!, punk, punk rock, Dunedin
****
<a href='https://badhealth.bandcamp.com'>Bad Health</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006114928_23.jpg' />
<br>
tags: die! die! die!, punk, punk rock, Dunedin