**METADATA**
TAGS: hip-hop/rap, lean low, lou koo, rv scruface, walter ego, electronic, peach house, r&b, rap, Los Angeles
****
<a href='https://badtaste.bandcamp.com'>BAD TASTE</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003370219_23.jpg' />
<br>
tags: hip-hop/rap, lean low, lou koo, rv scruface, walter ego, electronic, peach house, r&b, rap, Los Angeles