**METADATA**
TAGS: rock, alternative, dirt, experimental, pop, Philadelphia
****
<a href='http://baldspotrecords.com'>Bald Spot Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006864333_23.jpg' />
<br>
tags: rock, alternative, dirt, experimental, pop, Philadelphia