**METADATA**
TAGS: punk, emo, shoegaze, Rochester
****
<a href='https://bangkokblend.bandcamp.com'>Bangkok Blend</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005207113_23.jpg' />
<br>
tags: punk, emo, shoegaze, Rochester