**METADATA**
TAGS: hip-hop/rap, sonic emotion, Orlando
****
<a href='https://banyrecords.bandcamp.com'>BANY Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007136522_23.jpg' />
<br>
tags: hip-hop/rap, sonic emotion, Orlando