**METADATA**
TAGS: hip-hop/rap, rnb and hiphop, rnb, rock, dance, dance rock, dance-pop, hip hop, piano, pop, rap, rnb instrumental, London
****
<a href='https://baremoon.bandcamp.com'>Bare Moon Free Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005307819_23.jpg' />
<br>
tags: hip-hop/rap, rnb and hiphop, rnb, rock, dance, dance rock, dance-pop, hip hop, piano, pop, rap, rnb instrumental, London