**METADATA**
TAGS: roots, bass, Reggae, dub
****
<a href='https://basscomesaveme.bandcamp.com'>basscomesaveme</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005850352_23.jpg' />
<br>
tags: roots,bass,Reggae,dub
