**METADATA**
TAGS: 7" vinyl, contemporary r&b, electronic, r&b, r&b/soul, soul, beats, boogie, dance, electrofunk, funk, groove, vinyl, Los Angeles
****
<a href='https://bastardjazz.bandcamp.com'>Bastard Jazz Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001263098_23.jpg' />
<br>
tags: 7" vinyl, contemporary r&b, electronic, r&b, r&b/soul, soul, beats, boogie, dance, electrofunk, funk, groove, vinyl, Los Angeles