**METADATA**
TAGS: rock, indie, pop-rock, rock, Seattle
****
<a href='https://badchristianmusic.bandcamp.com'>BC Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004761638_23.jpg' />
<br>
tags: rock, indie, pop-rock, rock, Seattle