**METADATA**
TAGS: r&b/soul, indie soul, jazz, neo-soul, r&b, Seattle
****
<a href='https://beatbat.bandcamp.com'>BeatBat Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006646487_23.jpg' />
<br>
tags: r&b/soul, indie soul, jazz, neo-soul, r&b, Seattle