**METADATA**
TAGS: chicago, hip-hop/rap, push beats, roland, sev seveer, beats, beatsofallnations, experimental, instrumental, lyrical, music theory, sp-202, sp-303, sp-404, Chicago
****
<a href='https://beatsofallnations.bandcamp.com'>Beats of All-Nations</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007780008_23.jpg' />
<br>
tags: chicago, hip-hop/rap, push beats, roland, sev seveer, beats, beatsofallnations, experimental, instrumental, lyrical, music theory, sp-202, sp-303, sp-404, Chicago