**METADATA**
TAGS: funk, breakbeats, house, latin soul, underground hip hop, New York
****
<a href='https://behindthegroovenyc.bandcamp.com'>Behind The Groove Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006034751_23.jpg' />
<br>
tags: funk, breakbeats, house, latin soul, underground hip hop, New York