**METADATA**
TAGS: BlackMetal, Metal, doommetal, noise, northwest, drone
****
<a href='https://beliefmower.bandcamp.com'>beliefmower</a>
<br>
<img src='https://f4.bcbits.com/img/0004328064_23.jpg' />
<br>
tags: BlackMetal,Metal,doommetal,noise,northwest,drone
