**METADATA**
TAGS: hip hop, lyrical, new, rap, underground, Philipsburg
****
<a href='https://bellife.bandcamp.com'>Bellife</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004495697_23.jpg' />
<br>
tags: hip hop, lyrical, new, rap, underground, Philipsburg