**METADATA**
TAGS: acoustic, a cappella, christian, gospel, Phoenix
****
<a href='https://beneversonmusic.bandcamp.com'>Ben Everson Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009300891_23.jpg' />
<br>
tags: acoustic, a cappella, christian, gospel, Phoenix