**METADATA**
TAGS: anime, electronic, akira, ambient, chillwave, electronica, japan, synth wave, Cape Town
****
<a href='https://biblotv.bandcamp.com'>biblo.tv</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009383851_23.jpg' />
<br>
tags: anime, electronic, akira, ambient, chillwave, electronica, japan, synth wave, Cape Town