**METADATA**
TAGS: rock, blues, garage, punk, Finland
****
<a href='https://bigmoneyrecordings.bandcamp.com'>Big Money Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004759210_23.jpg' />
<br>
tags: rock, blues, garage, punk, Finland