**METADATA**
TAGS: aclu, bolan, rock, t.rex, glam rock, indie, indie rock, Ann Arbor
****
<a href='https://bigloverecords.bandcamp.com'>Big Love Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009366696_23.jpg' />
<br>
tags: aclu, bolan, rock, t.rex, glam rock, indie, indie rock, Ann Arbor