**METADATA**
TAGS: 2komplex, aronnax, asarualim, binary audio machinery, diksha, helix, myrtox, psyorama, synchronic, the cronics, Krefeld
****
<a href='https://binaryaudiomachinery1.bandcamp.com'>Binary Audio Machinery</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007554355_23.jpg' />
<br>
tags: 2komplex, aronnax, asarualim, binary audio machinery, diksha, helix, myrtox, psyorama, synchronic, the cronics, Krefeld