**METADATA**
TAGS: metal, black metal, Brazil
****
<a href='https://blacklionrecords.bandcamp.com'>Black Lion Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008004404_23.jpg' />
<br>
tags: metal, black metal, Brazil