**METADATA**
TAGS: hip-hop/rap, alternative hip hop, hiphop, indie, rap, underground, Portland
****
<a href='https://blackboyawesome.bandcamp.com'>Black Boy Awesome</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007309722_23.jpg' />
<br>
tags: hip-hop/rap, alternative hip hop, hiphop, indie, rap, underground, Portland