**METADATA**
TAGS: black metal
****
<a href='https://blackesteverblack.bandcamp.com'>Blackest Ever Black</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005515626_23.jpg' />
<br>
tags: black metal
