**METADATA**
TAGS: 90s, experimental, canary, electro, electropop, moog, noise rock, rock, sparklehorse, synth, yellowbelly, Lawrence
****
<a href='https://blackswordrecords.bandcamp.com'>Black Sword Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006018215_23.jpg' />
<br>
tags: 90s, experimental, canary, electro, electropop, moog, noise rock, rock, sparklehorse, synth, yellowbelly, Lawrence