**METADATA**
TAGS: unknown
****
<a href='https://blackrhombussoundsystem.bandcamp.com'>Black Rhombus Sound System</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006333722_23.jpg' />
<br>
tags: unknown
