**METADATA**
TAGS: hardcore, hip-hop/rap, boom bap, golden era, street rap, underground, Grand Rapids
****
<a href='https://blackday.bandcamp.com'>Black Day In July Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000948206_23.jpg' />
<br>
tags: hardcore, hip-hop/rap, boom bap, golden era, street rap, underground, Grand Rapids