**METADATA**
TAGS: fairtrade floyd, jazz elephant, split single, vinyl, Austria
****
<a href='https://black-skull.bandcamp.com'>Black Skull Entertainment Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007590451_23.jpg' />
<br>
tags: fairtrade floyd, jazz elephant, split single, vinyl, Austria