**METADATA**
TAGS: black metal
****
<a href='https://blackday.bandcamp.com'>Black Day In July Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000948206_23.jpg' />
<br>
tags: black metal
