**METADATA**
TAGS: chopped & screwed, r&b/soul, halley hiatt, hiphop, remix, New York
****
<a href='https://blindbarberproductions.bandcamp.com'>Blind Barber Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007862775_23.jpg' />
<br>
tags: chopped & screwed, r&b/soul, halley hiatt, hiphop, remix, New York