**METADATA**
TAGS: amel larrieux, blisslife records, r&b/soul, ice cream everyday, independent music, jazz, neo soul, r&b, rhythm & blues, soul, New York
****
<a href='https://blisslife.bandcamp.com'>Blisslife</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004848881_23.jpg' />
<br>
tags: amel larrieux, blisslife records, r&b/soul, ice cream everyday, independent music, jazz, neo soul, r&b, rhythm & blues, soul, New York