**METADATA**
TAGS: house, lgbtq, dance, dance-pop, lgbt artist, newyork, party, New York
****
<a href='https://blockshare.bandcamp.com'>BLOCK SHARE</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007339613_23.jpg' />
<br>
tags: house, lgbtq, dance, dance-pop, lgbt artist, newyork, party, New York