**METADATA**
TAGS: country, rockabilly, alt-country, country rock, outlaw, western, Chapel Hill
****
<a href='https://bloodshotrecords.bandcamp.com'>Bloodshot Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004371483_23.jpg' />
<br>
tags: country, rockabilly, alt-country, country rock, outlaw, western, Chapel Hill