**METADATA**
TAGS: alternative, alt-country, alternative rock, indie, indie folk, indiefolk, Perth
****
<a href='https://bluegreypinkrecords.bandcamp.com'>bluegreypink</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007892804_23.jpg' />
<br>
tags: alternative, alt-country, alternative rock, indie, indie folk, indiefolk, Perth