**METADATA**
TAGS: alternative, post-punk, psychedelic rock, revival, space rock, Seattle
****
<a href='https://bluebellerecords.bandcamp.com'>Bluebelle Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006556132_23.jpg' />
<br>
tags: alternative, post-punk, psychedelic rock, revival, space rock, Seattle