**METADATA**
TAGS: pop, anagrams, indie pop, indie rock, munich indie, sixties, Munich
****
<a href='https://bonevoyage.bandcamp.com'>Bone Voyage Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006742276_23.jpg' />
<br>
tags: pop, anagrams, indie pop, indie rock, munich indie, sixties, Munich