**METADATA**
TAGS: electronic, future bass, future soul, Ottawa
****
<a href='https://bonfirerecords.bandcamp.com'>BonFire Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008316413_23.jpg' />
<br>
tags: electronic, future bass, future soul, Ottawa