**METADATA**
TAGS: hip-hop/rap, post-rap, Montreal
****
<a href='https://bonsound.bandcamp.com'>Bonsound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004162996_23.jpg' />
<br>
tags: hip-hop/rap, post-rap, Montreal