**METADATA**
TAGS: alternative, dreampop, electronic, experimental, synthpop, vancouver, indie, indie pop, Vancouver
****
<a href='https://boomparecords.bandcamp.com'>Boompa Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004318198_23.jpg' />
<br>
tags: alternative, dreampop, electronic, experimental, synthpop, vancouver, indie, indie pop, Vancouver