**METADATA**
TAGS: reggae, bass, dub, dubstep, dubwise, grime, hip hop, soca, Bristol
****
<a href='https://boomsoundrecordings.bandcamp.com'>Boom Sound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005228606_23.jpg' />
<br>
tags: reggae, bass, dub, dubstep, dubwise, grime, hip hop, soca, Bristol