**METADATA**
TAGS: jazz, bassoon, big band, clarinet, creative music, fusion, guitar, oboe, post-rock, progressive, rock, synthesizer, Seattle
****
<a href='http://music.boscology.com'>Boscology</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001266770_23.jpg' />
<br>
tags: jazz, bassoon, big band, clarinet, creative music, fusion, guitar, oboe, post-rock, progressive, rock, synthesizer, Seattle