**METADATA**
TAGS: acid, dub, electronic, house, nudisco, techno, acid, deep house, house, nudisco, techno, Seattle
****
<a href='https://bottomforty.bandcamp.com'>Bottom Forty</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006538781_23.jpg' />
<br>
tags: acid, dub, electronic, house, nudisco, techno, acid, deep house, house, nudisco, techno, Seattle