**METADATA**
TAGS: london, alternative, atmospheric, avant-garde, electronic, industrial, melancholic, post-industrial, post-techno, wall of sound, Scottsdale
****
<a href='https://bottleimpproductions.bandcamp.com'>Bottle Imp Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005775732_23.jpg' />
<br>
tags: london, alternative, atmospheric, avant-garde, electronic, industrial, melancholic, post-industrial, post-techno, wall of sound, Scottsdale