**METADATA**
TAGS: Rap, breakbeat, ElectroHouse, EDM, Hip-Hop, Hip-Hop/Rap, breakbeat
****
<a href='https://breakbeatextravagante.bandcamp.com'>BreakBeat Extravagante</a>
<br>
<img src='https://f4.bcbits.com/img/0001291283_23.jpg' />
<br>
tags: Rap,breakbeat,ElectroHouse,EDM,Hip-Hop,Hip-Hop/Rap,breakbeat
