**METADATA**
TAGS: metal, death metal, deathgrind, Ludwigshafen
****
<a href='https://brethardrecords.bandcamp.com'>Bret Hard Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008032054_23.jpg' />
<br>
tags: metal, death metal, deathgrind, Ludwigshafen