**METADATA**
TAGS: electronic, ambient, electronic, seattle, soundscape, soundtrack, space, synth, Seattle
****
<a href='https://brokenpress.bandcamp.com'>Broken Press</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005500873_23.jpg' />
<br>
tags: electronic, ambient, electronic, seattle, soundscape, soundtrack, space, synth, Seattle