**METADATA**
TAGS: boston, brazil, jazz, batucada, copenhagen, denmark, experimental, jazz, psychedelic, samba, Copenhagen
****
<a href='https://brokenriver.bandcamp.com'>Broken River</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004928293_23.jpg' />
<br>
tags: boston, brazil, jazz, batucada, copenhagen, denmark, experimental, jazz, psychedelic, samba, Copenhagen