**METADATA**
TAGS: rock, catchy, emo, indie, indie rock, Nashville
****
<a href='http://music.brokencircles.com'>Broken Circles</a>
<br>
<img data-src='https://f4.bcbits.com/img/a1350123777_7.jpg' />
<br>
tags: rock, catchy, emo, indie, indie rock, Nashville