**METADATA**
TAGS: alternative, blues, country, folk, instrumental, songwriter, Sydney
****
<a href='https://brokenstonerecords.bandcamp.com'>Broken Stone Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006304311_23.jpg' />
<br>
tags: alternative, blues, country, folk, instrumental, songwriter, Sydney