**METADATA**
TAGS: death metal, metal, grindcore, metal, speed, thrash, Jakarta
****
<a href='https://bruteprods.bandcamp.com'>Brute! Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004616901_23.jpg' />
<br>
tags: death metal, metal, grindcore, metal, speed, thrash, Jakarta