**METADATA**
TAGS: metal, nola, punk, southern sludge, thrash metal, doom, grind, hardcore, New Orleans
****
<a href='https://cragerecords.bandcamp.com'>C Rage! Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008213079_23.jpg' />
<br>
tags: metal, nola, punk, southern sludge, thrash metal, doom, grind, hardcore, New Orleans