**METADATA**
TAGS: #2016, #indiefolk, 2016, folk, pop folk, andalucia, full album, granada, indie folk, mas que posible, pop folk, spain, Granada
****
<a href='https://discoscabana.bandcamp.com'>Cabaña</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009260163_23.jpg' />
<br>
tags: #2016, #indiefolk, 2016, folk, pop folk, andalucia, full album, granada, indie folk, mas que posible, pop folk, spain, Granada