**METADATA**
TAGS: garage, garage punk, garage rock, punk, garage, garage punk, garage rock, horror punk, neo garage, Albany
****
<a href='https://cacophone.bandcamp.com'>Cacophone</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008802294_23.jpg' />
<br>
tags: garage, garage punk, garage rock, punk, garage, garage punk, garage rock, horror punk, neo garage, Albany