**METADATA**
TAGS: soundtrack, americana, folk, indie folk, singer-songwriter, New Lebanon
****
<a href='https://campnowmusic.bandcamp.com'>Camp Now Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006890069_23.jpg' />
<br>
tags: soundtrack, americana, folk, indie folk, singer-songwriter, New Lebanon