**METADATA**
TAGS: acoustic, chanson française, folk, Lille
****
<a href='https://cap9music.bandcamp.com'>CAP9MUSIC</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008002133_23.jpg' />
<br>
tags: acoustic, chanson française, folk, Lille