**METADATA**
TAGS: metal, australia, black metal, blackened thrash, carvetii productions, thrash metal, United Kingdom
****
<a href='https://carvetiiproductions.bandcamp.com'>Carvetii Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009466187_23.jpg' />
<br>
tags: metal, australia, black metal, blackened thrash, carvetii productions, thrash metal, United Kingdom