**METADATA**
TAGS: jazz, paal nilssen-love, pan scan ensemble, free jazz, improvised music, Oslo
****
<a href='https://catalytic-sound.bandcamp.com'>Catalytic-Sound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006144229_23.jpg' />
<br>
tags: jazz, paal nilssen-love, pan scan ensemble, free jazz, improvised music, Oslo