**METADATA**
TAGS: alternative, backyard wildlife, frances garretson, garden, gardening, joe baiza, mark wheaton, ralph gorodetsky, weba garretson, Los Angeles
****
<a href='https://catasonic.bandcamp.com'>Catasonic Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004339366_23.jpg' />
<br>
tags: alternative, backyard wildlife, frances garretson, garden, gardening, joe baiza, mark wheaton, ralph gorodetsky, weba garretson, Los Angeles