**METADATA**
TAGS: funk, g-funk, boogie, gfunk, modern funk, modern soul, synth, Pasadena
****
<a href='http://cavisounds.com'>Cavi Sounds</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008918347_23.jpg' />
<br>
tags: funk, g-funk, boogie, gfunk, modern funk, modern soul, synth, Pasadena