**METADATA**
TAGS: experimental, guayaquil, ambient, dark ambient, drone, noise, soundscapes, Los Angeles
****
<a href='https://celldeathtapes.bandcamp.com'>Celldeath</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008761195_23.jpg' />
<br>
tags: experimental, guayaquil, ambient, dark ambient, drone, noise, soundscapes, Los Angeles