**METADATA**
TAGS: hip hop, r&b/soul, r&b, soul, Los Angeles
****
<a href='https://championsonly98.bandcamp.com'>ChampionsOnly98™</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008404243_23.jpg' />
<br>
tags: hip hop, r&b/soul, r&b, soul, Los Angeles