**METADATA**
TAGS: hip-hop/rap, audiobbok, Seattle
****
<a href='https://changed.bandcamp.com'>Changed Label</a>
<br>
<img data-src='https://f4.bcbits.com/img/a0788673521_7.jpg' />
<br>
tags: hip-hop/rap, audiobbok, Seattle