**METADATA**
TAGS: acoustic, acoustic, drone, neo-folk, noise, Johnson City
****
<a href='https://chaoticunderworld.bandcamp.com'>Chaotic Underworld Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006513269_23.jpg' />
<br>
tags: acoustic, acoustic, drone, neo-folk, noise, Johnson City