**METADATA**
TAGS: dancehall, dub, music, reggae, world music, Madrid
****
<a href='https://chronicdancehall.bandcamp.com'>Chronic Ting Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008493421_23.jpg' />
<br>
tags: dancehall, dub, music, reggae, world music, Madrid