**METADATA**
TAGS: african, afropop, funk, reggae, rock, soul, afrobeat, pop, psychedelic, New York
****
<a href='https://cityslang.bandcamp.com'>City Slang</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006689796_23.jpg' />
<br>
tags: african, afropop, funk, reggae, rock, soul, afrobeat, pop, psychedelic, New York