**METADATA**
TAGS: almería, rock, alternative rock, garage, indie, pop, punk, rock, soul, Madrid
****
<a href='https://ciudadoasis.bandcamp.com'>Ciudad Oasis</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008077839_23.jpg' />
<br>
tags: almería, rock, alternative rock, garage, indie, pop, punk, rock, soul, Madrid