**METADATA**
TAGS: Los Angeles
****
<a href='https://claimedresponsibility.bandcamp.com'>Claimed Responsibility</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005033402_23.jpg' />
<br>
tags: Los Angeles