**METADATA**
TAGS: alberta, americana, canada, canadiana, country, country folk, dallas, outlaw country, red dirt, texas, Dallas
****
<a href='https://classicwaxxxrecords.bandcamp.com'>Classic Waxxx Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004669694_23.jpg' />
<br>
tags: alberta, americana, canada, canadiana, country, country folk, dallas, outlaw country, red dirt, texas, Dallas