**METADATA**
TAGS: blues, cleopatra blues, blues harp, funk, harmonica, harmonica blues, jazz, r&b soul, soulful, soulful blues, Detroit
****
<a href='https://cleopatrablues.bandcamp.com'>Cleopatra Blues</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005676017_23.jpg' />
<br>
tags: blues, cleopatra blues, blues harp, funk, harmonica, harmonica blues, jazz, r&b soul, soulful, soulful blues, Detroit