**METADATA**
TAGS: arch enemy, black metal, cradle of filth, dani filth, devilment, gothic metal, heavy metal, industrial metal, metal, nevermore, groove metal, thrash metal, Lowestoft
****
<a href='https://cjrecords.bandcamp.com'>Coffee Jingle Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006574046_23.jpg' />
<br>
tags: arch enemy, black metal, cradle of filth, dani filth, devilment, gothic metal, heavy metal, industrial metal, metal, nevermore, groove metal, thrash metal, Lowestoft