**METADATA**
TAGS: beats, downtempo, hiphopinstumental, instrumental hip hop, limited edition, trip hop, vinyl only, Los Angeles
****
<a href='http://shop.coldbusted.org'>Cold Busted</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000021885_23.jpg' />
<br>
tags: beats, downtempo, hiphopinstumental, instrumental hip hop, limited edition, trip hop, vinyl only, Los Angeles