**METADATA**
TAGS: electronic, experimental, spoken word, industrial, scatological, techno, New Orleans
****
<a href='https://coldcarnival.bandcamp.com'>Cold Carnival</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008524216_23.jpg' />
<br>
tags: electronic, experimental, spoken word, industrial, scatological, techno, New Orleans