**METADATA**
TAGS: colectivo maker, hip hop, hip-hop/rap, jota ache, colectivo maker, crisis, hokerbeats, jota ache, monterrey, Monterrey
****
<a href='https://colectivomaker.bandcamp.com'>Colectivo Maker</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004577075_23.jpg' />
<br>
tags: colectivo maker, hip hop, hip-hop/rap, jota ache, colectivo maker, crisis, hokerbeats, jota ache, monterrey, Monterrey