**METADATA**
TAGS: hip-hop, hip-hop/rap, instrumental hip-hop, norwich_ england, rap, beat-tape, boom-bap, instrumental hip-hop, meditation, psychedelic, trippy, underground hip-hop, Scarborough
****
<a href='http://store.collectiveres.net'>Collective Resonance</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009109957_23.jpg' />
<br>
tags: hip-hop, hip-hop/rap, instrumental hip-hop, norwich_ england, rap, beat-tape, boom-bap, instrumental hip-hop, meditation, psychedelic, trippy, underground hip-hop, Scarborough