**METADATA**
TAGS: africa, african music, cometrec, world, abayomy, africa, afrobeat orchestra, bnegao, brasil, comet, cometrecords, Paris
****
<a href='https://cometrecords.bandcamp.com'>Comet</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003643770_23.jpg' />
<br>
tags: africa, african music, cometrec, world, abayomy, africa, afrobeat orchestra, bnegao, brasil, comet, cometrecords, Paris