**METADATA**
TAGS: kalamazoo, minutes, prf, rock, Kalamazoo
****
<a href='https://comedyminusone.bandcamp.com'>Comedy Minus One</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006708504_23.jpg' />
<br>
tags: kalamazoo, minutes, prf, rock, Kalamazoo