**METADATA**
TAGS: hip-hop/rap, electronic, funk, hip-hop, rap, soul, Detroit
****
<a href='https://computerugly.bandcamp.com'>Computer Ugly</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004252839_23.jpg' />
<br>
tags: hip-hop/rap, electronic, funk, hip-hop, rap, soul, Detroit