**METADATA**
TAGS: Jazz, Psychedelic, Soul, R&B, RockandRoll, Alternative
****
<a href='https://companyrecs.bandcamp.com'>Company Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007086298_23.jpg' />
<br>
tags: Jazz,Psychedelic,Soul,R&B,RockandRoll,Alternative
