**METADATA**
TAGS: spoken word, christian, poetry, religious, slam poetry, Detroit
****
<a href='https://conspiritorco.bandcamp.com'>Conspiritor Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004382306_23.jpg' />
<br>
tags: spoken word, christian, poetry, religious, slam poetry, Detroit