**METADATA**
TAGS: experimental, lille, montréal, lo-fi, outsider, psychedelic, Montreal
****
<a href='https://constellation.bandcamp.com'>Constellation Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008083227_23.jpg' />
<br>
tags: experimental, lille, montréal, lo-fi, outsider, psychedelic, Montreal