**METADATA**
TAGS: caboolture, doris and the daggers, mexico, pavement, spiral stairs, indie rock, slacker, Brisbane
****
<a href='https://coolinbysound.bandcamp.com'>Coolin' By Sound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007942729_23.jpg' />
<br>
tags: caboolture, doris and the daggers, mexico, pavement, spiral stairs, indie rock, slacker, Brisbane