**METADATA**
TAGS: electronic, darkwave, demon funk, dungeon synth, horror, synthwave, Toronto
****
<a href='https://coppersound.bandcamp.com'>Copper Sound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009249784_23.jpg' />
<br>
tags: electronic, darkwave, demon funk, dungeon synth, horror, synthwave, Toronto