**METADATA**
TAGS: world, africa, afro-beat, world, Montreal
****
<a href='https://costumerecords.bandcamp.com'>Costume Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006357830_23.jpg' />
<br>
tags: world, africa, afro-beat, world, Montreal