**METADATA**
TAGS: #gospel, #jazz gospel, #praise and worship, #singer-songwriter, devotional, California
****
<a href='https://cottonministries.bandcamp.com'>Cotton Ministries</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009442365_23.jpg' />
<br>
tags: #gospel, #jazz gospel, #praise and worship, #singer-songwriter, devotional, California