**METADATA**
TAGS: bass, drums, jazz, nes, nintendo, piano, video game music, video game themes, video games, Arvada
****
<a href='https://covervillerecords.bandcamp.com'>Coverville Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007165111_23.jpg' />
<br>
tags: bass, drums, jazz, nes, nintendo, piano, video game music, video game themes, video games, Arvada