**METADATA**
TAGS: electronic, big beat, breakbeat, electronic, swing, trip hop, Lille
****
<a href='https://creamofthecrop.bandcamp.com'>Cream of the Crop</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005186235_23.jpg' />
<br>
tags: electronic, big beat, breakbeat, electronic, swing, trip hop, Lille