**METADATA**
TAGS: black metal, crush the desert, folk, heathen, kolovrat, pagan, perun, slava, slavonic, volkolak, France
****
<a href='https://crushthedesert.bandcamp.com'>Crush The Desert Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005354294_23.jpg' />
<br>
tags: black metal, crush the desert, folk, heathen, kolovrat, pagan, perun, slava, slavonic, volkolak, France