**METADATA**
TAGS: hip-hop/rap, christian hip hop, christian rap, hip hop, rap, Chicago
****
<a href='https://ctznmusic.bandcamp.com'>CTZN MUSIC</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005550732_23.jpg' />
<br>
tags: hip-hop/rap, christian hip hop, christian rap, hip hop, rap, Chicago