**METADATA**
TAGS: jazz hop, alternative hip-hop, chill hop, chillout, hip_hop, poetry, trip hop, London
****
<a href='https://cultclassicrecords.bandcamp.com'>Cult Classic Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008046817_23.jpg' />
<br>
tags: jazz hop, alternative hip-hop, chill hop, chillout, hip_hop, poetry, trip hop, London