**METADATA**
TAGS: Acoustic, spokenword, worldmusic, ambient, naturesounds, newage
****
<a href='https://curveblue.bandcamp.com'>Curve Blue</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001366451_23.jpg' />
<br>
tags: Acoustic,spokenword,worldmusic,ambient,naturesounds,newage
