**METADATA**
TAGS: r&b, r&b/soul, soul, pop, New York
****
<a href='https://dalarecords.bandcamp.com'>Dala Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007807988_23.jpg' />
<br>
tags: r&b, r&b/soul, soul, pop, New York