**METADATA**
TAGS: dancers, edm, hip hop, hip-hop/rap, trap, battles, beat, beat tape, chill, instrumental, Latvia
****
<a href='https://danceproject.bandcamp.com'>Danceproject</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002592328_23.jpg' />
<br>
tags: dancers, edm, hip hop, hip-hop/rap, trap, battles, beat, beat tape, chill, instrumental, Latvia