**METADATA**
TAGS: r&b/soul, New York
****
<a href='https://daptonerecords.bandcamp.com'>Daptone Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004556080_23.jpg' />
<br>
tags: r&b/soul, New York