**METADATA**
TAGS: 666, alex zelenka, blackshots, dark dizco, Stockholm
****
<a href='https://darkdizco.bandcamp.com'>DarkDizco</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008559864_23.jpg' />
<br>
tags: 666, alex zelenka, blackshots, dark dizco, Stockholm