**METADATA**
TAGS: electronic, psychedelic trance, derango, forest, parvati records, psychedelic trance, Argentina
****
<a href='https://darkprisma.bandcamp.com'>Dark Prisma Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008893172_23.jpg' />
<br>
tags: electronic, psychedelic trance, derango, forest, parvati records, psychedelic trance, Argentina