**METADATA**
TAGS: pop, indiepop, Sacramento
****
<a href='https://darlamusic.bandcamp.com'>Darla Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003600751_23.jpg' />
<br>
tags: pop, indiepop, Sacramento