**METADATA**
TAGS: indie, pop, indie pop, Los Angeles
****
<a href='https://dashgo.bandcamp.com'>DashGo</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009482908_23.jpg' />
<br>
tags: indie, pop, indie pop, Los Angeles