**METADATA**
TAGS: experimental, northcote, rhyll, tape, Melbourne
****
<a href='https://daydot.bandcamp.com'>Day Dot</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008153962_23.jpg' />
<br>
tags: experimental, northcote, rhyll, tape, Melbourne