**METADATA**
TAGS: italian occult, charity, doom, drone, experimental, heavy psych, krautrock, psychedelic, space rock, stoner, United Kingdom
****
<a href='https://dayzofpurpleandorange.bandcamp.com'>Dayz Of Purple And Orange</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007361473_23.jpg' />
<br>
tags: italian occult, charity, doom, drone, experimental, heavy psych, krautrock, psychedelic, space rock, stoner, United Kingdom