**METADATA**
TAGS: 80's rock, axl rose, guns n' roses, hard rock, rock, glam rock, hair metal, hard rock, sleaze, Los Angeles
****
<a href='https://deadlinemusic.bandcamp.com'>Deadline Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005407154_23.jpg' />
<br>
tags: 80's rock, axl rose, guns n' roses, hard rock, rock, glam rock, hair metal, hard rock, sleaze, Los Angeles