**METADATA**
TAGS: black metal, death metal, poland, thrash metal, Marietta
****
<a href='https://deathgasmrecords.bandcamp.com'>Deathgasm Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007722404_23.jpg' />
<br>
tags: black metal, death metal, poland, thrash metal, Marietta