**METADATA**
TAGS: death metal
****
<a href='https://deathprotector.bandcamp.com'>Death Protector Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009161603_23.jpg' />
<br>
tags: death metal
