**METADATA**
TAGS: metal, wemf, boston, hardcore, heavymetal, metal, noise, punk, Boston
****
<a href='https://deathkiss.bandcamp.com'>Deathkiss</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009616636_23.jpg' />
<br>
tags: metal, wemf, boston, hardcore, heavymetal, metal, noise, punk, Boston