**METADATA**
TAGS: alexi delano, electronic, house, jem stone, joseph s joyce, mononoid, techno, chillout, electronica, howie b, indie electronic, song, techno, terry francis, vocal, Los Angeles
****
<a href='https://defaultposition.bandcamp.com'>Default Position</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007895006_23.jpg' />
<br>
tags: alexi delano, electronic, house, jem stone, joseph s joyce, mononoid, techno, chillout, electronica, howie b, indie electronic, song, techno, terry francis, vocal, Los Angeles