**METADATA**
TAGS: unknown
****
<a href='https://defiantmusicentertainment.bandcamp.com'>Defiant Music Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004895839_23.jpg' />
<br>
tags: unknown
