**METADATA**
TAGS: ambient, black metal, dungeon synth, fantasy music, medieval, neoclassical, soundtrack, Germany
****
<a href='https://deivlforst.bandcamp.com'>Deivlforst Rec</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008840955_23.jpg' />
<br>
tags: ambient, black metal, dungeon synth, fantasy music, medieval, neoclassical, soundtrack, Germany