**METADATA**
TAGS: indie pop, pop, rock, bossa nova, electro, indie pop, indie rock, jazz, soul, weird, Lexington
****
<a href='https://desperatespirits.bandcamp.com'>Desperate Spirits</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008840972_23.jpg' />
<br>
tags: indie pop, pop, rock, bossa nova, electro, indie pop, indie rock, jazz, soul, weird, Lexington