**METADATA**
TAGS: acoustic, alternative, electronic, modern western, self produced, art, producer, singer-songwriter, Los Angeles
****
<a href='https://dessertedcity.bandcamp.com'>Desserted City</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007903927_23.jpg' />
<br>
tags: acoustic, alternative, electronic, modern western, self produced, art, producer, singer-songwriter, Los Angeles