**METADATA**
TAGS: experimental, avant-pop, experimental pop, toymusic, Japan
****
<a href='https://dewfallrecords.bandcamp.com'>Dewfall Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008392252_23.jpg' />
<br>
tags: experimental, avant-pop, experimental pop, toymusic, Japan