**METADATA**
TAGS: metal, doom metal, experimental rock, sludge metal, Michigan
****
<a href='https://dgrecords.bandcamp.com'>DGRecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007520495_23.jpg' />
<br>
tags: metal, doom metal, experimental rock, sludge metal, Michigan