**METADATA**
TAGS: electronic, nyc, new retro wave, newretrowave, pop, retro electro, retrowave, synthpop, synthwave, Philadelphia
****
<a href='http://digitallybranded.com'>Digitally Branded</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007562361_23.jpg' />
<br>
tags: electronic, nyc, new retro wave, newretrowave, pop, retro electro, retrowave, synthpop, synthwave, Philadelphia