**METADATA**
TAGS: metal, punk, rock, psychedelic, stoner rock, London
****
<a href='http://dirtymelody.com'>dirty melody</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006407687_23.jpg' />
<br>
tags: metal, punk, rock, psychedelic, stoner rock, London