**METADATA**
TAGS: dischord, punk, washington dc, dischord, Washington
****
<a href='https://dischord.bandcamp.com'>Dischord Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007209965_23.jpg' />
<br>
tags: dischord, punk, washington dc, dischord, Washington