**METADATA**
TAGS: electronic, grime, house, electronica, grime, hip hop, hiphop instrumental, house, producer, London
****
<a href='https://disruptltd.bandcamp.com'>Disrupt</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004465622_23.jpg' />
<br>
tags: electronic, grime, house, electronica, grime, hip hop, hiphop instrumental, house, producer, London