**METADATA**
TAGS: electronic soul, future soul, nu soul, r&b/soul, dream pop, New York
****
<a href='http://music.dorightmusic.com'>Do Right Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001073339_23.jpg' />
<br>
tags: electronic soul, future soul, nu soul, r&b/soul, dream pop, New York