**METADATA**
TAGS: Fort Lauderdale
****
<a href='https://doginthenightrecords.bandcamp.com'>Dog In The Night Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008058346_23.jpg' />
<br>
tags: Fort Lauderdale