**METADATA**
TAGS: drum & bass, bass, bass house, dnb, future, grime, house, trap, wobble, Amsterdam
****
<a href='https://doggtownrecords.bandcamp.com'>Doggtown Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005803711_23.jpg' />
<br>
tags: drum & bass, bass, bass house, dnb, future, grime, house, trap, wobble, Amsterdam