**METADATA**
TAGS: rock, banditos, dogsbody, doom, drums, metal, punk, records, rock, stoner, surf, zen, Ypsilanti
****
<a href='https://dogsbodyrecordsa2.bandcamp.com'>Dogsbody Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006963387_23.jpg' />
<br>
tags: rock, banditos, dogsbody, doom, drums, metal, punk, records, rock, stoner, surf, zen, Ypsilanti