**METADATA**
TAGS: electronic, rap, doomtree, electronic, hip-hop, instrumental, Minneapolis
****
<a href='https://doomtree.bandcamp.com'>Doomtree</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003863094_23.jpg' />
<br>
tags: electronic, rap, doomtree, electronic, hip-hop, instrumental, Minneapolis