**METADATA**
TAGS: hip-hop/rap, erykah badu, hiero, kendrick lamar, mos def, soul, Oakland
****
<a href='https://dopeonly.bandcamp.com'>DopeOnly</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004832621_23.jpg' />
<br>
tags: hip-hop/rap, erykah badu, hiero, kendrick lamar, mos def, soul, Oakland