**METADATA**
TAGS: punk, alt rock, double lunch productions, post-punk, shoegaze, Edmonton
****
<a href='https://doublelunch.bandcamp.com'>Double Lunch</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008758653_23.jpg' />
<br>
tags: punk, alt rock, double lunch productions, post-punk, shoegaze, Edmonton