**METADATA**
TAGS: dchc, punk, wwhc, hardcore, metal, punk hardcore, Washington
****
<a href='https://downgraderecords.bandcamp.com'>Downgrade Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004610817_23.jpg' />
<br>
tags: dchc, punk, wwhc, hardcore, metal, punk hardcore, Washington