**METADATA**
TAGS: alan vega, noir, rock, suicide, home recording, noir, rock, Brooklyn
****
<a href='https://downpeninsula.bandcamp.com'>Down Peninsula Audio [DPA]</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009119875_23.jpg' />
<br>
tags: alan vega, noir, rock, suicide, home recording, noir, rock, Brooklyn