**METADATA**
TAGS: alternative, folk, drag city, psych folk, singer-songwriter, six organs of admittance, Holyoke
****
<a href='https://dragcity.bandcamp.com'>Drag City Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009137667_23.jpg' />
<br>
tags: alternative, folk, drag city, psych folk, singer-songwriter, six organs of admittance, Holyoke