**METADATA**
TAGS: same, clarence clarity, dummy records, London
****
<a href='https://dummymag.bandcamp.com'>Dummy Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007393569_23.jpg' />
<br>
tags: same, clarence clarity, dummy records, London