**METADATA**
TAGS: alternative, alternative country, folk, folk rock, indie folk, Melbourne
****
<a href='https://duskytracks.bandcamp.com'>Dusky Tracks</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008377597_23.jpg' />
<br>
tags: alternative, alternative country, folk, folk rock, indie folk, Melbourne