**METADATA**
TAGS: 80s, action, auxiliary tha masterfader, betamaxx, cinematic, compilation, electro, electronic, le cassette, mitch murder, mr maen, nite sprite, perturbator, remix, strut, vhs, Norway
****
<a href='https://dxseven.bandcamp.com'>DX SEVEN COLLECTIVE</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006974072_23.jpg' />
<br>
tags: 80s, action, auxiliary tha masterfader, betamaxx, cinematic, compilation, electro, electronic, le cassette, mitch murder, mr maen, nite sprite, perturbator, remix, strut, vhs, Norway