**METADATA**
TAGS: e-con, electronic, electronica, electro pop, power pop, synth pop, synthwave, Australia
****
<a href='https://e-con.bandcamp.com'>E-Con Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005072202_23.jpg' />
<br>
tags: e-con, electronic, electronica, electro pop, power pop, synth pop, synthwave, Australia