**METADATA**
TAGS: metal, nu metal, Bakersfield
****
<a href='https://earache.bandcamp.com'>Earache Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007303674_23.jpg' />
<br>
tags: metal, nu metal, Bakersfield