**METADATA**
TAGS: metal, ambient electronic, black metal, dark ambient, harsh noise, noise, Connecticut
****
<a href='https://earthrotrecords.bandcamp.com'>Earth Rot Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008273507_23.jpg' />
<br>
tags: metal, ambient electronic, black metal, dark ambient, harsh noise, noise, Connecticut