**METADATA**
TAGS: melodramatic pop, rock, Brooklyn
****
<a href='https://earthworkmusic.bandcamp.com'>Earthwork Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004685820_23.jpg' />
<br>
tags: melodramatic pop, rock, Brooklyn