**METADATA**
TAGS: folk, acoustic, blues, London
****
<a href='https://earthrecordings.bandcamp.com'>Earth Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004355050_23.jpg' />
<br>
tags: folk, acoustic, blues, London