**METADATA**
TAGS: sørøverblues, world, balkan, blues, fyrsten, hiphop, illusionisten, jazz, simon solem, tango, Copenhagen
****
<a href='https://echooutcph.bandcamp.com'>Echo Out Cph</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004780685_23.jpg' />
<br>
tags: sørøverblues, world, balkan, blues, fyrsten, hiphop, illusionisten, jazz, simon solem, tango, Copenhagen