**METADATA**
TAGS: ambient, bass, electronic, experimental, house, soundtrack, alternative, house, soul, techno, vocal, Memphis
****
<a href='https://edgewoodestate.bandcamp.com'>edgewood estate</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008152528_23.jpg' />
<br>
tags: ambient, bass, electronic, experimental, house, soundtrack, alternative, house, soul, techno, vocal, Memphis