**METADATA**
TAGS: alethia, christine, rock, alternative, norway, pop, Mo I Rana
****
<a href='https://eelegg.bandcamp.com'>Eel Egg Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004910500_23.jpg' />
<br>
tags: alethia, christine, rock, alternative, norway, pop, Mo I Rana