**METADATA**
TAGS: experimental, spoken word, italo disco, newage, performance art, Portland
****
<a href='https://eggyrecords.bandcamp.com'>Eggy Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006302921_23.jpg' />
<br>
tags: experimental, spoken word, italo disco, newage, performance art, Portland