**METADATA**
TAGS: electronic, garage house, deep house, electronic, garage house, house music, tribal house, New York
****
<a href='https://eightballrecords.bandcamp.com'>Eightball Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007070569_23.jpg' />
<br>
tags: electronic, garage house, deep house, electronic, garage house, house music, tribal house, New York