**METADATA**
TAGS: metal, pillorian, portland or, avantgarde, black metal, dark folk, dark metal, death metal, Portland
****
<a href='http://records.eisenton.de'>EISENWALD</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009195812_23.jpg' />
<br>
tags: metal, pillorian, portland or, avantgarde, black metal, dark folk, dark metal, death metal, Portland