**METADATA**
TAGS: electronic, canada, dark, darkwave, electronica, indie pop, synthpop, toronto, Toronto
****
<a href='https://electricbat.bandcamp.com'>Electric Bat Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008430657_23.jpg' />
<br>
tags: electronic, canada, dark, darkwave, electronica, indie pop, synthpop, toronto, Toronto