**METADATA**
TAGS: #club, #turnup, hip-hop/rap, rnb, banger, gangster rap, hood, new, trill, turnt, Shelby
****
<a href='https://embissymusicgroup.bandcamp.com'>EmbissyMusicGroup</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009474477_23.jpg' />
<br>
tags: #club, #turnup, hip-hop/rap, rnb, banger, gangster rap, hood, new, trill, turnt, Shelby