**METADATA**
TAGS: country, bluegrass, folk, hillbilly, Baltimore
****
<a href='https://emperorcountry.bandcamp.com'>Emperor Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004288954_23.jpg' />
<br>
tags: country, bluegrass, folk, hillbilly, Baltimore