**METADATA**
TAGS: soundtrack, action, adventure, emotional, epic music, epic north, fantasy, film music, film score, soundtrack, trailer music, Finland
****
<a href='https://epicnorth.bandcamp.com'>Epic North</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006586032_23.jpg' />
<br>
tags: soundtrack, action, adventure, emotional, epic music, epic north, fantasy, film music, film score, soundtrack, trailer music, Finland