**METADATA**
TAGS: alternative, indie, alternative, ambient rock, creative commons, digital, dramatic, electronic, electronica, guitar, indie, instrumental, instrumentals, Wichita
****
<a href='https://estivalproductions.bandcamp.com'>Estival Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007004250_23.jpg' />
<br>
tags: alternative, indie, alternative, ambient rock, creative commons, digital, dramatic, electronic, electronica, guitar, indie, instrumental, instrumentals, Wichita