**METADATA**
TAGS: cc by, creative commons, creative commons by, electronic, happy hardcore, rave, uk hardcore, Manchester
****
<a href='https://euphorikbeats.bandcamp.com'>EuphorikBeats.com</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003062685_23.jpg' />
<br>
tags: cc by, creative commons, creative commons by, electronic, happy hardcore, rave, uk hardcore, Manchester