**METADATA**
TAGS: rap, hip-hop/rap, chief, clarksville, etc, experiencetheculture, hip hop, hiphop, stillchief, stillfamilia, tennessee, tim gent, tn, Clarksville
****
<a href='https://experiencetheculture.bandcamp.com'>Experience The Culture</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005957611_23.jpg' />
<br>
tags: rap, hip-hop/rap, chief, clarksville, etc, experiencetheculture, hip hop, hiphop, stillchief, stillfamilia, tennessee, tim gent, tn, Clarksville