**METADATA**
TAGS: aaron dilloway, drone, experimental, robert turman, ambient music, dark ambient, synthesizer, New York
****
<a href='https://fabricarecords.bandcamp.com'>Fabrica Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005747307_23.jpg' />
<br>
tags: aaron dilloway, drone, experimental, robert turman, ambient music, dark ambient, synthesizer, New York