**METADATA**
TAGS: hip hop, fabricate, fabricate sounds, jazz, summers sons, uk, uk hip hop, United Kingdom
****
<a href='https://fabricatesounds.bandcamp.com'>fabricate SOUNDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004675621_23.jpg' />
<br>
tags: hip hop, fabricate, fabricate sounds, jazz, summers sons, uk, uk hip hop, United Kingdom