**METADATA**
TAGS: industrial, metaljunk, noise, Nagoya
****
<a href='https://faktoria.bandcamp.com'>faktoria</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004657674_23.jpg' />
<br>
tags: industrial, metaljunk, noise, Nagoya