**METADATA**
TAGS: atmospheric black metal, black metal, metal, mexico, Jackson
****
<a href='http://bandcamp.fallenempirerecords.com'>Fallen Empire Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008138150_23.jpg' />
<br>
tags: atmospheric black metal, black metal, metal, mexico, Jackson