**METADATA**
TAGS: 313phresh, familygrind, hip-hop/rap, werise, cmw2017, indie, truespeech, Detroit
****
<a href='https://familygrind.bandcamp.com'>Family Grind Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007709765_23.jpg' />
<br>
tags: 313phresh, familygrind, hip-hop/rap, werise, cmw2017, indie, truespeech, Detroit