**METADATA**
TAGS: hip-hop/rap, vibelane, vibelane, Phoenix
****
<a href='https://farfromcommercial.bandcamp.com'>Far From Commercial</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004349499_23.jpg' />
<br>
tags: hip-hop/rap, vibelane, vibelane, Phoenix