**METADATA**
TAGS: farfetched, hip hop, midwest, protest music, reclamation arts, st. louis, independent hip-hop, wearefarfetched, Saint Louis
****
<a href='http://wearefarfetched.net'>FarFetched</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000065319_23.jpg' />
<br>
tags: farfetched, hip hop, midwest, protest music, reclamation arts, st. louis, independent hip-hop, wearefarfetched, Saint Louis