**METADATA**
TAGS: beats, hip hop, hip-hop/rap, instrumentals, madlib, rap, underground, Los Angeles
****
<a href='https://fatbeatsrecords.bandcamp.com'>Fat Beats Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005334631_23.jpg' />
<br>
tags: beats, hip hop, hip-hop/rap, instrumentals, madlib, rap, underground, Los Angeles