**METADATA**
TAGS: alternative, indie, indie rock, live, rock, scottish rock, Glasgow
****
<a href='https://fatcatrecords.bandcamp.com'>fatcat_records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004326530_23.jpg' />
<br>
tags: alternative, indie, indie rock, live, rock, scottish rock, Glasgow