**METADATA**
TAGS: Pop, AlternativeR&B, R&B/Soul, R&B, FutureSoul, FutureR&B
****
<a href='https://fformat.bandcamp.com'>fformat</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004365315_23.jpg' />
<br>
tags: Pop,AlternativeR&B,R&B/Soul,R&B,FutureSoul,FutureR&B
