**METADATA**
TAGS: ambient, bering strait, boards of canada, idm, kiyoko, plaid, synkro, ambient techno, electronica, United Kingdom
****
<a href='https://fieldrec.bandcamp.com'>Field Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008873862_23.jpg' />
<br>
tags: ambient, bering strait, boards of canada, idm, kiyoko, plaid, synkro, ambient techno, electronica, United Kingdom