**METADATA**
TAGS: hip-hop/rap, alternative hip-hop, beat, beck, burger records, ceschi, doomtree, experimental hip-hop, indie rap, leftfield hip hop, open mike eagle, Minneapolis
****
<a href='https://fillinthebreaks.bandcamp.com'>FILL IN THE BREAKS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005107575_23.jpg' />
<br>
tags: hip-hop/rap, alternative hip-hop, beat, beck, burger records, ceschi, doomtree, experimental hip-hop, indie rap, leftfield hip hop, open mike eagle, Minneapolis