**METADATA**
TAGS: #jucity, hip hop, hip-hop/rap, underground, music new, r & b, rap, Jackson
****
<a href='https://finesseentertainment.bandcamp.com'>FinesseEntertainment\Causin Drama Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007617240_23.jpg' />
<br>
tags: #jucity, hip hop, hip-hop/rap, underground, music new, r & b, rap, Jackson