**METADATA**
TAGS: alternative, folk, indie, pop, soul, Melbourne
****
<a href='https://firstloverecords.bandcamp.com'>FIRST LOVE RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007024639_23.jpg' />
<br>
tags: alternative, folk, indie, pop, soul, Melbourne