**METADATA**
TAGS: instruemntal, hip-hop/rap, hip hop, r&b, London
****
<a href='https://fiveeasypieces.bandcamp.com'>Five Easy Pieces</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001506378_23.jpg' />
<br>
tags: instruemntal, hip-hop/rap, hip hop, r&b, London