**METADATA**
TAGS: experimental, instrumental hip-hop, beats, experimental, hip hop, instrumentals, rap, rap beats, Baltimore
****
<a href='https://flowfi.bandcamp.com'>Flow Fi</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005853954_23.jpg' />
<br>
tags: experimental, instrumental hip-hop, beats, experimental, hip hop, instrumentals, rap, rap beats, Baltimore