**METADATA**
TAGS: folk, New York
****
<a href='https://flyingmoonlight.bandcamp.com'>Flying Moonlight</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004359119_23.jpg' />
<br>
tags: folk, New York