**METADATA**
TAGS: 2017, austin millz, cyclone, fool’s gold records, hip-hop, rap, sessi, tunji ige, ye ali, fools gold, New York
****
<a href='https://foolsgoldrecs.bandcamp.com'>Fool's Gold Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009417987_23.jpg' />
<br>
tags: 2017, austin millz, cyclone, fool’s gold records, hip-hop, rap, sessi, tunji ige, ye ali, fools gold, New York