**METADATA**
TAGS: drum & bass, edm, electronic, house, trap, banger, dub, dubstep, dubstep & electronic, glitch, riddim, Florida
****
<a href='https://forcedrecordsofficial.bandcamp.com'>Forced Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004388998_23.jpg' />
<br>
tags: drum & bass, edm, electronic, house, trap, banger, dub, dubstep, dubstep & electronic, glitch, riddim, Florida