**METADATA**
TAGS: amos pitsch, black thumb, forward records, technicolor teeth, spacemen 3, tenement, Madison
****
<a href='https://forwardrecordsus.bandcamp.com'>Forward Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/a2163589723_7.jpg' />
<br>
tags: amos pitsch, black thumb, forward records, technicolor teeth, spacemen 3, tenement, Madison