**METADATA**
TAGS: blesone, djfleg, fleg, latin, latinfunk, movement, records, Hampstead
****
<a href='https://frsoulmovementfr.bandcamp.com'>FR</a>
<br>
<img data-src='https://f4.bcbits.com/img/a4077637602_7.jpg' />
<br>
tags: blesone, djfleg, fleg, latin, latinfunk, movement, records, Hampstead