**METADATA**
TAGS: r&b, r&b/soul, soul, neo soul, neo-soul, neosoul, soul, United Kingdom
****
<a href='https://freestylerecords.bandcamp.com'>Freestyle Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007132522_23.jpg' />
<br>
tags: r&b, r&b/soul, soul, neo soul, neo-soul, neosoul, soul, United Kingdom