**METADATA**
TAGS: folk, acoustic, folk, old-time, Virginia
****
<a href='https://freedirtrecords.bandcamp.com'>Free Dirt Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009625280_23.jpg' />
<br>
tags: folk, acoustic, folk, old-time, Virginia