**METADATA**
TAGS: alternative, dream pop, fuzz pop, indie, indie rock, shoegaze, Ypsilanti
****
<a href='https://friendshipfever.bandcamp.com'>Friendship Fever</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008142456_23.jpg' />
<br>
tags: alternative, dream pop, fuzz pop, indie, indie rock, shoegaze, Ypsilanti