**METADATA**
TAGS: electronic, los angeles, trap, beats, chill, chillout, earth, post-dubstep, Chicago
****
<a href='https://fofmusic.bandcamp.com'>Friends of Friends Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004093963_23.jpg' />
<br>
tags: electronic, los angeles, trap, beats, chill, chillout, earth, post-dubstep, Chicago