**METADATA**
TAGS: punk, black randy, dangerhouse, frontier records, los angeles underground, metrosquad, punk, Los Angeles
****
<a href='https://frontierrecords.bandcamp.com'>Frontier Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000098328_23.jpg' />
<br>
tags: punk, black randy, dangerhouse, frontier records, los angeles underground, metrosquad, punk, Los Angeles