**METADATA**
TAGS: clean plate club, hip hop, instrumental hip-hop, batsauce, beats, full plate, funk, hip hop instrumentals, instrumental, rap beats, Florida
****
<a href='https://fullplate.bandcamp.com'>FULL PLATE</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001556134_23.jpg' />
<br>
tags: clean plate club, hip hop, instrumental hip-hop, batsauce, beats, full plate, funk, hip hop instrumentals, instrumental, rap beats, Florida