**METADATA**
TAGS: darkwave, goth, post-punk, synthpop, Louisville
****
<a href='https://funeralparty.bandcamp.com'>Funeral Party</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009663537_23.jpg' />
<br>
tags: darkwave, goth, post-punk, synthpop, Louisville