**METADATA**
TAGS: experimental, analogue, avant-garde, electronic, experimental electronic, futurism, idm, nature, organic, synth, Sydney
****
<a href='https://futuremodern.bandcamp.com'>Future Modern</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005639954_23.jpg' />
<br>
tags: experimental, analogue, avant-garde, electronic, experimental electronic, futurism, idm, nature, organic, synth, Sydney