**METADATA**
TAGS: electronic, pop, rnb, darkpop, Brisbane
****
<a href='https://futureclassic.bandcamp.com'>Future Classic</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000073625_23.jpg' />
<br>
tags: electronic, pop, rnb, darkpop, Brisbane