**METADATA**
TAGS: 160, drum & bass, electronic, future bass, ambient, dub, electronic, footwork jungle, garage, jungle, liquid dnb, psychedelic, uplifting, wave, Edmonton
****
<a href='https://futurerootsrecords.bandcamp.com'>Future Roots</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007564985_23.jpg' />
<br>
tags: 160, drum & bass, electronic, future bass, ambient, dub, electronic, footwork jungle, garage, jungle, liquid dnb, psychedelic, uplifting, wave, Edmonton