**METADATA**
TAGS: hisd, hip hop, king coz, king midas, radio galaxy, rappers i know, scottie spitten, the hue, Houston
****
<a href='https://rappersiknow.bandcamp.com'>FWMJ's Rappers I Know</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008385168_23.jpg' />
<br>
tags: hisd, hip hop, king coz, king midas, radio galaxy, rappers i know, scottie spitten, the hue, Houston