**METADATA**
TAGS: rock, melodic rock, powerpop, Oslo
****
<a href='https://fysiskformat.bandcamp.com'>FysiskFormat</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005432901_23.jpg' />
<br>
tags: rock, melodic rock, powerpop, Oslo