**METADATA**
TAGS: hip-hop/rap, acy, acyakat, gcentury, gfamily, oldshool, Vietnam
****
<a href='https://g-record.bandcamp.com'>G-Record</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005201738_23.jpg' />
<br>
tags: hip-hop/rap, acy, acyakat, gcentury, gfamily, oldshool, Vietnam