**METADATA**
TAGS: elephant six, laminated cat, olivia tremor control, rock, circulatory system, elephant 6, indie pop, psychedelic, pysch, Athens
****
<a href='https://gardengaterecords.bandcamp.com'>Garden Gate Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005513334_23.jpg' />
<br>
tags: elephant six, laminated cat, olivia tremor control, rock, circulatory system, elephant 6, indie pop, psychedelic, pysch, Athens