**METADATA**
TAGS: indiepop, Alternative, indiefolk, indierock, folk
****
<a href='https://gaylordspartymusic.bandcamp.com'>Gaylord's Party Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007776660_23.jpg' />
<br>
tags: indiepop,Alternative,indiefolk,indierock,folk
