**METADATA**
TAGS: r&b/soul, ggg, hip hop, hip-hop, jimi nu, pop, r&b hip hop soul, Atlanta
****
<a href='https://gggmusicgroup.bandcamp.com'>GGG Music Group, Inc.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004278296_23.jpg' />
<br>
tags: r&b/soul, ggg, hip hop, hip-hop, jimi nu, pop, r&b hip hop soul, Atlanta