**METADATA**
TAGS: rock, punk, punk rock, punk'n'roll, rock'n'roll, Regensburg
****
<a href='https://ghosttownnoize.bandcamp.com'>Ghost Town Noize</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006193709_23.jpg' />
<br>
tags: rock, punk, punk rock, punk'n'roll, rock'n'roll, Regensburg