**METADATA**
TAGS: 80s, electronic, dance, dark synth, new wave, synthwave, vgm, videogame music, videogame soundtrack, United States
****
<a href='https://girlfriendrecords.bandcamp.com'>Girlfriend Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/a2565033031_7.jpg' />
<br>
tags: 80s, electronic, dance, dark synth, new wave, synthwave, vgm, videogame music, videogame soundtrack, United States