**METADATA**
TAGS: jazz, fusion, guimbri, minimalism, Chicago
****
<a href='https://glitterbeat.bandcamp.com'>Glitterbeat Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006066677_23.jpg' />
<br>
tags: jazz, fusion, guimbri, minimalism, Chicago