**METADATA**
TAGS: disco, electronic, hellenic, house, soundtrack, techno, Athens
****
<a href='https://gloryhillstudio.bandcamp.com'>Glory Hill Studio</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008826673_23.jpg' />
<br>
tags: disco, electronic, hellenic, house, soundtrack, techno, Athens