**METADATA**
TAGS: Rock, stoner, Metal, punk, doom, grindcore, sound art
****
<a href='https://goatsoundstudios.bandcamp.com'>Goatsound</a>
<br>
<img src='https://f4.bcbits.com/img/0006966330_23.jpg' />
<br>
tags: Rock,stoner,Metal,punk,doom,grindcore,sound art
