**METADATA**
TAGS: Metal, punk, doom, grindcore, Rock, stoner
****
<a href='https://goatsoundstudios.bandcamp.com'>Goatsound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006966330_23.jpg' />
<br>
tags: Metal,punk,doom,grindcore,Rock,stoner
