**METADATA**
TAGS: 1968, folk, soundtrack, sugar sugar, the archies, bubble gum, bubble gum pop, bubblegum, bubblegum pop, cartoons, folk pop, oldies, pop, California
****
<a href='https://goldenlane.bandcamp.com'>Goldenlane</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006555662_23.jpg' />
<br>
tags: 1968, folk, soundtrack, sugar sugar, the archies, bubble gum, bubble gum pop, bubblegum, bubblegum pop, cartoons, folk pop, oldies, pop, California