**METADATA**
TAGS: alternative, rock, indie, pop, psychedelic, Charlotte
****
<a href='https://gldnbrwn.bandcamp.com'>Golden Brown</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009340344_23.jpg' />
<br>
tags: alternative, rock, indie, pop, psychedelic, Charlotte