**METADATA**
TAGS: hip-hop/rap, club, drill, grime, hip-hop, r&b, rap, Chicago
****
<a href='https://goldriver1.bandcamp.com'>Gold River</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006430682_23.jpg' />
<br>
tags: hip-hop/rap, club, drill, grime, hip-hop, r&b, rap, Chicago