**METADATA**
TAGS: bass, chino, edm, electronic
****
<a href='https://goodkidrecords.bandcamp.com'>Good Kid Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004436995_23.jpg' />
<br>
tags: bass, chino, edm, electronic