**METADATA**
TAGS: soulfulhouse, disco, r&b, Electronic, house, HipHop
****
<a href='https://goodforyourecords.bandcamp.com'>Good For You Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008358174_23.jpg' />
<br>
tags: soulfulhouse,disco,r&b,Electronic,house,HipHop
