**METADATA**
TAGS: alternative, brooklyn, indie rock, bushwick, garage rock, jangle, pop, powerpop, rock'n'roll, New York
****
<a href='https://gpstripes.bandcamp.com'>GP STRIPES</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008923096_23.jpg' />
<br>
tags: alternative, brooklyn, indie rock, bushwick, garage rock, jangle, pop, powerpop, rock'n'roll, New York