**METADATA**
TAGS: rock, australiana, country, pop, pub rock, punk, Sydney
****
<a href='https://grannyflatrecords.bandcamp.com'>grannyflatrecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006777142_23.jpg' />
<br>
tags: rock, australiana, country, pop, pub rock, punk, Sydney