**METADATA**
TAGS: electronic, ambient, minimal, trap, France
****
<a href='https://grassfactoryrecords.bandcamp.com'>Grass Factory Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007030651_23.jpg' />
<br>
tags: electronic, ambient, minimal, trap, France