**METADATA**
TAGS: experimental, live acoustic, violin, Bristol
****
<a href='https://greasytrucker.bandcamp.com'>GREASYTRUCKER</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007371466_23.jpg' />
<br>
tags: experimental, live acoustic, violin, Bristol