**METADATA**
TAGS: bush dancing, folk, irish dance music, bush band, irish music, Melbourne
****
<a href='https://greensouthrecords.bandcamp.com'>Green South Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009166186_23.jpg' />
<br>
tags: bush dancing, folk, irish dance music, bush band, irish music, Melbourne