**METADATA**
TAGS: blues, avant-garde, blues, improv, minimalist, New York
****
<a href='http://greeneavemusic.com'>Greene Avenue Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008443159_23.jpg' />
<br>
tags: blues, avant-garde, blues, improv, minimalist, New York