**METADATA**
TAGS: 4ad, alternative, dave schiffman, howie weinberg, john fryer, joe foster, tommy dietrick, creation records, experimental, noise pop, post-punk, psychedelic rock, shoegaze, sound city, trashcan sinatras, California
****
<a href='https://greenfuserecords.bandcamp.com'>Green Fuse Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007488782_23.jpg' />
<br>
tags: 4ad, alternative, dave schiffman, howie weinberg, john fryer, joe foster, tommy dietrick, creation records, experimental, noise pop, post-punk, psychedelic rock, shoegaze, sound city, trashcan sinatras, California