**METADATA**
TAGS: doom, groove, heavy, metal, metalcore, mosh, Sydney
****
<a href='https://greyscalerecords.bandcamp.com'>greyscalerecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009444951_23.jpg' />
<br>
tags: doom, groove, heavy, metal, metalcore, mosh, Sydney