**METADATA**
TAGS: dark, dark techno, hard, hard techno, techno, Barcelona
****
<a href='https://groovesoldiers.bandcamp.com'>Groove Soldiers Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009268506_23.jpg' />
<br>
tags: dark, dark techno, hard, hard techno, techno, Barcelona