**METADATA**
TAGS: acoustic, acoustic folk rock, Halifax
****
<a href='http://shop.groundswellmusic.ca'>GroundSwell Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006999015_23.jpg' />
<br>
tags: acoustic, acoustic folk rock, Halifax