**METADATA**
TAGS: gid lo phi 7layeroscillator, tx, yim sock, Austin
****
<a href='https://growthindecay.bandcamp.com'>Growth in Decay</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009217437_23.jpg' />
<br>
tags: gid lo phi 7layeroscillator, tx, yim sock, Austin