**METADATA**
TAGS: dhidalah, guruguru brain, psychedelic rock, space rock, Japan
****
<a href='https://gurugurubrain.bandcamp.com'>Guruguru Brain</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006939523_23.jpg' />
<br>
tags: dhidalah, guruguru brain, psychedelic rock, space rock, Japan