**METADATA**
TAGS: hip-hop, instrumental hip-hop, rap, ambiental, beats, boombap, bushido, experimental hip-hop, habitus collective, hiphop, Portugal
****
<a href='https://habituscollective.bandcamp.com'>Habitus</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006058111_23.jpg' />
<br>
tags: hip-hop, instrumental hip-hop, rap, ambiental, beats, boombap, bushido, experimental hip-hop, habitus collective, hiphop, Portugal