**METADATA**
TAGS: electronic, death disco, electronica, indie, krautrock, moog, synthpop, London
****
<a href='https://happyrobotsrecords.bandcamp.com'>Happy Robots Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004444539_23.jpg' />
<br>
tags: electronic, death disco, electronica, indie, krautrock, moog, synthpop, London