**METADATA**
TAGS: europe, folk, rock & roll, folk, indie rock, instrumental, instrumentals, pop, surf, Sevilla
****
<a href='https://happyplacerecords3.bandcamp.com'>HAPPY PLACE RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004315666_23.jpg' />
<br>
tags: europe, folk, rock & roll, folk, indie rock, instrumental, instrumentals, pop, surf, Sevilla