**METADATA**
TAGS: creatures from the edge ep, hm10, hardmoon london, hissman, perseus traxx, moonlee records, London
****
<a href='https://hardmoonlondon.bandcamp.com'>Hardmoon London</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004395673_23.jpg' />
<br>
tags: creatures from the edge ep, hm10, hardmoon london, hissman, perseus traxx, moonlee records, London