**METADATA**
TAGS: metal, grindcore, Santa Fe
****
<a href='https://hatestadium.bandcamp.com'>Hate Stadium</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008619996_23.jpg' />
<br>
tags: metal, grindcore, Santa Fe