**METADATA**
TAGS: australia, hip-hop, hip-hop/rap, perth, rap, downtempo, hiphop instrumental, instrumental, Albany
****
<a href='https://hearing-things.bandcamp.com'>Hearing Things</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008354365_23.jpg' />
<br>
tags: australia, hip-hop, hip-hop/rap, perth, rap, downtempo, hiphop instrumental, instrumental, Albany