**METADATA**
TAGS: art rock, chicago, experimental, heavy dose records, rock, garage punk, glam rock, protometal, punk, Denver
****
<a href='https://heavydoserecords.bandcamp.com'>Heavy Dose</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008392438_23.jpg' />
<br>
tags: art rock, chicago, experimental, heavy dose records, rock, garage punk, glam rock, protometal, punk, Denver