**METADATA**
TAGS: doom, doomcore, United Kingdom
****
<a href='https://hellfirerecords666.bandcamp.com'>HellfireRecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005947685_23.jpg' />
<br>
tags: doom, doomcore, United Kingdom