**METADATA**
TAGS: underground, hiphop, Hip-Hop/Rap, UKhiphop, grime, rap
****
<a href='https://highfocus.bandcamp.com'>High Focus</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004280476_23.jpg' />
<br>
tags: underground,hiphop,Hip-Hop/Rap,UKhiphop,grime,rap
