**METADATA**
TAGS: experimental, high mayhem, avant-garde, bass and drum, bass and drums, electroacoustic, experimental jazz, improvisation, noise, post punk, rock, Santa Fe
****
<a href='https://highmayhem.bandcamp.com'>High Mayhem</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003987731_23.jpg' />
<br>
tags: experimental, high mayhem, avant-garde, bass and drum, bass and drums, electroacoustic, experimental jazz, improvisation, noise, post punk, rock, Santa Fe