**METADATA**
TAGS: hip hop, hip-hop/rap, lessondary, soul, funk, Brooklyn
****
<a href='https://hipnottrecords.bandcamp.com'>HiPNOTT Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007341956_23.jpg' />
<br>
tags: hip hop, hip-hop/rap, lessondary, soul, funk, Brooklyn