**METADATA**
TAGS: hip-hop, hip-hop/rap, rap, alternative hip-hop, electronic, experimental, experimental hip-hop, jazz, psychadelic, trip hop, Seattle
****
<a href='https://homeskilletrecords.bandcamp.com'>HomeSkillet Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004898259_23.jpg' />
<br>
tags: hip-hop, hip-hop/rap, rap, alternative hip-hop, electronic, experimental, experimental hip-hop, jazz, psychadelic, trip hop, Seattle