**METADATA**
TAGS: energy, truth, TruthMusic, Hip-Hop/Rap, light
****
<a href='https://onlyhomies.bandcamp.com'>HOMIES ONLY</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004335977_23.jpg' />
<br>
tags: energy,truth,TruthMusic,Hip-Hop/Rap,light
