**METADATA**
TAGS: rock, hardcore, metal, punk, riffs, thrash, thrashcore, New Orleans
****
<a href='https://housecorerecords.bandcamp.com'>Housecore Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000061627_23.jpg' />
<br>
tags: rock, hardcore, metal, punk, riffs, thrash, thrashcore, New Orleans