**METADATA**
TAGS: hip-hop/rap, chosen, g vill, hip-hop, independent hip-hop, josie wells, mister cmo, outlaw josie wells, rap, underground hip hop, underground rap, Saint Paul
****
<a href='https://hustlebig.bandcamp.com'>Hustle Big</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007087638_23.jpg' />
<br>
tags: hip-hop/rap, chosen, g vill, hip-hop, independent hip-hop, josie wells, mister cmo, outlaw josie wells, rap, underground hip hop, underground rap, Saint Paul