**METADATA**
TAGS: metal, stephen o'malley, dark, doom, doom metal, drone, drone metal, experimental, experimental metal, extreme metal, sunn, New York
****
<a href='https://hydrahead.bandcamp.com'>Hydra Head Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003835479_23.jpg' />
<br>
tags: metal, stephen o'malley, dark, doom, doom metal, drone, drone metal, experimental, experimental metal, extreme metal, sunn, New York