**METADATA**
TAGS: hip-hop/rap, Miami
****
<a href='https://icesquadent.bandcamp.com'>ICE SQUAD ENTERTAINMENT</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009533138_23.jpg' />
<br>
tags: hip-hop/rap, Miami