**METADATA**
TAGS: progressive rock, rock, alternative pop, classic rock, female vocals, pop, singer-songwriter, San Francisco
****
<a href='https://ideaarts.bandcamp.com'>Idea Arts</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005810582_23.jpg' />
<br>
tags: progressive rock, rock, alternative pop, classic rock, female vocals, pop, singer-songwriter, San Francisco