**METADATA**
TAGS: dark ambient, electronic music, house, techo, Oakland
****
<a href='https://idolpatterns.bandcamp.com'>IDOL PATTERNS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008325069_23.jpg' />
<br>
tags: dark ambient, electronic music, house, techo, Oakland