**METADATA**
TAGS: psychedelic trance, darkpsy, darkpsytrance, nightpsy, psychedelic, psytrance, Sydney
****
<a href='https://indali.bandcamp.com'>Indali</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007131858_23.jpg' />
<br>
tags: psychedelic trance, darkpsy, darkpsytrance, nightpsy, psychedelic, psytrance, Sydney