**METADATA**
TAGS: pop, experimental, noise, pop, psychedelic, New Orleans
****
<a href='https://inflatedrecords.bandcamp.com'>Inflated Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000825075_23.jpg' />
<br>
tags: pop, experimental, noise, pop, psychedelic, New Orleans