**METADATA**
TAGS: hip-hop/rap, hip hop, Bournemouth
****
<a href='https://innermethod.bandcamp.com'>Inner Method Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003762459_23.jpg' />
<br>
tags: hip-hop/rap, hip hop, Bournemouth