**METADATA**
TAGS: hip-hop, hip-hop/rap, rap, commercial, freestyle rap, hip hop, underground, New York
****
<a href='https://innovativemusicgroup.bandcamp.com'>Innovative Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008047992_23.jpg' />
<br>
tags: hip-hop, hip-hop/rap, rap, commercial, freestyle rap, hip hop, underground, New York