**METADATA**
TAGS: hip-hop/rap, an interstate knox production, atlanta, interstate kings, interstate kings tv, level dinero, lynn tate, manola films, pop, r&b, rap, smoove roc, soul, tate productions, urban, Atlanta
****
<a href='https://interstatekingstv.bandcamp.com'>Interstate Kings Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009170918_23.jpg' />
<br>
tags: hip-hop/rap, an interstate knox production, atlanta, interstate kings, interstate kings tv, level dinero, lynn tate, manola films, pop, r&b, rap, smoove roc, soul, tate productions, urban, Atlanta