**METADATA**
TAGS: another man's treasure, codeman, harrisburg, hip hop, irc music group, ircmg, jaylz, rap, Traverse City
****
<a href='https://ircmg.bandcamp.com'>IRC Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001008075_23.jpg' />
<br>
tags: another man's treasure, codeman, harrisburg, hip hop, irc music group, ircmg, jaylz, rap, Traverse City