**METADATA**
TAGS: metal, black metal, speed metal, speedmetal, thrash, thrash metal, Uddevalla
****
<a href='https://irontyrant.bandcamp.com'>Iron Tyrant</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008634832_23.jpg' />
<br>
tags: metal, black metal, speed metal, speedmetal, thrash, thrash metal, Uddevalla