**METADATA**
TAGS: bogotá, colombia, jazz, jazz fusion, jazz latino, live, sinú jazz festival, avant-garde, jazz, Bogotá
****
<a href='https://itomusica.bandcamp.com'>ITO Musica</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007310914_23.jpg' />
<br>
tags: bogotá, colombia, jazz, jazz fusion, jazz latino, live, sinú jazz festival, avant-garde, jazz, Bogotá