**METADATA**
TAGS: alternative, indie, indie rock, Montreal
****
<a href='https://jagjaguwar.bandcamp.com'>Jagjaguwar</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005652164_23.jpg' />
<br>
tags: alternative, indie, indie rock, Montreal