**METADATA**
TAGS: bossa nova, brazil, hip hop, hip-hop/rap, jazz, new york, paris, rap, world, Orlando
****
<a href='https://javottimedia.bandcamp.com'>Javotti Media</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004638308_23.jpg' />
<br>
tags: bossa nova, brazil, hip hop, hip-hop/rap, jazz, new york, paris, rap, world, Orlando