**METADATA**
TAGS: swing, instrumental, lounge, jazz, Jazz, ambience
****
<a href='https://jazzcoffeecollective.bandcamp.com'>Jazz & Coffee Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008455441_23.jpg' />
<br>
tags: swing,instrumental,lounge,jazz,Jazz,ambience
