**METADATA**
TAGS: r&b, world, blues, gospel, jazz, reggae, rock, Jacksonville
****
<a href='https://bluegospelmusic.bandcamp.com'>Jerime Cortes</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005954212_23.jpg' />
<br>
tags: r&b, world, blues, gospel, jazz, reggae, rock, Jacksonville