**METADATA**
TAGS: americana., country, alt-country, country, country folk, country rock, Nashville
****
<a href='https://jerseyshorerecords.bandcamp.com'>JERSEY SHORE RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009635897_23.jpg' />
<br>
tags: americana., country, alt-country, country, country folk, country rock, Nashville