**METADATA**
TAGS: hip hop, hip-hop, rap, alternative hip-hop, experimental hip-hop, United Kingdom
****
<a href='https://jetjam.bandcamp.com'>Jet Jam</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006374432_23.jpg' />
<br>
tags: hip hop, hip-hop, rap, alternative hip-hop, experimental hip-hop, United Kingdom