**METADATA**
TAGS: instrumental hip-hop, beat tape, beat-tape, beats, cassette, hiphop, lofi, lofi hiphop, mixtape, Adelaide
****
<a href='https://jointventures.bandcamp.com'>joint ventures</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008774922_23.jpg' />
<br>
tags: instrumental hip-hop, beat tape, beat-tape, beats, cassette, hiphop, lofi, lofi hiphop, mixtape, Adelaide