**METADATA**
TAGS: folk, bedroom pop, indie, indie folk, indie pop, lo-fi, Wilmington
****
<a href='https://joyvoid.bandcamp.com'>Joy Void</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007483514_23.jpg' />
<br>
tags: folk, bedroom pop, indie, indie folk, indie pop, lo-fi, Wilmington