**METADATA**
TAGS: Rock, Indie, pop, Alternative, shoegaze
****
<a href='https://kaninerecords.bandcamp.com'>Kanine Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003274701_23.jpg' />
<br>
tags: Rock,Indie,pop,Alternative,shoegaze
