**METADATA**
TAGS: hip hop, hip-hop/rap, buggsy, experimental, experimental electronic, grime, hiphop, joker, Bristol
****
<a href='https://kapsizerecordings.bandcamp.com'>Kapsize</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006021721_23.jpg' />
<br>
tags: hip hop, hip-hop/rap, buggsy, experimental, experimental electronic, grime, hiphop, joker, Bristol