**METADATA**
TAGS: electronic, full on, goa, night psytrance, psytrance, Montpellier
****
<a href='http://label.karma-kusala.com'>Karma Kusala</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008568132_23.jpg' />
<br>
tags: electronic, full on, goa, night psytrance, psytrance, Montpellier