**METADATA**
TAGS: affkt, beatamines, dirty culture, edu imbernon, los suruba, mihai popoviciu, moonbootica, oliver schories, piemont, wally lopez, Berlin
****
<a href='https://kenorecords.bandcamp.com'>Keno Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007506682_23.jpg' />
<br>
tags: affkt, beatamines, dirty culture, edu imbernon, los suruba, mihai popoviciu, moonbootica, oliver schories, piemont, wally lopez, Berlin