**METADATA**
TAGS: electronic, electropunk, industrial, noise, post-punk, rhythmic noise, Germany
****
<a href='https://kesskill.bandcamp.com'>Kess Kill</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007258742_23.jpg' />
<br>
tags: electronic, electropunk, industrial, noise, post-punk, rhythmic noise, Germany