**METADATA**
TAGS: black milk, dtmd, eric lau, hip-hop/rap, j dilla, jake milliner, london, pete rock, soul, toine, producer, London
****
<a href='https://kilawattmusic.bandcamp.com'>Kilawatt Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001443597_23.jpg' />
<br>
tags: black milk, dtmd, eric lau, hip-hop/rap, j dilla, jake milliner, london, pete rock, soul, toine, producer, London