**METADATA**
TAGS: punk, punk rock, Osaka
****
<a href='https://killerboyrecords.bandcamp.com'>killer boy records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008746183_23.jpg' />
<br>
tags: punk, punk rock, Osaka