**METADATA**
TAGS: alternative, either, heatmiser, kill rock stars, mediafire, or, portland, rapidshare, rar, soundcloud, spotify, torrent, zip, Portland
****
<a href='https://killrockstars.bandcamp.com'>Kill Rock Stars</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004156244_23.jpg' />
<br>
tags: alternative, either, heatmiser, kill rock stars, mediafire, or, portland, rapidshare, rar, soundcloud, spotify, torrent, zip, Portland