**METADATA**
TAGS: brooklyn, fuzz, garage punk, rock, surf rock, doom surf, heavy psych, lo-fi, pizza, psych, reverb, sludge, stoner, New York
****
<a href='https://kingpizzarecords.bandcamp.com'>King Pizza Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007981952_23.jpg' />
<br>
tags: brooklyn, fuzz, garage punk, rock, surf rock, doom surf, heavy psych, lo-fi, pizza, psych, reverb, sludge, stoner, New York