**METADATA**
TAGS: 24bit, berlin school, ambient, ambient electronic, dark ambient, downtempo, electronic music, sounds, soundscapes, Kissing
****
<a href='https://kissingsounds.bandcamp.com'>Kissing Sounds</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008007809_23.jpg' />
<br>
tags: 24bit, berlin school, ambient, ambient electronic, dark ambient, downtempo, electronic music, sounds, soundscapes, Kissing