**METADATA**
TAGS: british, dance, hip hop, rap, rodman, funk, knights of frequency, new, Leeds
****
<a href='https://knightsoffrequency.bandcamp.com'>Knights of Frequency</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007880434_23.jpg' />
<br>
tags: british, dance, hip hop, rap, rodman, funk, knights of frequency, new, Leeds