**METADATA**
TAGS: ambient, doom pop, experimental, Stockholm
****
<a href='https://kranky.bandcamp.com'>kranky</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007912113_23.jpg' />
<br>
tags: ambient, doom pop, experimental, Stockholm