**METADATA**
TAGS: rock, folk rock, hard rock, pop rock, Montreal
****
<a href='https://l-abe.bandcamp.com'>L-A be | Let artists be</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007916730_23.jpg' />
<br>
tags: rock, folk rock, hard rock, pop rock, Montreal