**METADATA**
TAGS: #darkambient, ambient, ambient, chill, chillout, dark ambient, downtempo, psybient, psymbient, storytelling, Nicosia
****
<a href='https://l25entertainment2020.bandcamp.com'>L25 Entertainment Nicosia</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008955585_23.jpg' />
<br>
tags: #darkambient, ambient, ambient, chill, chillout, dark ambient, downtempo, psybient, psymbient, storytelling, Nicosia