**METADATA**
TAGS: punk, childless, dad, los angeles, Los Angeles
****
<a href='https://lasfine.bandcamp.com'>LA's FINE</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007994739_23.jpg' />
<br>
tags: punk, childless, dad, los angeles, Los Angeles