**METADATA**
TAGS: carpenter brut, electronic, soundtrack, synth, synthwave, Los Angeles
****
<a href='https://lakeshorerecords.bandcamp.com'>Lakeshorerecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008323696_23.jpg' />
<br>
tags: carpenter brut, electronic, soundtrack, synth, synthwave, Los Angeles