**METADATA**
TAGS: alternative, washington dc, alternative rock, diy punk, indie, loud, pop, post-punk, punk, Philadelphia
****
<a href='https://lame-orecords.bandcamp.com'>Lame-O Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003309617_23.jpg' />
<br>
tags: alternative, washington dc, alternative rock, diy punk, indie, loud, pop, post-punk, punk, Philadelphia