**METADATA**
TAGS: #bars, hip hop, hip-hop/rap, last laugh, bars, lyrical, michigan, underground hip hop, Sterling Heights
****
<a href='https://mittenmademusik.bandcamp.com'>Last Laugh Records, LLC</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006317167_23.jpg' />
<br>
tags: #bars, hip hop, hip-hop/rap, last laugh, bars, lyrical, michigan, underground hip hop, Sterling Heights