**METADATA**
TAGS: new zealand, rock, waiheke, punk rock, Auckland
****
<a href='https://lastlibretto.bandcamp.com'>Last Libretto</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008423194_23.jpg' />
<br>
tags: new zealand, rock, waiheke, punk rock, Auckland