**METADATA**
TAGS: Rock, acoustic, Electronic, HipHop, Rap, Alternative
****
<a href='https://latentsrecords.bandcamp.com'>Latent's Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007537275_23.jpg' />
<br>
tags: Rock,acoustic,Electronic,HipHop,Rap,Alternative
