**METADATA**
TAGS: fred fortin, gros mené, olivier langevin, pierre fortin, pierre girard, rock, Montréal
****
<a href='https://lazyatwork.bandcamp.com'>Lazy At Work</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009557632_23.jpg' />
<br>
tags: fred fortin, gros mené, olivier langevin, pierre fortin, pierre girard, rock, Montréal