**METADATA**
TAGS: alternative, alternative rock, indie rock, math rock, midwest emo, Miami
****
<a href='https://leavehomerecords.bandcamp.com'>Leave Home Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009523720_23.jpg' />
<br>
tags: alternative, alternative rock, indie rock, math rock, midwest emo, Miami