**METADATA**
TAGS: pop, grubby little hands, indie rock, lefse records, philadephia, pop, portland, psych, psych pop, psych rock, psychedelic, Philadelphia
****
<a href='https://lefserecords.bandcamp.com'>Lefse Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000870835_23.jpg' />
<br>
tags: pop, grubby little hands, indie rock, lefse records, philadephia, pop, portland, psych, psych pop, psych rock, psychedelic, Philadelphia