**METADATA**
TAGS: adesse versions, deep house, disco, house, New York
****
<a href='https://lphnyc.bandcamp.com'>Let's Play House</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009182406_23.jpg' />
<br>
tags: adesse versions, deep house, disco, house, New York