**METADATA**
TAGS: kids, גן ילדים, גננ, עלמה זק, קוסמ, שירי ילדים, Israel
****
<a href='https://levgroupmedia.bandcamp.com'>Lev Group Media</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009675189_23.jpg' />
<br>
tags: kids, גן ילדים, גננ, עלמה זק, קוסמ, שירי ילדים, Israel