**METADATA**
TAGS: 2016 election, election 2016, heather christian, liberty songs, protest music, sasha brown, stephanie ryan johnstone, New York
****
<a href='https://libertysongs.bandcamp.com'>Liberty Songs</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007773361_23.jpg' />
<br>
tags: 2016 election, election 2016, heather christian, liberty songs, protest music, sasha brown, stephanie ryan johnstone, New York