**METADATA**
TAGS: metal, rock, speedrock, stoner, Eindhoven
****
<a href='https://lighttownfidelity.bandcamp.com'>Lighttown Fidelity</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004453242_23.jpg' />
<br>
tags: metal, rock, speedrock, stoner, Eindhoven