**METADATA**
TAGS: israel, pop, concert, israeli music, live, piano based, piano pop, singer-songwriter, Israel
****
<a href='https://lilianschutzproductions.bandcamp.com'>lilian schutz productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006784662_23.jpg' />
<br>
tags: israel, pop, concert, israeli music, live, piano based, piano pop, singer-songwriter, Israel