**METADATA**
TAGS: pop, alternative rock, indie pop, the camerawalls, Bulacan
****
<a href='https://lilystarsrecords.bandcamp.com'>Lilystars Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002987812_23.jpg' />
<br>
tags: pop, alternative rock, indie pop, the camerawalls, Bulacan