**METADATA**
TAGS: electronic, récif, electro, french, paris, pop, synth pop, Paris
****
<a href='https://lipstick-music.bandcamp.com'>lipstick music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007755646_23.jpg' />
<br>
tags: electronic, récif, electro, french, paris, pop, synth pop, Paris