**METADATA**
TAGS: electronic, art pop, edm, electronic, electronic death music, Minneapolis
****
<a href='https://liquidfleece.bandcamp.com'>Liquid Fleece</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003630136_23.jpg' />
<br>
tags: electronic, art pop, edm, electronic, electronic death music, Minneapolis