**METADATA**
TAGS: electronic, bass, dubstep, future bass, future808, Shanghai
****
<a href='http://liquidambermusic.com'>Liquid Amber</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004121557_23.jpg' />
<br>
tags: electronic, bass, dubstep, future bass, future808, Shanghai