**METADATA**
TAGS: audiobooks, audiobook, fiction, mystery, short story, New Jersey
****
<a href='https://listenandliveaudio.bandcamp.com'>Listen & Live Audio</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004815039_23.jpg' />
<br>
tags: audiobooks, audiobook, fiction, mystery, short story, New Jersey