**METADATA**
TAGS: blay, blay vision, drill, grime, lit city trax, mazza beats, mazza murda, the vision, tottenham, London
****
<a href='https://litcitytrax.bandcamp.com'>Lit City Trax</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007165657_23.jpg' />
<br>
tags: blay, blay vision, drill, grime, lit city trax, mazza beats, mazza murda, the vision, tottenham, London