**METADATA**
TAGS: experimental, ambient, analog synth, bass, deathpop, electro, electronic, industrial, modular synth, noise, techno, Ireland
****
<a href='https://littlegemrecords.bandcamp.com'>Little Gem Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008302796_23.jpg' />
<br>
tags: experimental, ambient, analog synth, bass, deathpop, electro, electronic, industrial, modular synth, noise, techno, Ireland