**METADATA**
TAGS: alternative, children, children's music, funk, garage, kids, kids music, kidsmusic, punk, weird, Denver
****
<a href='https://littlehermanrecords.bandcamp.com'>Little Herman Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009534544_23.jpg' />
<br>
tags: alternative, children, children's music, funk, garage, kids, kids music, kidsmusic, punk, weird, Denver