**METADATA**
TAGS: folk, cajun, country, jazz, old time, western swing, Bristol
****
<a href='https://littleparadiserecords.bandcamp.com'>Little Paradise Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003884340_23.jpg' />
<br>
tags: folk, cajun, country, jazz, old time, western swing, Bristol