**METADATA**
TAGS: 90sdiscordish, politik punk, punk, Minot
****
<a href='http://littlesisyph.us'>Little Sisyphus</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006127988_23.jpg' />
<br>
tags: 90sdiscordish, politik punk, punk, Minot