**METADATA**
TAGS: alternative, electronic, kosmiche, punk, synth, synthpunknoisecrunk, improvised, krautrock, new wave, synthpunk, Brighton
****
<a href='https://littlemissecho.bandcamp.com'>Little Miss Echo Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006789253_23.jpg' />
<br>
tags: alternative, electronic, kosmiche, punk, synth, synthpunknoisecrunk, improvised, krautrock, new wave, synthpunk, Brighton