**METADATA**
TAGS: experimental, folk, country, songwriter, Newport
****
<a href='https://littlecricketrecords.bandcamp.com'>Little Cricket Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008643299_23.jpg' />
<br>
tags: experimental, folk, country, songwriter, Newport