**METADATA**
TAGS: acoustic, acoustic guitar, chaoconelgenero, chile, indie, malevocals, marriage equality, nogendermatters, poetry, Manizales
****
<a href='https://lluevenalces.bandcamp.com'>Lluevenalces Cofradía Netlabel</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007905988_23.jpg' />
<br>
tags: acoustic, acoustic guitar, chaoconelgenero, chile, indie, malevocals, marriage equality, nogendermatters, poetry, Manizales