**METADATA**
TAGS: detroit, psych-punk, punk, garage, psychedelic, space, Detroit
****
<a href='https://lo-behold.bandcamp.com'>LO & BEHOLD! Records & Books</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005924838_23.jpg' />
<br>
tags: detroit, psych-punk, punk, garage, psychedelic, space, Detroit