**METADATA**
TAGS: alternative, rock, fuzz, grunge, psychedelic, stoner rock, Leicester
****
<a href='https://lofihighfive.bandcamp.com'>Lo Fi High Five</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008459942_23.jpg' />
<br>
tags: alternative, rock, fuzz, grunge, psychedelic, stoner rock, Leicester