**METADATA**
TAGS: folk, blues, duo, singer-songwriter, Budapest
****
<a href='http://store.lonewaltz.com'>Lone Waltz Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006546646_23.jpg' />
<br>
tags: folk, blues, duo, singer-songwriter, Budapest