**METADATA**
TAGS: joe fonda, satoko fujii, avant-garde, bass, flute, free jazz, improvised music, jazz, piano, Milan
****
<a href='https://longsongrecords.bandcamp.com'>Long Song Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007990399_23.jpg' />
<br>
tags: joe fonda, satoko fujii, avant-garde, bass, flute, free jazz, improvised music, jazz, piano, Milan