**METADATA**
TAGS: acoustic, ambient, drone, experimental, film music, gopro, guitar, indie folk, instrumental, modern classical, Wisconsin
****
<a href='https://losttribesound.bandcamp.com'>Lost Tribe Sound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003488787_23.jpg' />
<br>
tags: acoustic, ambient, drone, experimental, film music, gopro, guitar, indie folk, instrumental, modern classical, Wisconsin