**METADATA**
TAGS: punk, carbondale, lost cross, metal, Carbondale
****
<a href='https://lostcrossrecords.bandcamp.com'>Lost Cross Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009247045_23.jpg' />
<br>
tags: punk, carbondale, lost cross, metal, Carbondale