**METADATA**
TAGS: archival, cassette, compilations, gospel, Chicago
****
<a href='https://lovelion.bandcamp.com'>Love Lion</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009327794_23.jpg' />
<br>
tags: archival, cassette, compilations, gospel, Chicago