**METADATA**
TAGS: hip hop, conscious, Madrid
****
<a href='http://shop.lovemonk.net'>Lovemonk</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003957628_23.jpg' />
<br>
tags: hip hop, conscious, Madrid