**METADATA**
TAGS: hip-hop/rap, hip hop, rap, real rap, street science, New York
****
<a href='https://ltymusicgroup.bandcamp.com'>LTY Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004677452_23.jpg' />
<br>
tags: hip-hop/rap, hip hop, rap, real rap, street science, New York