**METADATA**
TAGS: hip-hop/rap, trap, trap music, dark trap, darktrap, raw, Neung Sur Beuvron
****
<a href='https://lucid11.bandcamp.com'>Lucid</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007042099_23.jpg' />
<br>
tags: hip-hop/rap, trap, trap music, dark trap, darktrap, raw, Neung Sur Beuvron