**METADATA**
TAGS: beats, experimental, funk, hip-hop, hip-hop/rap, rap, beats, funk, hip_hop, nu-jazz, underground, Birmingham
****
<a href='https://lucrativeproductions.bandcamp.com'>Lucrative Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006215716_23.jpg' />
<br>
tags: beats, experimental, funk, hip-hop, hip-hop/rap, rap, beats, funk, hip_hop, nu-jazz, underground, Birmingham