**METADATA**
TAGS: #worldmusic, electronic, indie, latin-cumbia, pop punk, Lithuania
****
<a href='https://shownet.bandcamp.com'>M.P.3</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007979758_23.jpg' />
<br>
tags: #worldmusic, electronic, indie, latin-cumbia, pop punk, Lithuania