**METADATA**
TAGS: hip-hop/rap, Spain
****
<a href='https://magistermusicgroup.bandcamp.com'>Magister Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009517017_23.jpg' />
<br>
tags: hip-hop/rap, Spain