**METADATA**
TAGS: diy, punk, bubbledoom, power trio, psychedelic, riff rock, rock, stoner metal, volume worship, Burlington
****
<a href='http://store.merhq.com'>Magnetic Eye Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007404705_23.jpg' />
<br>
tags: diy, punk, bubbledoom, power trio, psychedelic, riff rock, rock, stoner metal, volume worship, Burlington