**METADATA**
TAGS: compilation, devon, fuzz, grunge, indie, major leagues, pop, punk, shoegaze, sour coast, United Kingdom
****
<a href='https://majorleaguesrecs.bandcamp.com'>Major Leagues</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008076648_23.jpg' />
<br>
tags: compilation, devon, fuzz, grunge, indie, major leagues, pop, punk, shoegaze, sour coast, United Kingdom