**METADATA**
TAGS: american history, audiobooks, founding fathers, politics, thomas jefferson, audiobook, Bismarck
****
<a href='https://makoche.bandcamp.com'>Makoché</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007080581_23.jpg' />
<br>
tags: american history, audiobooks, founding fathers, politics, thomas jefferson, audiobook, Bismarck