**METADATA**
TAGS: electronic, pop, berlin, dream pop, dream rap, electronic, indie pop, lo-fi, lo-fi pop, vibes, vocal harmonies, Berlin
****
<a href='https://mansionsandmillions.bandcamp.com'>Mansions and Millions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004604024_23.jpg' />
<br>
tags: electronic, pop, berlin, dream pop, dream rap, electronic, indie pop, lo-fi, lo-fi pop, vibes, vocal harmonies, Berlin