**METADATA**
TAGS: alternative, electro, electronica, indie, mowukis, pop, songwriting, video, live performance, podcast, Nuuk
****
<a href='http://marenostrumrecords.net'>MARE NOSTRUM Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006834687_23.jpg' />
<br>
tags: alternative, electro, electronica, indie, mowukis, pop, songwriting, video, live performance, podcast, Nuuk