**METADATA**
TAGS: asheville nc, few more days, live album, marmara, marmara records, michael libramento, shane parish, the mothlight, Seattle
****
<a href='https://marmararecords.bandcamp.com'>Marmara Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009603432_23.jpg' />
<br>
tags: asheville nc, few more days, live album, marmara, marmara records, michael libramento, shane parish, the mothlight, Seattle