**METADATA**
TAGS: alternative, alternative rock, ambient rock, folk rock, pop rock indie, soundtrack, Edinburgh
****
<a href='https://maskcarnival.bandcamp.com'>Mask Carnival</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004861010_23.jpg' />
<br>
tags: alternative, alternative rock, ambient rock, folk rock, pop rock indie, soundtrack, Edinburgh