**METADATA**
TAGS: rap, boldy james, hip hop, hip-hop/rap, house of blues, mass appeal, my first chemistry set, rap, the art of rock climbing, trapper's alley 2, hip hop, Detroit
****
<a href='https://massappealrecs.bandcamp.com'>Mass Appeal Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005427284_23.jpg' />
<br>
tags: rap, boldy james, hip hop, hip-hop/rap, house of blues, mass appeal, my first chemistry set, rap, the art of rock climbing, trapper's alley 2, hip hop, Detroit