**METADATA**
TAGS: toby fox, undertale, classical, piano, Seattle
****
<a href='https://materiacollective.bandcamp.com'>Materia Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008218915_23.jpg' />
<br>
tags: toby fox, undertale, classical, piano, Seattle