**METADATA**
TAGS: rock, alternative rock, blues rock, bluesrock, duo, frenchy, garage, garage punk, garagerock, western, Paris
****
<a href='https://maticoprod.bandcamp.com'>MATICO</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005394365_23.jpg' />
<br>
tags: rock, alternative rock, blues rock, bluesrock, duo, frenchy, garage, garage punk, garagerock, western, Paris