**METADATA**
TAGS: alternative, electronic, future soul, jazz fusion, r&b, soul, experiemental, psychadelic rock, Los Angeles
****
<a href='https://thematterworks.bandcamp.com'>MATTER</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005986528_23.jpg' />
<br>
tags: alternative, electronic, future soul, jazz fusion, r&b, soul, experiemental, psychadelic rock, Los Angeles