**METADATA**
TAGS: hip-hop/rap, bangers, beats, instrumental hip-hop, music, sample-based, Boston
****
<a href='https://maybenotrecords.bandcamp.com'>Maybe Not</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005286105_23.jpg' />
<br>
tags: hip-hop/rap, bangers, beats, instrumental hip-hop, music, sample-based, Boston