**METADATA**
TAGS: conscious hip-hop, hip-hop, hip-hop/rap, hp-hop, rap, soul, boombap, hip-hop instrumental, hip-hop. rap, instrumental hip-hop, soul hip hop, New York
****
<a href='https://mellomusicgroup.bandcamp.com'>Mello Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002777557_23.jpg' />
<br>
tags: conscious hip-hop, hip-hop, hip-hop/rap, hp-hop, rap, soul, boombap, hip-hop instrumental, hip-hop. rap, instrumental hip-hop, soul hip hop, New York