**METADATA**
TAGS: alternative, punk, rock, goth, gothic, Burlington
****
<a href='https://merchanddestroy.bandcamp.com'>Merch & Destroy</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009259086_23.jpg' />
<br>
tags: alternative, punk, rock, goth, gothic, Burlington