**METADATA**
TAGS: r&b/soul, contemporary r&b, Tampa
****
<a href='https://micsoloproductions.bandcamp.com'>Mic Solo Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005128156_23.jpg' />
<br>
tags: r&b/soul, contemporary r&b, Tampa