**METADATA**
TAGS: anrae, bass, california, future beats, rnb, san francisco, smooth, trap, Greensboro
****
<a href='https://midiboyz.bandcamp.com'>Midi보이즈</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007833195_23.jpg' />
<br>
tags: anrae, bass, california, future beats, rnb, san francisco, smooth, trap, Greensboro