**METADATA**
TAGS: alternative, jazzhop, millennium jazz music, the jazz jousters, beattape, easy listening, hiphop jazz, instrumental, world music, London
****
<a href='https://millenniumjazz.bandcamp.com'>Millennium Jazz Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003984404_23.jpg' />
<br>
tags: alternative, jazzhop, millennium jazz music, the jazz jousters, beattape, easy listening, hiphop jazz, instrumental, world music, London