**METADATA**
TAGS: pfirter, mindtrip, techno, Berlin
****
<a href='http://music.mindtripmusic.com'>MindTrip</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007814595_23.jpg' />
<br>
tags: pfirter, mindtrip, techno, Berlin