**METADATA**
TAGS: alternative, electronic, electronic rock, alternative, dark, electronic, industrial rock, Detroit
****
<a href='http://mindrecordings.com'>MiND Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005008789_23.jpg' />
<br>
tags: alternative, electronic, electronic rock, alternative, dark, electronic, industrial rock, Detroit