**METADATA**
TAGS: metal, punk, industrial, Sacramento
****
<a href='https://minusheadrecords.bandcamp.com'>Minus Head Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005489260_23.jpg' />
<br>
tags: metal, punk, industrial, Sacramento