**METADATA**
TAGS: electro, electronic, bass, darkwave, deathbass, deathstep, downtempo, hellstep, indie, synthwave, Pontoise
****
<a href='http://modernmythrecordings.com'>Modern Myth Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004555345_23.jpg' />
<br>
tags: electro, electronic, bass, darkwave, deathbass, deathstep, downtempo, hellstep, indie, synthwave, Pontoise