**METADATA**
TAGS: gangsta rap, hip-hop/rap, Virginia Beach
****
<a href='https://moneymonsterent.bandcamp.com'>Money Monster Ent</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008111636_23.jpg' />
<br>
tags: gangsta rap, hip-hop/rap, Virginia Beach