**METADATA**
TAGS: Punk, Meta-All, GarageRock, Rock, Noise
****
<a href='https://moneyfirerecords.bandcamp.com'>MONEY FIRE RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004842552_23.jpg' />
<br>
tags: Punk,Meta-All,GarageRock,Rock,Noise
