**METADATA**
TAGS: david torn, ecm, jazz, terje rypdal, tony levin, ecm, fusion jazz, fusions of all mentioned, jazz-rock, king crimson, progressive rock, stick men, London
****
<a href='https://moonjunerecords.bandcamp.com'>MoonJune Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004488364_23.jpg' />
<br>
tags: david torn, ecm, jazz, terje rypdal, tony levin, ecm, fusion jazz, fusions of all mentioned, jazz-rock, king crimson, progressive rock, stick men, London