**METADATA**
TAGS: rap, hiphop, Hip-Hop/Rap
****
<a href='http://mortiermusic.com'>Mortier Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002258768_23.jpg' />
<br>
tags: rap,hiphop,Hip-Hop/Rap
