**METADATA**
TAGS: acoustic guitar, american fusion, contemporary instrumental, jazz, jazz guitar, windham hill, acoustic, acoustic guitar, contemporary instrumental, folk, indian fusion, new age, smooth jazz, windham hill records, world fusion, St. Louis
****
<a href='https://mosbymusicgroup.bandcamp.com'>Mosby Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007877521_23.jpg' />
<br>
tags: acoustic guitar, american fusion, contemporary instrumental, jazz, jazz guitar, windham hill, acoustic, acoustic guitar, contemporary instrumental, folk, indian fusion, new age, smooth jazz, windham hill records, world fusion, St. Louis