**METADATA**
TAGS: alternative, noise..., punk, Gorey
****
<a href='https://motheruniverserecords.bandcamp.com'>Mother Universe Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005891694_23.jpg' />
<br>
tags: alternative, noise..., punk, Gorey