**METADATA**
TAGS: metal, doom metal, drone ambient, stoner rock, Saint Petersburg
****
<a href='https://motheraperecords.bandcamp.com'>Mother Ape Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005782084_23.jpg' />
<br>
tags: metal, doom metal, drone ambient, stoner rock, Saint Petersburg