**METADATA**
TAGS: pop, acoustic, acoustic guitar, ambient, experimental, folk, improvisation, instrumentals, noise, rock, London
****
<a href='https://mountwatatic.bandcamp.com'>Mount Watatic Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009346521_23.jpg' />
<br>
tags: pop, acoustic, acoustic guitar, ambient, experimental, folk, improvisation, instrumentals, noise, rock, London