**METADATA**
TAGS: americana, folk, roots, string band, Milwaukee
****
<a href='https://muddyrootsmusic.bandcamp.com'>Muddy Roots Music Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007806650_23.jpg' />
<br>
tags: americana, folk, roots, string band, Milwaukee