**METADATA**
TAGS: world, african, kenya, lullaby, luo, nairobi, traditional, Nairobi
****
<a href='https://musicbank.bandcamp.com'>Musicbank</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004964056_23.jpg' />
<br>
tags: world, african, kenya, lullaby, luo, nairobi, traditional, Nairobi