**METADATA**
TAGS: experimental, avantgarde, doom, doom metal, ebm, industrial, noise, Chicago
****
<a href='https://myproudmountain.bandcamp.com'>My Proud Mountain</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004901284_23.jpg' />
<br>
tags: experimental, avantgarde, doom, doom metal, ebm, industrial, noise, Chicago