**METADATA**
TAGS: donny hathaway, kem, maxwell, r&b, r.kelly, soul, tyrese, adult contemporary, charlie wilson, tank, Saint Louis
****
<a href='https://nguentertainment.bandcamp.com'>N.G.U. Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005679739_23.jpg' />
<br>
tags: donny hathaway, kem, maxwell, r&b, r.kelly, soul, tyrese, adult contemporary, charlie wilson, tank, Saint Louis