**METADATA**
TAGS: experimental, montgomery, nashville, hardcore, noise, Nashville
****
<a href='https://nailbattapes.bandcamp.com'>Nailbat Tapes</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008661776_23.jpg' />
<br>
tags: experimental, montgomery, nashville, hardcore, noise, Nashville