**METADATA**
TAGS: alternative, smadar akray, folk, ××¤×© ××¤×©, ×¡×××¨ ××§×¨××, Israel
****
<a href='http://music.nanadisc.co.il'>NaNa Disc | נענע דיסק</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008922600_23.jpg' />
<br>
tags: alternative, smadar akray, folk, ××¤×© ××¤×©, ×¡×××¨ ××§×¨××, Israel