**METADATA**
TAGS: ghetto metal, hip-hop/rap, beatdown, germanrap, ghetto metal, post-hardcore, posthardcore, Germany
****
<a href='http://nsddigital.com'>Never So Deep Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001512610_23.jpg' />
<br>
tags: ghetto metal, hip-hop/rap, beatdown, germanrap, ghetto metal, post-hardcore, posthardcore, Germany