**METADATA**
TAGS: alternative, rock, worship, alternative, alternative rock, indie, indie rock, Elmira
****
<a href='https://newvinemedia.bandcamp.com'>New Vine Media</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008439190_23.jpg' />
<br>
tags: alternative, rock, worship, alternative, alternative rock, indie, indie rock, Elmira