**METADATA**
TAGS: hip-hop, hip-hop/rap, rap, hip hop, r and b, rap, underground, San Antonio
****
<a href='https://newworldest.bandcamp.com'>New World Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004671378_23.jpg' />
<br>
tags: hip-hop, hip-hop/rap, rap, hip hop, r and b, rap, underground, San Antonio