**METADATA**
TAGS: americana, country, folk, singer-songwriter, acoustic, americana, country, cowboy, folk, lubbock, songwriter, texas, west texas, west virginia, Lubbock
****
<a href='https://newamericanfrontier.bandcamp.com'>New American Frontier</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008834588_23.jpg' />
<br>
tags: americana, country, folk, singer-songwriter, acoustic, americana, country, cowboy, folk, lubbock, songwriter, texas, west texas, west virginia, Lubbock