**METADATA**
TAGS: 16 wives, africa, afrique, cameroon, cameroun, hip-hop/rap, jovi, mboko, new bell music, pidgin, trap, Yaounde
****
<a href='https://newbellmusic.bandcamp.com'>New Bell Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004370950_23.jpg' />
<br>
tags: 16 wives, africa, afrique, cameroon, cameroun, hip-hop/rap, jovi, mboko, new bell music, pidgin, trap, Yaounde