**METADATA**
TAGS: rock, garage rock, psychrock, punk rock, Nashville
****
<a href='https://newwestrecords.bandcamp.com'>New West Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007274306_23.jpg' />
<br>
tags: rock, garage rock, psychrock, punk rock, Nashville