**METADATA**
TAGS: deep house, deep house music, electronic, house, house music, niko charidis, ss ventura, deep house, deep house music, newhouse grooves, Genk
****
<a href='https://newhousegrooves.bandcamp.com'>newHOUSE GROOVES</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004350352_23.jpg' />
<br>
tags: deep house, deep house music, electronic, house, house music, niko charidis, ss ventura, deep house, deep house music, newhouse grooves, Genk