**METADATA**
TAGS: cut la vis, reggae, reggae-dancehall-hip hop, Brighton
****
<a href='https://niceuprecords.bandcamp.com'>NICE UP! Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003483255_23.jpg' />
<br>
tags: cut la vis, reggae, reggae-dancehall-hip hop, Brighton