**METADATA**
TAGS: hip hop, hip-hop, hip-hop/rap, old school, rap, trap, freestyle rap, hip-hop, rap, Minneapolis
****
<a href='https://niceguycrew.bandcamp.com'>Nice Guy Crew</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004962122_23.jpg' />
<br>
tags: hip hop, hip-hop, hip-hop/rap, old school, rap, trap, freestyle rap, hip-hop, rap, Minneapolis