**METADATA**
TAGS: black metal, metal, atmospheric black metal, extreme metal, melodic black metal, United States
****
<a href='https://nightrhythmsatx.bandcamp.com'>Night Rhythms ATX</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008543112_23.jpg' />
<br>
tags: black metal, metal, atmospheric black metal, extreme metal, melodic black metal, United States