**METADATA**
TAGS: hip-hop/rap, diy record label, instrumental, noise, remix, underground rap, Chicago
****
<a href='https://nomoneymusic.bandcamp.com'>No Money Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004703315_23.jpg' />
<br>
tags: hip-hop/rap, diy record label, instrumental, noise, remix, underground rap, Chicago