**METADATA**
TAGS: hip-hop/rap, canada, hip-hop. rap, kendrick lamar, ottawa, underground, Ottawa
****
<a href='https://northriverrecords.bandcamp.com'>North River Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005374063_23.jpg' />
<br>
tags: hip-hop/rap, canada, hip-hop. rap, kendrick lamar, ottawa, underground, Ottawa