**METADATA**
TAGS: indie pop alternative punk, Glasgow
****
<a href='https://notunloved.bandcamp.com'>Not Unloved Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008899237_23.jpg' />
<br>
tags: indie pop alternative punk, Glasgow