**METADATA**
TAGS: alt country rock, country, country-alt, rock, sacremento, country, country rock, singer-songwriter, Loomis
****
<a href='https://nounmusicllc.bandcamp.com'>noun music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004605776_23.jpg' />
<br>
tags: alt country rock, country, country-alt, rock, sacremento, country, country rock, singer-songwriter, Loomis