**METADATA**
TAGS: blackened, dark, dark ambient, glitch, industrial, noise, post-industrial, rhytmic noise, techno, Moscow
****
<a href='https://nullsonics.bandcamp.com'>null sonics</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007708039_23.jpg' />
<br>
tags: blackened, dark, dark ambient, glitch, industrial, noise, post-industrial, rhytmic noise, techno, Moscow