**METADATA**
TAGS: punk, rockabilly, ska, garage, rock n roll, surf, Grand Rapids
****
<a href='https://number2tapes.bandcamp.com'>Number 2 Tapes</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005555101_23.jpg' />
<br>
tags: punk, rockabilly, ska, garage, rock n roll, surf, Grand Rapids