**METADATA**
TAGS: r&b/soul, United States
****
<a href='https://numerogroup.bandcamp.com'>Numero Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008158763_23.jpg' />
<br>
tags: r&b/soul, United States