**METADATA**
TAGS: acoustic, ccm, christian music, classical, jazz, praise, religious, violin, New Jersey
****
<a href='https://nvfactory.bandcamp.com'>NV MUSIC</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008344410_23.jpg' />
<br>
tags: acoustic, ccm, christian music, classical, jazz, praise, religious, violin, New Jersey