**METADATA**
TAGS: 2016, ambient, black metal, hip hop, hip-hop/rap, murder music, nyhla records, punk, shadow rap, trap, avante garde, Vancouver
****
<a href='https://nyhlarecords.bandcamp.com'>Nyhla Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008768292_23.jpg' />
<br>
tags: 2016, ambient, black metal, hip hop, hip-hop/rap, murder music, nyhla records, punk, shadow rap, trap, avante garde, Vancouver