**METADATA**
TAGS: alternative, brasil, brazilian music, experimental, experimental rock, Goiânia
****
<a href='https://oamas.bandcamp.com'>OAMAS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009403594_23.jpg' />
<br>
tags: alternative, brasil, brazilian music, experimental, experimental rock, Goiânia