**METADATA**
TAGS: hip-hop/rap, t.i., black print, dirty south, gangsta rap, houston, trae tha truth, Houston
****
<a href='https://oarfin.bandcamp.com'>OarFin</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004384163_23.jpg' />
<br>
tags: hip-hop/rap, t.i., black print, dirty south, gangsta rap, houston, trae tha truth, Houston