**METADATA**
TAGS: christian rap, dsbm, industrial, noise, sex music, tibetan throat singing, dark ambient, edm, Seattle
****
<a href='https://oblongboxtapes.bandcamp.com'>Oblong Box</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007343511_23.jpg' />
<br>
tags: christian rap, dsbm, industrial, noise, sex music, tibetan throat singing, dark ambient, edm, Seattle