**METADATA**
TAGS: black metal, hellenic black metal, metal, misanthropic black metal, misanthropy, nihilism, nihilistischen, oldschool black metal, Lamia
****
<a href='https://ogmiosug.bandcamp.com'>Ogmios Underground</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008434714_23.jpg' />
<br>
tags: black metal, hellenic black metal, metal, misanthropic black metal, misanthropy, nihilism, nihilistischen, oldschool black metal, Lamia