**METADATA**
TAGS: Pop, GlasgowCity, Glasgow, OliveGroveRecords, Christmas, Scotland
****
<a href='https://olivegrove.bandcamp.com'>Olive Grove Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000815303_23.jpg' />
<br>
tags: Pop,GlasgowCity,Glasgow,OliveGroveRecords,Christmas,Scotland
