**METADATA**
TAGS: detroit, disco, electronic, indie, r&b, tropicale, Brooklyn
****
<a href='http://store.om-records.com'>Om Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004379205_23.jpg' />
<br>
tags: detroit, disco, electronic, indie, r&b, tropicale, Brooklyn