**METADATA**
TAGS: cant get around me, deep, emotional, gritty, hip hop, hip hop music, lyrical, lyricism, proffit, rap, Little Rock
****
<a href='https://onthemapmusic.bandcamp.com'>On The Map Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005431310_23.jpg' />
<br>
tags: cant get around me, deep, emotional, gritty, hip hop, hip hop music, lyrical, lyricism, proffit, rap, Little Rock