**METADATA**
TAGS: alternative, icelandic, acoustic, folk, indie, indie folk, pop, singer-songwriter, synth-pop, Iceland
****
<a href='https://onelittleindian.bandcamp.com'>One Little Indian Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005970980_23.jpg' />
<br>
tags: alternative, icelandic, acoustic, folk, indie, indie folk, pop, singer-songwriter, synth-pop, Iceland