**METADATA**
TAGS: metal, ambient, instrumental, metalcore, progressive metal, rock, New Mexico
****
<a href='https://openmindsawake.bandcamp.com'>Open Minds Awake</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006697757_23.jpg' />
<br>
tags: metal, ambient, instrumental, metalcore, progressive metal, rock, New Mexico