**METADATA**
TAGS: beats, cover, hip hop instrumentals, jazz, jazz fusion, neo-jazz, neo-soul, pvdmusic, pat van dyke, Jersey City
****
<a href='https://opencrates.bandcamp.com'>Open Crates</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008934458_23.jpg' />
<br>
tags: beats, cover, hip hop instrumentals, jazz, jazz fusion, neo-jazz, neo-soul, pvdmusic, pat van dyke, Jersey City