**METADATA**
TAGS: optimo, the golden filter, analogue, dancefloor, hypno, Glasgow
****
<a href='https://optimomusic.bandcamp.com'>Optimo Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008209445_23.jpg' />
<br>
tags: optimo, the golden filter, analogue, dancefloor, hypno, Glasgow