**METADATA**
TAGS: acoustic, rock, acoustic guitar, blues, folk, funk, indie, orchestra, original music, pop, rock, singer-songwriter, strings, Chicago
****
<a href='https://orangelightstudio.bandcamp.com'>Orange Light Studio</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006514271_23.jpg' />
<br>
tags: acoustic, rock, acoustic guitar, blues, folk, funk, indie, orchestra, original music, pop, rock, singer-songwriter, strings, Chicago