**METADATA**
TAGS: metal, punk, rock, Albuquerque
****
<a href='https://orangewhiprecords.bandcamp.com'>Orange Whip Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009623591_23.jpg' />
<br>
tags: metal, punk, rock, Albuquerque