**METADATA**
TAGS: black metal, death metal, extreme death metal, extreme metal, metal, Glasgow
****
<a href='https://ordonocturnal.bandcamp.com'>Ordo Nocturnal</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008312332_23.jpg' />
<br>
tags: black metal, death metal, extreme death metal, extreme metal, metal, Glasgow