**METADATA**
TAGS: electronic, b.kun, bass, beat inc., beats, bologna, funk, hip hop, japan, jazz, Italy
****
<a href='https://originalcultures.bandcamp.com'>Original Cultures</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001452654_23.jpg' />
<br>
tags: electronic, b.kun, bass, beat inc., beats, bologna, funk, hip hop, japan, jazz, Italy