**METADATA**
TAGS: afrobeat, afrofunk, afrofusion, Paris
****
<a href='https://orikimusic.bandcamp.com'>ORIKI MUSIC</a>
<br>
<img data-src='https://f4.bcbits.com/img/a2513703057_7.jpg' />
<br>
tags: afrobeat, afrofunk, afrofusion, Paris