**METADATA**
TAGS: 60s, 70s, folk, jill barber, americana, canadiana, matthew barber, Toronto
****
<a href='https://outside-music.bandcamp.com'>Outside Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004167381_23.jpg' />
<br>
tags: 60s, 70s, folk, jill barber, americana, canadiana, matthew barber, Toronto