**METADATA**
TAGS: rock, surf rock, avant-garde, instrumental, surf, surf guitar, Dayton
****
<a href='https://overthoughtmusik.bandcamp.com'>Overthought Musik</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007494361_23.jpg' />
<br>
tags: rock, surf rock, avant-garde, instrumental, surf, surf guitar, Dayton