**METADATA**
TAGS: experimental psychedelic music, Poland
****
<a href='https://paintedchaosproject.bandcamp.com'>Painted Chaos Project</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008189736_23.jpg' />
<br>
tags: experimental psychedelic music, Poland