**METADATA**
TAGS: hip-hop/rap, Bowling Green
****
<a href='https://pandimicentertainment.bandcamp.com'>Pandimic Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006776942_23.jpg' />
<br>
tags: hip-hop/rap, Bowling Green