**METADATA**
TAGS: brooklyn, pop, garage, garage pop, indie, laura & greg, laura and greg, newyorkcity, pop, powerpop, New York
****
<a href='https://papergardenrecords.bandcamp.com'>Paper Garden Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007884211_23.jpg' />
<br>
tags: brooklyn, pop, garage, garage pop, indie, laura & greg, laura and greg, newyorkcity, pop, powerpop, New York