**METADATA**
TAGS: alabama, gangsta rap, hip hop, hip-hop/rap, rap, newjersey, southern rap, New Jersey
****
<a href='https://parallelthought.bandcamp.com'>Parallel Thought LTD</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004187487_23.jpg' />
<br>
tags: alabama, gangsta rap, hip hop, hip-hop/rap, rap, newjersey, southern rap, New Jersey