**METADATA**
TAGS: acoustic, alternative, experimental, alternative rock, august, indie, indie rock, lo_fi, Portland
****
<a href='https://paranoidfieldrecords.bandcamp.com'>ParanoidFieldRecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009568784_23.jpg' />
<br>
tags: acoustic, alternative, experimental, alternative rock, august, indie, indie rock, lo_fi, Portland