**METADATA**
TAGS: continum, electroacoustic, electronic, electronics, experimental, france, geomungo, korean, live electronics, parentheses records, tradition, world, sound art, Nantes
****
<a href='https://parenthesesrecords.bandcamp.com'>Parenthèses Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000062596_23.jpg' />
<br>
tags: continum, electroacoustic, electronic, electronics, experimental, france, geomungo, korean, live electronics, parentheses records, tradition, world, sound art, Nantes