**METADATA**
TAGS: hard rock, rock, the dillinger escape plan, alice in chains, mastodon, United States
****
<a href='https://partysmasherinc.bandcamp.com'>Party Smasher, Inc.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007955737_23.jpg' />
<br>
tags: hard rock, rock, the dillinger escape plan, alice in chains, mastodon, United States