**METADATA**
TAGS: alternative, acoustic pop, alternative pop, folk, singer-songwriter, Portland
****
<a href='https://partisanrecords.bandcamp.com'>Partisan Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008336397_23.jpg' />
<br>
tags: alternative, acoustic pop, alternative pop, folk, singer-songwriter, Portland