**METADATA**
TAGS: jazz, jazz, traditional jazz, Washington
****
<a href='https://passinthru.bandcamp.com'>Passin Thru</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006488621_23.jpg' />
<br>
tags: jazz, jazz, traditional jazz, Washington