**METADATA**
TAGS: garage., punk, rock, valdosta, garage rock, halloween music, monster music, punk rock, Valdosta
****
<a href='https://patchtownrecords.bandcamp.com'>Patch Town Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006324715_23.jpg' />
<br>
tags: garage., punk, rock, valdosta, garage rock, halloween music, monster music, punk rock, Valdosta