**METADATA**
TAGS: hip-hop/rap, jfranks, la, pmmc, paul fisher, peacemaker, rap, salva, rap, texas, texas rap, trap, San Antonio
****
<a href='https://peacemaker.bandcamp.com'>PEACEMAKER</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006751535_23.jpg' />
<br>
tags: hip-hop/rap, jfranks, la, pmmc, paul fisher, peacemaker, rap, salva, rap, texas, texas rap, trap, San Antonio