**METADATA**
TAGS: indie, shoegaze, alternative, dream pop, haunting, indie, laid back, post rock, singer song, Cheltenham
****
<a href='https://pedigreecuts.bandcamp.com'>Pedigree Cuts</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008286778_23.jpg' />
<br>
tags: indie, shoegaze, alternative, dream pop, haunting, indie, laid back, post rock, singer song, Cheltenham