**METADATA**
TAGS: electronic, experimental, trap, ambient, chill, dark ambient, vocal, Bristol
****
<a href='https://pegdoll.bandcamp.com'>Pegdoll</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006319744_23.jpg' />
<br>
tags: electronic, experimental, trap, ambient, chill, dark ambient, vocal, Bristol