**METADATA**
TAGS: ambient, atmospheric, drone, eco, field, japanese, lounge, relaxing, resort, silence, sky, sleep, yoga, yoga music, yogi, Japan
****
<a href='https://personote.bandcamp.com'>personote</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007309126_23.jpg' />
<br>
tags: ambient, atmospheric, drone, eco, field, japanese, lounge, relaxing, resort, silence, sky, sleep, yoga, yoga music, yogi, Japan