**METADATA**
TAGS: electronic, hatsune miku, o.n.o, parkgolf, phalanx, qrion, Sapporo
****
<a href='https://phalanx-music.bandcamp.com'>Phalanx</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005677114_23.jpg' />
<br>
tags: electronic, hatsune miku, o.n.o, parkgolf, phalanx, qrion, Sapporo