**METADATA**
TAGS: rock, surf rock, garage, indie, noir, pop, psychedelic, psychedelic surf, rock, sixties, sixties pop, sixties rock, spagetti, surf, surf rock, Philadelphia
****
<a href='https://pigfootrecords.bandcamp.com'>Pigfoot Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006755690_23.jpg' />
<br>
tags: rock, surf rock, garage, indie, noir, pop, psychedelic, psychedelic surf, rock, sixties, sixties pop, sixties rock, spagetti, surf, surf rock, Philadelphia