**METADATA**
TAGS: alternative, folk, indie, kyosko, pop, rescate, rock, spinetta, acustic, guitar, Ciudad Autónoma De Buenos Aires
****
<a href='https://planetharia.bandcamp.com'>Planetharia</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007295626_23.jpg' />
<br>
tags: alternative, folk, indie, kyosko, pop, rescate, rock, spinetta, acustic, guitar, Ciudad Autónoma De Buenos Aires