**METADATA**
TAGS: devotional, alternative, pop, Israel
****
<a href='https://platnummusicgroup.bandcamp.com'>Plat'num Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007437007_23.jpg' />
<br>
tags: devotional, alternative, pop, Israel