**METADATA**
TAGS: deep house music, electronic, deep house music, Dubai
****
<a href='https://plateau-records.bandcamp.com'>Plateau Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004726509_23.jpg' />
<br>
tags: deep house music, electronic, deep house music, Dubai