**METADATA**
TAGS: hiphop, instrumental, instrumental hip-hop, platformz, rap, rediculus, newmusic, newyork, Chicago
****
<a href='https://platformzrecords.bandcamp.com'>Platformz Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004779252_23.jpg' />
<br>
tags: hiphop, instrumental, instrumental hip-hop, platformz, rap, rediculus, newmusic, newyork, Chicago