**METADATA**
TAGS: alternative, beats., electronic, soul, electronic, funk, hiphop, soul, Chicago
****
<a href='https://plugresearchmusic.bandcamp.com'>Plug Research</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002781204_23.jpg' />
<br>
tags: alternative, beats., electronic, soul, electronic, funk, hiphop, soul, Chicago