**METADATA**
TAGS: rock, folk rock, garage pop, pop rock, pop.rock, Toulouse
****
<a href='https://popsisters.bandcamp.com'>POP SISTERS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006260236_23.jpg' />
<br>
tags: rock, folk rock, garage pop, pop rock, pop.rock, Toulouse