**METADATA**
TAGS: electronic, hip-hop, rap, beats, downtempo, instrumental, California
****
<a href='https://posoverneg.bandcamp.com'>POSITIVE OVER NEGATIVE</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007209734_23.jpg' />
<br>
tags: electronic, hip-hop, rap, beats, downtempo, instrumental, California