**METADATA**
TAGS: rock, indie rock, orange, pop rock, quebec, Montreal
****
<a href='https://silencedor.bandcamp.com'>Productions Silence d'or</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005078020_23.jpg' />
<br>
tags: rock, indie rock, orange, pop rock, quebec, Montreal