**METADATA**
TAGS: alternative, hip-hop, metal, nyc, rap, artrock, prog, progressive, weird, Los Angeles
****
<a href='https://publicschoolrecords.bandcamp.com'>Public School Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007086307_23.jpg' />
<br>
tags: alternative, hip-hop, metal, nyc, rap, artrock, prog, progressive, weird, Los Angeles