**METADATA**
TAGS: alternative, alternative hiphop, psychedelic, trip rock, urban rock, London
****
<a href='https://publicpressure.bandcamp.com'>Public Pressure</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007487813_23.jpg' />
<br>
tags: alternative, alternative hiphop, psychedelic, trip rock, urban rock, London