**METADATA**
TAGS: Metal, ThrashMetal, Grindcore, BlackMetal, DoomMetal, DeathMetal
****
<a href='https://pulverised.bandcamp.com'>Pulverised Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001936007_23.jpg' />
<br>
tags: Metal,ThrashMetal,Grindcore,BlackMetal,DoomMetal,DeathMetal
