**METADATA**
TAGS: BlackMetal, DoomMetal, DeathMetal, Metal, ThrashMetal, Grindcore
****
<a href='https://pulverised.bandcamp.com'>Pulverised Records</a>
<br>
<img src='https://f4.bcbits.com/img/0001936007_23.jpg' />
<br>
tags: BlackMetal,DoomMetal,DeathMetal,Metal,ThrashMetal,Grindcore
