**METADATA**
TAGS: hip-hop, hip-hop/rap, protect ya neck, r'n'b, rap, trap music, boundbymusic, emcee, grime, rapper, slowjam, team midnight music, Bristol
****
<a href='https://simplymidnightmusic.bandcamp.com'>quaranto</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005692599_23.jpg' />
<br>
tags: hip-hop, hip-hop/rap, protect ya neck, r'n'b, rap, trap music, boundbymusic, emcee, grime, rapper, slowjam, team midnight music, Bristol