**METADATA**
TAGS: hebrew, hip-hop/rap, israel, jerusalem, beats, independent hip-hop, raashhour, rap alternative, Tel Aviv Yafo
****
<a href='https://raashhour.bandcamp.com'>raasHHour</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004201165_23.jpg' />
<br>
tags: hebrew, hip-hop/rap, israel, jerusalem, beats, independent hip-hop, raashhour, rap alternative, Tel Aviv Yafo