**METADATA**
TAGS: defjam uk, dizzee rascal, hip hop, rap, reggae, taz, uk hiphop, reggae, reggae-dancehall-hip hop, unreleased, London
****
<a href='https://ramrock.bandcamp.com'>Ramrock</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005126433_23.jpg' />
<br>
tags: defjam uk, dizzee rascal, hip hop, rap, reggae, taz, uk hiphop, reggae, reggae-dancehall-hip hop, unreleased, London