**METADATA**
TAGS: acoustic, akustik, acoustic guitar, folk punk, indie, indie folk, singer, singer-songwriter, songwriter, studio session, Germany
****
<a href='https://randomdirt.bandcamp.com'>Random Dirt Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006275413_23.jpg' />
<br>
tags: acoustic, akustik, acoustic guitar, folk punk, indie, indie folk, singer, singer-songwriter, songwriter, studio session, Germany