**METADATA**
TAGS: 2017 hip hop, family, hassan hamilton, hip-hop/rap, las vegas rapper, rap is fun, prod. by phil a, Las Vegas
****
<a href='https://rapisfun.bandcamp.com'>Rap Is Fun</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007807682_23.jpg' />
<br>
tags: 2017 hip hop, family, hassan hamilton, hip-hop/rap, las vegas rapper, rap is fun, prod. by phil a, Las Vegas