**METADATA**
TAGS: alternative, indie, post-hardcore, post-punk, Umeå
****
<a href='https://razorandtie.bandcamp.com'>Razor & Tie</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003976191_23.jpg' />
<br>
tags: alternative, indie, post-hardcore, post-punk, Umeå