**METADATA**
TAGS: alternative, dream pop, indie, shoegaze, Hong Kong
****
<a href='http://recordsforchildren.com'>Records For Children</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005284952_23.jpg' />
<br>
tags: alternative, dream pop, indie, shoegaze, Hong Kong