**METADATA**
TAGS: 45 sessions, ammbush, dj saturn, e da boss, hip-hop/rap, ishtar, kicker dixon, bay area, funk, hip-hop, scratch, soul, Oakland
****
<a href='https://recordbreakin.bandcamp.com'>Recordbreakin</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000175608_23.jpg' />
<br>
tags: 45 sessions, ammbush, dj saturn, e da boss, hip-hop/rap, ishtar, kicker dixon, bay area, funk, hip-hop, scratch, soul, Oakland