**METADATA**
TAGS: r&b/soul, hip - hop, neo-soul, Toronto
****
<a href='https://recordkicks.bandcamp.com'>Record Kicks</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009618503_23.jpg' />
<br>
tags: r&b/soul, hip - hop, neo-soul, Toronto