**METADATA**
TAGS: brent wheeler, candlebox, detroit, mike leslie, rock, ty stone, acoustic, fear blind, flint, kid rock, machine shop, musicians institute, pop rock, Flint
****
<a href='https://redbloodcellsunited.bandcamp.com'>Red Blood Cells United</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007368874_23.jpg' />
<br>
tags: brent wheeler, candlebox, detroit, mike leslie, rock, ty stone, acoustic, fear blind, flint, kid rock, machine shop, musicians institute, pop rock, Flint