**METADATA**
TAGS: experimental, pop punk, soul, alternative rock, art rock, experimental folk, folk rock, funk, lo-fi, psychedelic rock, surf, London
****
<a href='https://redkashmir.bandcamp.com'>Red Kashmir</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006336988_23.jpg' />
<br>
tags: experimental, pop punk, soul, alternative rock, art rock, experimental folk, folk rock, funk, lo-fi, psychedelic rock, surf, London