**METADATA**
TAGS: hip-hop/rap, alternative, boom bap, instrumental, old school, underground, New York
****
<a href='https://reeldealrecords.bandcamp.com'>Reel Deal Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006878536_23.jpg' />
<br>
tags: hip-hop/rap, alternative, boom bap, instrumental, old school, underground, New York