**METADATA**
TAGS: #dancehall, #reggae, reggae, roots, Jamaica
****
<a href='https://reggaenationmusic.bandcamp.com'>Reggae Nation Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006824305_23.jpg' />
<br>
tags: #dancehall, #reggae, reggae, roots, Jamaica