**METADATA**
TAGS: pop, disco, electronic, folk, folk pop, indie, Melbourne
****
<a href='https://remotecontrol.bandcamp.com'>Remote Control</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003766829_23.jpg' />
<br>
tags: pop, disco, electronic, folk, folk pop, indie, Melbourne