**METADATA**
TAGS: reggae, digital, digital reggae, hip hop, reggae, riddim, Glasgow
****
<a href='https://renegademastersrecords.bandcamp.com'>Renegade Masters Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005070596_23.jpg' />
<br>
tags: reggae, digital, digital reggae, hip hop, reggae, riddim, Glasgow