**METADATA**
TAGS: down south, hip-hop/rap, artist, music, producer, rap & hip-hop, rap beats, underground rap, San Antonio
****
<a href='https://reservoirmusiccompanyinc.bandcamp.com'>RESERVOIR MUSIC COMPANY, INC.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004642751_23.jpg' />
<br>
tags: down south, hip-hop/rap, artist, music, producer, rap & hip-hop, rap beats, underground rap, San Antonio