**METADATA**
TAGS: alternative, edm, electronic, experimental, first nations, hip hop, hip-hop/rap, rap, spoken word, west coast north, aboriginal, beats, indigenous, Telkwa
****
<a href='https://rpmrecords.bandcamp.com'>Revolutions Per Minute</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008020448_23.jpg' />
<br>
tags: alternative, edm, electronic, experimental, first nations, hip hop, hip-hop/rap, rap, spoken word, west coast north, aboriginal, beats, indigenous, Telkwa