**METADATA**
TAGS: hip-hop/rap, Minneapolis
****
<a href='https://rhymesayers.bandcamp.com'>Rhymesayers Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005770392_23.jpg' />
<br>
tags: hip-hop/rap, Minneapolis