**METADATA**
TAGS: analouge, funk, psychedelic, psychedelic soul, r&b/soul, soul, chillwave, glofi, lofi, trip hop, trippy, Leicester
****
<a href='https://rhythmandreason.bandcamp.com'>Rhythm & Reason</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008159177_23.jpg' />
<br>
tags: analouge, funk, psychedelic, psychedelic soul, r&b/soul, soul, chillwave, glofi, lofi, trip hop, trippy, Leicester