**METADATA**
TAGS: electronic, Hip-Hop, Jazz, Soul, R&B, Rap
****
<a href='https://rightsi.bandcamp.com'>Rightsi</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007537912_23.jpg' />
<br>
tags: electronic,Hip-Hop,Jazz,Soul,R&B,Rap
