**METADATA**
TAGS: alternative, chaotic hardcore, hardcore punk, Lisboa
****
<a href='https://ringleaderlabel.bandcamp.com'>Ring Leader</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005201117_23.jpg' />
<br>
tags: alternative, chaotic hardcore, hardcore punk, Lisboa