**METADATA**
TAGS: morphamish, riot, riot radio records, techno, a quiet riot, Edinburgh
****
<a href='https://riotradiorecords.bandcamp.com'>RIOT Radio Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007532556_23.jpg' />
<br>
tags: morphamish, riot, riot radio records, techno, a quiet riot, Edinburgh