**METADATA**
TAGS: dj tools, deep house, techno, acapella, Detroit
****
<a href='https://rocksteadydisco.bandcamp.com'>Rocksteady Disco</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009025144_23.jpg' />
<br>
tags: dj tools, deep house, techno, acapella, Detroit