**METADATA**
TAGS: forever, hip-hop/rap, orlando fl, weirdos, dope, hip hop, rap, southern rap, trill, Orlando
****
<a href='https://rockyagirl.bandcamp.com'>Rock Ya Girl</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004343418_23.jpg' />
<br>
tags: forever, hip-hop/rap, orlando fl, weirdos, dope, hip hop, rap, southern rap, trill, Orlando