**METADATA**
TAGS: canção torta, devotional, Rio De Janeiro
****
<a href='https://rockitdigital.bandcamp.com'>Rock It Digital</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005073334_23.jpg' />
<br>
tags: canção torta, devotional, Rio De Janeiro