**METADATA**
TAGS: alternative, cosmic disco, progressive rock, swedish psych, krautrock, psychedelic rock, spacerock, Sweden
****
<a href='https://rocketrecordings.bandcamp.com'>Rocket Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006029347_23.jpg' />
<br>
tags: alternative, cosmic disco, progressive rock, swedish psych, krautrock, psychedelic rock, spacerock, Sweden