**METADATA**
TAGS: alternative, alternative rock, amplifier, metal, space rock, alternative rock, grunge, grungegaze, post metal, post-metal, prog metal, prog rock, shoe gaze, space rock, Sheffield
****
<a href='https://rockosmos.bandcamp.com'>Rockosmos</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008110366_23.jpg' />
<br>
tags: alternative, alternative rock, amplifier, metal, space rock, alternative rock, grunge, grungegaze, post metal, post-metal, prog metal, prog rock, shoe gaze, space rock, Sheffield