**METADATA**
TAGS: alternative, indie pop, indie rock, indie soul, singer-songwriter, soul, Stockholm
****
<a href='https://rollcall.bandcamp.com'>Roll Call Records and Management</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008495551_23.jpg' />
<br>
tags: alternative, indie pop, indie rock, indie soul, singer-songwriter, soul, Stockholm