**METADATA**
TAGS: death metal, extreme metal, metal, rock, grindcore, heavy metal, Bad Goisern
****
<a href='https://roofstone.bandcamp.com'>RoofStone</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008573777_23.jpg' />
<br>
tags: death metal, extreme metal, metal, rock, grindcore, heavy metal, Bad Goisern