**METADATA**
TAGS: rock, ambient, heavy hippy, psychedelic, Florida
****
<a href='http://bandcamp.roosterball.com'>Roosterball</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007217252_23.jpg' />
<br>
tags: rock, ambient, heavy hippy, psychedelic, Florida