**METADATA**
TAGS: broken beat, fairy dust, kris tidjan, roots underground, sofatalk, soul, Florence
****
<a href='https://rootsundergroundrecords.bandcamp.com'>Roots Underground Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005791639_23.jpg' />
<br>
tags: broken beat, fairy dust, kris tidjan, roots underground, sofatalk, soul, Florence