**METADATA**
TAGS: electronic, electro, synthwave, techno, video game, videogame, Paris
****
<a href='https://roymusiclabel.bandcamp.com'>ROY Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006194228_23.jpg' />
<br>
tags: electronic, electro, synthwave, techno, video game, videogame, Paris