**METADATA**
TAGS: #atl, #atlanta, #migos, #rollie, #royal, #uzi, #yachty, hip-hop, hip-hop/rap, rap, newatlanta, Atlanta
****
<a href='https://theroyalife.bandcamp.com'>Royal Life Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005019176_23.jpg' />
<br>
tags: #atl, #atlanta, #migos, #rollie, #royal, #uzi, #yachty, hip-hop, hip-hop/rap, rap, newatlanta, Atlanta