**METADATA**
TAGS: hip-hop/rap, best, chill, goodnight, hardcore, hip-hop, rap, rap italiano, underground, Turin
****
<a href='https://seastudio.bandcamp.com'>S.E.A. Studio</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009608214_23.jpg' />
<br>
tags: hip-hop/rap, best, chill, goodnight, hardcore, hip-hop, rap, rap italiano, underground, Turin