**METADATA**
TAGS: neo-soul, r&b, rnb, sarsha simone, soul, still i rise collective, urban, electronic, pop, Australia
****
<a href='https://stillirisecollective.bandcamp.com'>S.I.R [collective]</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008123254_23.jpg' />
<br>
tags: neo-soul, r&b, rnb, sarsha simone, soul, still i rise collective, urban, electronic, pop, Australia