**METADATA**
TAGS: colorado, denver, metal, instrumental, post-metal, post-rock, Denver
****
<a href='https://sailor-records.bandcamp.com'>Sailor Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004364307_23.jpg' />
<br>
tags: colorado, denver, metal, instrumental, post-metal, post-rock, Denver