**METADATA**
TAGS: electronic, autechre, boards of canada, breakbeat, electro, electrobreaks, kraftwerk, modular synth, synthesizer, synthpop, New York
****
<a href='https://satamile.bandcamp.com'>Satamile Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004386292_23.jpg' />
<br>
tags: electronic, autechre, boards of canada, breakbeat, electro, electrobreaks, kraftwerk, modular synth, synthesizer, synthpop, New York