**METADATA**
TAGS: rock, black, black metal, doom metal, Helsinki
****
<a href='https://saturnalrecs.bandcamp.com'>Saturnal Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006722409_23.jpg' />
<br>
tags: rock, black, black metal, doom metal, Helsinki