**METADATA**
TAGS: deep house, electronica, New York
****
<a href='http://scissorandthread.com'>Scissor and Thread</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003321023_23.jpg' />
<br>
tags: deep house, electronica, New York