**METADATA**
TAGS: pop, anime, comic, concept album, indie rock, j-pop, j-rock, power pop, vocaloid, Shinagawa Ku
****
<a href='https://scrolldowncomics.bandcamp.com'>Scroll Down Comics</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008029742_23.jpg' />
<br>
tags: pop, anime, comic, concept album, indie rock, j-pop, j-rock, power pop, vocaloid, Shinagawa Ku