**METADATA**
TAGS: rock, hard rock, heavy metal, metal, progressive rock, symphonic rock, Portugal
****
<a href='https://seasonofmist.bandcamp.com'>Season of Mist</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001981199_23.jpg' />
<br>
tags: rock, hard rock, heavy metal, metal, progressive rock, symphonic rock, Portugal