**METADATA**
TAGS: pop, adult disco, lifestyle, montreal, new age, yacht rock, Montreal
****
<a href='https://secondbestrecords.bandcamp.com'>Second Best Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009230929_23.jpg' />
<br>
tags: pop, adult disco, lifestyle, montreal, new age, yacht rock, Montreal