**METADATA**
TAGS: experimental, ambient, dark ambient, drone, experimental, noise, noise rock, orchestral, post-rock, rock, Portland
****
<a href='https://selfgroup.bandcamp.com'>Self Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002317128_23.jpg' />
<br>
tags: experimental, ambient, dark ambient, drone, experimental, noise, noise rock, orchestral, post-rock, rock, Portland