**METADATA**
TAGS: rock, russian, siberian, tyumen, electronic, pop, rock, sad, snow, Surgut
****
<a href='https://sevstation.bandcamp.com'>Sever Station</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009447028_23.jpg' />
<br>
tags: rock, russian, siberian, tyumen, electronic, pop, rock, sad, snow, Surgut