**METADATA**
TAGS: 7 oddities records, 7oddz, arken 9, chicago hip-hop, dreamtek, hip hop, hip-hop/rap, rap, seven oddities records, arken nino, experimental hip-hop, underground chicago hip-hop, underground hip hop, underground rap, Chicago
****
<a href='https://sevenodditiesrecords.bandcamp.com'>Seven Oddities Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006202915_23.jpg' />
<br>
tags: 7 oddities records, 7oddz, arken 9, chicago hip-hop, dreamtek, hip hop, hip-hop/rap, rap, seven oddities records, arken nino, experimental hip-hop, underground chicago hip-hop, underground hip hop, underground rap, Chicago