**METADATA**
TAGS: r&b/soul, boogaloo, deep funk, funk, instrumental, jam, jazz, old school, r&b, retro, soul, Seattle
****
<a href='https://shadybottomrecords.bandcamp.com'>Shady Bottom Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006021815_23.jpg' />
<br>
tags: r&b/soul, boogaloo, deep funk, funk, instrumental, jam, jazz, old school, r&b, retro, soul, Seattle