**METADATA**
TAGS: hip hop, hip-hop, hip-hop/rap, rap, hiphop, underground hip hop, Perth
****
<a href='https://shakedownrecords.bandcamp.com'>Shake Down Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007555063_23.jpg' />
<br>
tags: hip hop, hip-hop, hip-hop/rap, rap, hiphop, underground hip hop, Perth