**METADATA**
TAGS: jazz, piano trio, scandinavian contemporary jazz, Oslo
****
<a href='https://shipwreckords.bandcamp.com'>Shipwreckords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006109988_23.jpg' />
<br>
tags: jazz, piano trio, scandinavian contemporary jazz, Oslo