**METADATA**
TAGS: düsseldorf, rock, beer, desert rock, hard rock, hardrock, heavy rock, kyuss, psychedelic, psychedelic rock, stoner rock, stonerrock, Düsseldorf
****
<a href='https://shitheadrecords.bandcamp.com'>Shithead Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004591313_23.jpg' />
<br>
tags: düsseldorf, rock, beer, desert rock, hard rock, hardrock, heavy rock, kyuss, psychedelic, psychedelic rock, stoner rock, stonerrock, Düsseldorf