**METADATA**
TAGS: electronic, breakcore, core, hardcore, mashcore, rave, tekno, Moscow
****
<a href='https://sickbrokenbrothersrecords.bandcamp.com'>Sick Broken Brothers Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006297961_23.jpg' />
<br>
tags: electronic, breakcore, core, hardcore, mashcore, rave, tekno, Moscow