**METADATA**
TAGS: folk, blues, folkrock, Amherst
****
<a href='http://shop.signaturesounds.com'>Signature Sounds Recording Inc.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003418102_23.jpg' />
<br>
tags: folk, blues, folkrock, Amherst