**METADATA**
TAGS: black metal, electronic, darkwave, drone, experimental electronic, industrial, noise, powerelectronics, techno, Porto
****
<a href='https://signalrex.bandcamp.com'>Signal Rex</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006806040_23.jpg' />
<br>
tags: black metal, electronic, darkwave, drone, experimental electronic, industrial, noise, powerelectronics, techno, Porto