**METADATA**
TAGS: deep trance, melodic progressive, melodic trance, progressive trance, trance, vocal trance, Los Angeles
****
<a href='https://silkmusic.bandcamp.com'>Silk Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008693022_23.jpg' />
<br>
tags: deep trance, melodic progressive, melodic trance, progressive trance, trance, vocal trance, Los Angeles