**METADATA**
TAGS: alternative, electronic, indie, soul, Salem
****
<a href='https://simpletruthrecords.bandcamp.com'>Simple Truth Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008449305_23.jpg' />
<br>
tags: alternative, electronic, indie, soul, Salem