**METADATA**
TAGS: alternative, garage rock, indie, new wave, post-punk, punk, London
****
<a href='https://sincerecordsbeganrecords.bandcamp.com'>Since Records Began Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006134590_23.jpg' />
<br>
tags: alternative, garage rock, indie, new wave, post-punk, punk, London