**METADATA**
TAGS: alternative, brooklyn indie, emotional, indie, indie rock, melodic, moving, the aviary, New York
****
<a href='https://six3.bandcamp.com'>Six 3 Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007776145_23.jpg' />
<br>
tags: alternative, brooklyn indie, emotional, indie, indie rock, melodic, moving, the aviary, New York