**METADATA**
TAGS: world, desert blues, vieux, vieux farka toure, worldmusic, Mali
****
<a href='https://sixdegreesrecords.bandcamp.com'>Six Degrees Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007275318_23.jpg' />
<br>
tags: world, desert blues, vieux, vieux farka toure, worldmusic, Mali