**METADATA**
TAGS: e.d.m, edm, electronic, future bass, hip-hop, rap, trap, bass, bass music, dubstep, San Francisco
****
<a href='https://sleevelessrecords.bandcamp.com'>Sleeveless Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006528076_23.jpg' />
<br>
tags: e.d.m, edm, electronic, future bass, hip-hop, rap, trap, bass, bass music, dubstep, San Francisco