**METADATA**
TAGS: metal, brutal death metal, death metal, technical death metal, Vranov Nad Topľou
****
<a href='https://slovakmetalarmy.bandcamp.com'>Slovak Metal Army</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009218089_23.jpg' />
<br>
tags: metal, brutal death metal, death metal, technical death metal, Vranov Nad Topľou