**METADATA**
TAGS: #americana, #blues, #punkabilly, #rock, #skate, alternative, Los Angeles
****
<a href='https://smallholiday.bandcamp.com'>smallHOLIDAY</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005694956_23.jpg' />
<br>
tags: #americana, #blues, #punkabilly, #rock, #skate, alternative, Los Angeles