**METADATA**
TAGS: rock, garage, hardcore, mean, punk, punk rock, rhythm & blues, rock'n'roll, Carrboro
****
<a href='https://snotreleases.bandcamp.com'>Snot Releases</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005259298_23.jpg' />
<br>
tags: rock, garage, hardcore, mean, punk, punk rock, rhythm & blues, rock'n'roll, Carrboro