**METADATA**
TAGS: electronic, hip-hop/rap, soft boy records, beats, hip hop instrumentals, jazz, obscure, Cork
****
<a href='https://softboyrecords.bandcamp.com'>Soft Boy Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008584068_23.jpg' />
<br>
tags: electronic, hip-hop/rap, soft boy records, beats, hip hop instrumentals, jazz, obscure, Cork