**METADATA**
TAGS: newzealand, Auckland
****
<a href='https://softboiled.bandcamp.com'>Soft Boiled</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006738988_23.jpg' />
<br>
tags: newzealand, Auckland