**METADATA**
TAGS: punk, noise pop, noise rock, post-punk, shoegaze, synth-pop, Newcastle Upon Tyne
****
<a href='https://softverse.bandcamp.com'>soft verse</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008428736_23.jpg' />
<br>
tags: punk, noise pop, noise rock, post-punk, shoegaze, synth-pop, Newcastle Upon Tyne