**METADATA**
TAGS: hip-hop/rap, instrumental hip-hop, beattape, boombap, cassette, cassette culture, experimental hip-hop, hip hop, instrumental hip-hop, rnb, Virginia
****
<a href='https://sonicplanet.bandcamp.com'>SONIC PLANET</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008410935_23.jpg' />
<br>
tags: hip-hop/rap, instrumental hip-hop, beattape, boombap, cassette, cassette culture, experimental hip-hop, hip hop, instrumental hip-hop, rnb, Virginia