**METADATA**
TAGS: crewdson, eckoclick, electronic, femme, hip hop, house, jazz, pop, sonic router, sonic router records, electronic pop, singer-songwriter, London
****
<a href='https://sonicrouter.bandcamp.com'>Sonic Router Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006193877_23.jpg' />
<br>
tags: crewdson, eckoclick, electronic, femme, hip hop, house, jazz, pop, sonic router, sonic router records, electronic pop, singer-songwriter, London