**METADATA**
TAGS: 12 inch, analog, detroit, dub techno, hardware, record, techno, vinyl, vinyl only, Berlin
****
<a href='https://soundscapeversions.bandcamp.com'>Soundscape Versions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006075440_23.jpg' />
<br>
tags: 12 inch, analog, detroit, dub techno, hardware, record, techno, vinyl, vinyl only, Berlin