**METADATA**
TAGS: portland or, rock, alternative rock, indie rock, Portland
****
<a href='https://soundjudgment.bandcamp.com'>Sound Judgment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008241017_23.jpg' />
<br>
tags: portland or, rock, alternative rock, indie rock, Portland