**METADATA**
TAGS: electronic, electronica library music, Paris
****
<a href='https://soundobsession.bandcamp.com'>Sound Obsession</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006088486_23.jpg' />
<br>
tags: electronic, electronica library music, Paris