**METADATA**
TAGS: alternative, experimental, folk pop, folkpunk, pop, post-punk, world, Southend On Sea
****
<a href='http://southendrecords.com'>SOUTHEND RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006947019_23.jpg' />
<br>
tags: alternative, experimental, folk pop, folkpunk, pop, post-punk, world, Southend On Sea