**METADATA**
TAGS: rock, rock & roll, sky beats gold, spartan records, young fox, ambient, rock and roll, Pittsburgh
****
<a href='https://spartanrecords.bandcamp.com'>Spartan Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004416005_23.jpg' />
<br>
tags: rock, rock & roll, sky beats gold, spartan records, young fox, ambient, rock and roll, Pittsburgh