**METADATA**
TAGS: r&b/soul, neo soul, r&b, woul, Los Angeles
****
<a href='https://spectramusicgroup.bandcamp.com'>Spectra Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004556300_23.jpg' />
<br>
tags: r&b/soul, neo soul, r&b, woul, Los Angeles