**METADATA**
TAGS: acoustic, bedroom recordings, diy, electric guitar, folk, homerecording, indie, indie folk, portland, sandiego, singer-songwriter, Portland
****
<a href='https://spirithouse.bandcamp.com'>Spirit House</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008003285_23.jpg' />
<br>
tags: acoustic, bedroom recordings, diy, electric guitar, folk, homerecording, indie, indie folk, portland, sandiego, singer-songwriter, Portland