**METADATA**
TAGS: blues, oldie, R&B, NorthernSoul, Swing, Jazz
****
<a href='https://stardust-records.bandcamp.com'>StardustRecords</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006561672_23.jpg' />
<br>
tags: blues,oldie,R&B,NorthernSoul,Swing,Jazz
