**METADATA**
TAGS: punk, punk rock, Stockholm
****
<a href='https://startracks.bandcamp.com'>Startracks</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005000892_23.jpg' />
<br>
tags: punk, punk rock, Stockholm