**METADATA**
TAGS: black metal, extreme metal, germany, metal, portland or, cassette, tape, Portland
****
<a href='https://statictension.bandcamp.com'>Static Tension</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007532492_23.jpg' />
<br>
tags: black metal, extreme metal, germany, metal, portland or, cassette, tape, Portland