**METADATA**
TAGS: BostonHardcore, Punk, Hardcore, Indie, bostonpunk, Rock
****
<a href='https://statelinerecords.bandcamp.com'>State Line Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005130778_23.jpg' />
<br>
tags: BostonHardcore,Punk,Hardcore,Indie,bostonpunk,Rock
