**METADATA**
TAGS: alternative, alternative, ballad, indie, mainstream, pop, weird pop, weirdo, United Kingdom
****
<a href='https://thestephenjones.bandcamp.com'>stephen jones</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006612510_23.jpg' />
<br>
tags: alternative, alternative, ballad, indie, mainstream, pop, weird pop, weirdo, United Kingdom