**METADATA**
TAGS: disco, r&b/soul, boogie, funk, soul, Los Angeles
****
<a href='https://stonesthrow.bandcamp.com'>Stones Throw</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004059335_23.jpg' />
<br>
tags: disco, r&b/soul, boogie, funk, soul, Los Angeles