**METADATA**
TAGS: trinidad, world, calypso rock, cuatro, reggae, roots rock, singer-songwriter, Toronto
****
<a href='https://stonetreemusic.bandcamp.com'>Stonetree Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008194790_23.jpg' />
<br>
tags: trinidad, world, calypso rock, cuatro, reggae, roots rock, singer-songwriter, Toronto