**METADATA**
TAGS: unknown
****
<a href='https://straightfromtheheartrecords.bandcamp.com'>Straight from the Heart Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005621704_23.jpg' />
<br>
tags: unknown
