**METADATA**
TAGS: ceschi ramos, hip hop, hip-hop/rap, strange famous, strange famous records, sage francis, Savannah
****
<a href='https://strangefamousrecords.bandcamp.com'>Strange Famous Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007165950_23.jpg' />
<br>
tags: ceschi ramos, hip hop, hip-hop/rap, strange famous, strange famous records, sage francis, Savannah