**METADATA**
TAGS: alternative, experimental, post rock, rock, alternative rock, experimental rock, indie, indie rock, math, math rock, prog, progressive, progressive rock, shoegaze, strange daisy, New Orleans
****
<a href='http://strangedaisyrecords.com'>Strange Daisy</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008658664_23.jpg' />
<br>
tags: alternative, experimental, post rock, rock, alternative rock, experimental rock, indie, indie rock, math, math rock, prog, progressive, progressive rock, shoegaze, strange daisy, New Orleans