**METADATA**
TAGS: world, king fuji, king fuji hearticle gangster, Monticello
****
<a href='https://streetcoastmediallc.bandcamp.com'>Street Coast Media LLC</a>
<br>
<img data-src='https://f4.bcbits.com/img/a3717717250_7.jpg' />
<br>
tags: world, king fuji, king fuji hearticle gangster, Monticello