**METADATA**
TAGS: punk, oi!, punk, Los Angeles
****
<a href='https://streetrockrecords.bandcamp.com'>Streetrock Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006974738_23.jpg' />
<br>
tags: punk, oi!, punk, Los Angeles