**METADATA**
TAGS: instrumental hip-hop, strong roots records, boom bap, boombap, lofi, underground hip hop, Indiana
****
<a href='https://strongroots.bandcamp.com'>Strong Roots Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007799568_23.jpg' />
<br>
tags: instrumental hip-hop, strong roots records, boom bap, boombap, lofi, underground hip hop, Indiana