**METADATA**
TAGS: acoustic, dundee, punk, indie, live, paperrifles, punk, rock, struckdum, Edinburgh
****
<a href='https://struckdumrecords.bandcamp.com'>Struck Dum Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005644679_23.jpg' />
<br>
tags: acoustic, dundee, punk, indie, live, paperrifles, punk, rock, struckdum, Edinburgh