**METADATA**
TAGS: r&b/soul, dub, electronic, new zealand music, pacific, psychedelic, Auckland
****
<a href='https://sugarlicks.bandcamp.com'>Sugarlicks</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005057723_23.jpg' />
<br>
tags: r&b/soul, dub, electronic, new zealand music, pacific, psychedelic, Auckland