**METADATA**
TAGS: rock, krautrock, psychedelia, psychedelic, psychedelic rock, space rock, Gothenburg
****
<a href='https://sunriseoceanbender.bandcamp.com'>Sunrise Ocean Bender</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005189147_23.jpg' />
<br>
tags: rock, krautrock, psychedelia, psychedelic, psychedelic rock, space rock, Gothenburg