**METADATA**
TAGS: beats, chill, downtempo, edm, hip hop, hip-hop/rap, instrumental hip-hop, chillout, United States
****
<a href='https://superbestrecords.bandcamp.com'>Super Best Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007246834_23.jpg' />
<br>
tags: beats, chill, downtempo, edm, hip hop, hip-hop/rap, instrumental hip-hop, chillout, United States