**METADATA**
TAGS: black metal, post-metal, post-ponk, sludge, Tecklenburg
****
<a href='https://scrmetal.bandcamp.com'>Supreme Chaos Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003595076_23.jpg' />
<br>
tags: black metal, post-metal, post-ponk, sludge, Tecklenburg