**METADATA**
TAGS: comedy, Los Angeles
****
<a href='https://surethingrecords.bandcamp.com'>SURE THING RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004604644_23.jpg' />
<br>
tags: comedy, Los Angeles