**METADATA**
TAGS: hip-hop/rap, indie, trap music, hip hop, indie, instrumental, r&b, rap, swave, New York
****
<a href='https://swavorlandent.bandcamp.com'>Swavorland Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008387062_23.jpg' />
<br>
tags: hip-hop/rap, indie, trap music, hip hop, indie, instrumental, r&b, rap, swave, New York