**METADATA**
TAGS: 80s, electronic, chillwave, darkwave, horror, retrowave, synth, synthwave, Russia
****
<a href='https://synthetics.bandcamp.com'>Synthetics Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009364309_23.jpg' />
<br>
tags: 80s, electronic, chillwave, darkwave, horror, retrowave, synth, synthwave, Russia