**METADATA**
TAGS: acoustic, christian, contemporary gospel, gospel, levitemusic, lewis, love, najah, New York
****
<a href='http://music.tfarrell.productions'>T. Farrell</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008088991_23.jpg' />
<br>
tags: acoustic, christian, contemporary gospel, gospel, levitemusic, lewis, love, najah, New York