**METADATA**
TAGS: indie, scout, scout boys, shelly, emo, New York
****
<a href='https://tablethreemedia.bandcamp.com'>Table Three Media</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006757147_23.jpg' />
<br>
tags: indie, scout, scout boys, shelly, emo, New York