**METADATA**
TAGS: hip-hop/rap, rap, hiphop rap, southern rap, underground rap, Mount Pleasant
****
<a href='https://take1entertainment.bandcamp.com'>Take1 Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005343274_23.jpg' />
<br>
tags: hip-hop/rap, rap, hiphop rap, southern rap, underground rap, Mount Pleasant