**METADATA**
TAGS: alternative, alternative indie, alternative indie rock, indie, rock, alternative, alternative rock, indie rock, Reading
****
<a href='https://takecontrolco.bandcamp.com'>Take Control Co</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006367930_23.jpg' />
<br>
tags: alternative, alternative indie, alternative indie rock, indie, rock, alternative, alternative rock, indie rock, Reading