**METADATA**
TAGS: everytime we say goodbye, fred randolf, george mesterhazy, jazz, lisa lindsley, lounge, musical, Paris
****
<a href='https://takeonemusic.bandcamp.com'>Take One Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008363058_23.jpg' />
<br>
tags: everytime we say goodbye, fred randolf, george mesterhazy, jazz, lisa lindsley, lounge, musical, Paris