**METADATA**
TAGS: hip-hop/rap, edm, reggae-dancehall-hip hop, rnb, trap, Atlanta
****
<a href='https://takeoverproductionco.bandcamp.com'>TAKE OVER PRODUCTION CO.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004163986_23.jpg' />
<br>
tags: hip-hop/rap, edm, reggae-dancehall-hip hop, rnb, trap, Atlanta