**METADATA**
TAGS: hip hop, hip-hop, hip-hop/rap, la, rap, soul, hip_hop, long beach ca, los angeles, Long Beach
****
<a href='https://tallrobotrecords.bandcamp.com'>Tall Robot Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008399375_23.jpg' />
<br>
tags: hip hop, hip-hop, hip-hop/rap, la, rap, soul, hip_hop, long beach ca, los angeles, Long Beach