**METADATA**
TAGS: barrie-james o'neill, fibonacci, tape your own life, the new fabian society, Glasgow
****
<a href='https://tapeyourownlife.bandcamp.com'>Tape Your Own Life</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007035172_23.jpg' />
<br>
tags: barrie-james o'neill, fibonacci, tape your own life, the new fabian society, Glasgow