**METADATA**
TAGS: celtic, irish, world, americana, bluegrass, celtic music, folk, world, worldmusic, Santa Monica
****
<a href='https://teahouserecords.bandcamp.com'>Teahouse Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007732444_23.jpg' />
<br>
tags: celtic, irish, world, americana, bluegrass, celtic music, folk, world, worldmusic, Santa Monica