**METADATA**
TAGS: 1980s, 80s, france, marie-lou desage, paris, sid64, synthwave, whoha, San Luis Obispo
****
<a href='https://telefuturenow.bandcamp.com'>Telefuture</a>
<br>
<img data-src='https://f4.bcbits.com/img/a0169789571_7.jpg' />
<br>
tags: 1980s, 80s, france, marie-lou desage, paris, sid64, synthwave, whoha, San Luis Obispo