**METADATA**
TAGS: alternative, neo-classical, Germany
****
<a href='https://temporaryresidence.bandcamp.com'>Temporary Residence Ltd.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004522010_23.jpg' />
<br>
tags: alternative, neo-classical, Germany