**METADATA**
TAGS: electronic, electro, electronica, hip_hop, old school, pop, techno, Auckland
****
<a href='https://theareamusic.bandcamp.com'>The Area</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008453986_23.jpg' />
<br>
tags: electronic, electro, electronica, hip_hop, old school, pop, techno, Auckland