**METADATA**
TAGS: hip hop, hip-hop, hip-hop & r&b, hip-hop. rap, hip-hop/rap, r & b, rap, the audio bio, thonio, urban, Little Rock
****
<a href='https://sixfigga.bandcamp.com'>The Six Figga Entertainment Group, Inc</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004892357_23.jpg' />
<br>
tags: hip hop, hip-hop, hip-hop & r&b, hip-hop. rap, hip-hop/rap, r & b, rap, the audio bio, thonio, urban, Little Rock