**METADATA**
TAGS: copenhagen, denmark, gothenburg, lykke li, norway, oslo, stockholm, sweden, New York
****
<a href='https://thecontrolgroupco.bandcamp.com'>The Control Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008633580_23.jpg' />
<br>
tags: copenhagen, denmark, gothenburg, lykke li, norway, oslo, stockholm, sweden, New York