**METADATA**
TAGS: hip hop, hip-hop, hip-hop/rap, rap, hiphop, hiphop rap, Petersburg
****
<a href='https://thebeatbankerz.bandcamp.com'>The Beat Bankerz</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008982818_23.jpg' />
<br>
tags: hip hop, hip-hop, hip-hop/rap, rap, hiphop, hiphop rap, Petersburg