**METADATA**
TAGS: experimental, beats, darkforest, experimental, funk, hiphop, instrumental, jazz, records, reggae, soul, vinyl, Troy
****
<a href='https://thedarkforest.bandcamp.com'>The Dark Forest</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006425523_23.jpg' />
<br>
tags: experimental, beats, darkforest, experimental, funk, hiphop, instrumental, jazz, records, reggae, soul, vinyl, Troy