**METADATA**
TAGS: garage, rock, surf, psychedelic, Sydney
****
<a href='https://thesunballmachine.bandcamp.com'>The Sunball Machine</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006358849_23.jpg' />
<br>
tags: garage, rock, surf, psychedelic, Sydney