**METADATA**
TAGS: r&b/soul, contemporary r&b, neo-soul, neosoul, soul, urban, New Orleans
****
<a href='https://theclassicity.bandcamp.com'>The Classicity Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008765372_23.jpg' />
<br>
tags: r&b/soul, contemporary r&b, neo-soul, neosoul, soul, urban, New Orleans