**METADATA**
TAGS: electronic, cinematic, electronic, indie game, indie game soundtrack, kubbi, melodic, phoentic hero, video game, video game ost, video game soundtrack, Baltimore
****
<a href='https://theotherworldagency.bandcamp.com'>The Otherworld Agency</a>
<br>
<img data-src='https://f4.bcbits.com/img/a2201978666_7.jpg' />
<br>
tags: electronic, cinematic, electronic, indie game, indie game soundtrack, kubbi, melodic, phoentic hero, video game, video game ost, video game soundtrack, Baltimore