**METADATA**
TAGS: mpb, pop, abstract hip-hop, bossa nova, electronic, folk, samba, spoken word, Lisbon
****
<a href='https://thecompanysound.bandcamp.com'>The Company Sound</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008031948_23.jpg' />
<br>
tags: mpb, pop, abstract hip-hop, bossa nova, electronic, folk, samba, spoken word, Lisbon