**METADATA**
TAGS: pop, experimental pop, glam, lo-fi, power pop, rock and roll, Salt Lake City
****
<a href='https://thebigpill.bandcamp.com'>The Big Pill</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004627875_23.jpg' />
<br>
tags: pop, experimental pop, glam, lo-fi, power pop, rock and roll, Salt Lake City