**METADATA**
TAGS: alternative, metal, post-hardcore, post-punk, Los Angeles
****
<a href='https://themylenesheath.bandcamp.com'>The Mylene Sheath</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004436605_23.jpg' />
<br>
tags: alternative, metal, post-hardcore, post-punk, Los Angeles