**METADATA**
TAGS: Alternative, metal, experimental, rock
****
<a href='https://theendrecords.bandcamp.com'>The End Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007825315_23.jpg' />
<br>
tags: Alternative,metal,experimental,rock
