**METADATA**
TAGS: metal, black metal, deathcore, experimental, extreme, folk metal, hit, lubok-core, pop, rock, russian metal, Moscow
****
<a href='https://thearsafesunion.bandcamp.com'>The Arsafes Union</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008452552_23.jpg' />
<br>
tags: metal, black metal, deathcore, experimental, extreme, folk metal, hit, lubok-core, pop, rock, russian metal, Moscow