**METADATA**
TAGS: alternative, rock, alternative pop, alternative rock, female, female vocal, female vocalist, female vocals, folk rock, pop, rock, soul, Boston
****
<a href='http://themusicagency.us'>The Music Agency</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009660369_23.jpg' />
<br>
tags: alternative, rock, alternative pop, alternative rock, female, female vocal, female vocalist, female vocals, folk rock, pop, rock, soul, Boston