**METADATA**
TAGS: hip-hop/rap, instrumental hip-hop, instrumentals, lo-fi, mixtape, Chicago
****
<a href='https://weeklyfree.bandcamp.com'>The Whistler</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008875674_23.jpg' />
<br>
tags: hip-hop/rap, instrumental hip-hop, instrumentals, lo-fi, mixtape, Chicago