**METADATA**
TAGS: deep house, detroit, electronic, disco, minimal, nudisco, techno, tribal, tribalhouse, Italy
****
<a href='https://thedublab.bandcamp.com'>the dub</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009402612_23.jpg' />
<br>
tags: deep house, detroit, electronic, disco, minimal, nudisco, techno, tribal, tribalhouse, Italy