**METADATA**
TAGS: metal, hardcore, metal, straight edge, the essence, Germany
****
<a href='https://thexessence.bandcamp.com'>The Essence</a>
<br>
<img data-src='https://f4.bcbits.com/img/0000860252_23.jpg' />
<br>
tags: metal, hardcore, metal, straight edge, the essence, Germany