**METADATA**
TAGS: alternative, rock, hardcore, post-hardcore, unplugged, New Haven
****
<a href='https://thirdstringrecords.bandcamp.com'>Third String Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008133416_23.jpg' />
<br>
tags: alternative, rock, hardcore, post-hardcore, unplugged, New Haven