**METADATA**
TAGS: black metal, rock, garage, garage punk, garage rock, neofolk, Paris
****
<a href='https://thirdcomingrecords.bandcamp.com'>THIRD COMING RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007027852_23.jpg' />
<br>
tags: black metal, rock, garage, garage punk, garage rock, neofolk, Paris