**METADATA**
TAGS: metal, rock, birmingham, duo, hard rock, hardcore, hardcore punk, metal, noisy, punk, riffs, rock, shouty, this decay, west midlands, Birmingham
****
<a href='https://thisdecay.bandcamp.com'>This Decay Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008124168_23.jpg' />
<br>
tags: metal, rock, birmingham, duo, hard rock, hardcore, hardcore punk, metal, noisy, punk, riffs, rock, shouty, this decay, west midlands, Birmingham