**METADATA**
TAGS: punk, fuzz, indie rock, psych, shoegaze, Philadelphia
****
<a href='https://timecastle.bandcamp.com'>Time Castle Recording and Cassette Label</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005443008_23.jpg' />
<br>
tags: punk, fuzz, indie rock, psych, shoegaze, Philadelphia