**METADATA**
TAGS: pop, alternative, indie rock, soft rock, Hurley
****
<a href='https://too-good-music.bandcamp.com'>Too Good</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007318680_23.jpg' />
<br>
tags: pop, alternative, indie rock, soft rock, Hurley