**METADATA**
TAGS: rock, funk rock, jam band, psychedelic rock, Boulder
****
<a href='https://toothlessmonkey.bandcamp.com'>Toothless Monkey</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005634009_23.jpg' />
<br>
tags: rock, funk rock, jam band, psychedelic rock, Boulder