**METADATA**
TAGS: 90s, all day every day all night, alternative, del paxton, indie rock, pop punk, rock, topshelf records, emo, Buffalo
****
<a href='https://topshelfrecords.bandcamp.com'>Topshelf Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008640795_23.jpg' />
<br>
tags: 90s, all day every day all night, alternative, del paxton, indie rock, pop punk, rock, topshelf records, emo, Buffalo