**METADATA**
TAGS: unknown
****
<a href='https://transmissioncontrolrecords.bandcamp.com'>transmission control records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007065936_23.jpg' />
<br>
tags: unknown
