**METADATA**
TAGS: thelma & the sleaze, dogs of oz, nashville rock n' roll, thin lizzy, transmission control records, welcome to 1979, zz top, Nashville
****
<a href='https://transmissioncontrolrecords.bandcamp.com'>transmission control records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007065936_23.jpg' />
<br>
tags: thelma & the sleaze, dogs of oz, nashville rock n' roll, thin lizzy, transmission control records, welcome to 1979, zz top, Nashville