**METADATA**
TAGS: hip hop, instrumental hip-hop, beats, instrumental, samples, Roseville
****
<a href='https://trancarecordco.bandcamp.com'>Tranca Record Co.</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009265633_23.jpg' />
<br>
tags: hip hop, instrumental hip-hop, beats, instrumental, samples, Roseville