**METADATA**
TAGS: Alternative, acidhouse, psych, garage, lo-fi, thrashcore
****
<a href='https://trashmouthrecords.bandcamp.com'>Trashmouth Records</a>
<br>
<img src='https://f4.bcbits.com/img/0004915349_23.jpg' />
<br>
tags: Alternative,acidhouse,psych,garage,lo-fi,thrashcore
