**METADATA**
TAGS: acidhouse, psych, garage, lo-fi, Alternative
****
<a href='https://trashmouthrecords.bandcamp.com'>Trashmouth Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004915349_23.jpg' />
<br>
tags: acidhouse,psych,garage,lo-fi,Alternative
