**METADATA**
TAGS: hi-tech, psychedelic trance, psytrance, darkpsy, forest psytrance, hightech, psy, psychedelic, Portland
****
<a href='https://triponacci.bandcamp.com'>Triponacci Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/a2951544367_7.jpg' />
<br>
tags: hi-tech, psychedelic trance, psytrance, darkpsy, forest psytrance, hightech, psy, psychedelic, Portland