**METADATA**
TAGS: rock, world, afro, hiphop, latin, samba, samba rock, São Paulo
****
<a href='https://tdrgo.bandcamp.com'>Tropical Diaspora Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008619143_23.jpg' />
<br>
tags: rock, world, afro, hiphop, latin, samba, samba rock, São Paulo