**METADATA**
TAGS: alternative, folk, folk rock, indie, indie rock, progressive, psych, psychedelic, Nashville
****
<a href='https://troubleinmindrecords.bandcamp.com'>Trouble In Mind Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008065353_23.jpg' />
<br>
tags: alternative, folk, folk rock, indie, indie rock, progressive, psych, psychedelic, Nashville