**METADATA**
TAGS: hip-hop/rap, grime, hiphop rap, london, ukrap, London
****
<a href='https://tru-thoughts.bandcamp.com'>Tru Thoughts</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008333519_23.jpg' />
<br>
tags: hip-hop/rap, grime, hiphop rap, london, ukrap, London