**METADATA**
TAGS: electronic, disco, dub, electronic, house, pop, psychedelic, pyschedelic, Los Angeles
****
<a href='https://twoflowersrecords.bandcamp.com'>Two Flowers Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008858018_23.jpg' />
<br>
tags: electronic, disco, dub, electronic, house, pop, psychedelic, pyschedelic, Los Angeles