**METADATA**
TAGS: Pop, RnB, disco, folkrock, electronic, indie
****
<a href='https://twobrightlakes.bandcamp.com'>Two Bright Lakes</a>
<br>
<img data-src='https://f4.bcbits.com/img/a1110707056_7.jpg' />
<br>
tags: Pop,RnB,disco,folkrock,electronic,indie
