**METADATA**
TAGS: electronic, indie, Pop, RnB, disco, folkrock
****
<a href='https://twobrightlakes.bandcamp.com'>Two Bright Lakes</a>
<br>
<img data-src='https://f4.bcbits.com/img/a1110707056_7.jpg' />
<br>
tags: electronic,indie,Pop,RnB,disco,folkrock
