**METADATA**
TAGS: hip-hop, hip-hop/rap, rap, freestyle rap, hip hop, old school hip hop, rap, underground, New York
****
<a href='https://uamusicgroup.bandcamp.com'>UA Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004666086_23.jpg' />
<br>
tags: hip-hop, hip-hop/rap, rap, freestyle rap, hip hop, old school hip hop, rap, underground, New York