**METADATA**
TAGS: acoustic, rock, duo, pop, poprock, singer-songwriter, Guildford
****
<a href='https://undergroundlive.bandcamp.com'>Underground Live</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006834809_23.jpg' />
<br>
tags: acoustic, rock, duo, pop, poprock, singer-songwriter, Guildford