**METADATA**
TAGS: r&b/soul, beatmaking, jazz soul, r&b, soul, soulful, Copenhagen
****
<a href='https://underdogrecords.bandcamp.com'>UNDERDOG RECORDS</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003564909_23.jpg' />
<br>
tags: r&b/soul, beatmaking, jazz soul, r&b, soul, soulful, Copenhagen