**METADATA**
TAGS: death metal, hyper groove brutality, unique leader, vomit remnants, slamming death metal, Naples
****
<a href='https://uniqueleaderrecords.bandcamp.com'>Unique Leader Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006976685_23.jpg' />
<br>
tags: death metal, hyper groove brutality, unique leader, vomit remnants, slamming death metal, Naples