**METADATA**
TAGS: electronic, trap, beatmaker, blackelk, hip hop, producteur, psychedelic, Perpignan
****
<a href='http://music.unlog.info'>Unlog</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007994311_23.jpg' />
<br>
tags: electronic, trap, beatmaker, blackelk, hip hop, producteur, psychedelic, Perpignan