**METADATA**
TAGS: dubstep, Electronic, DrumandBass, bassmusic, Trap, grime
****
<a href='https://upriseaudio.bandcamp.com'>Uprise Audio</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008051380_23.jpg' />
<br>
tags: dubstep,Electronic,DrumandBass,bassmusic,Trap,grime
