**METADATA**
TAGS: funk, p-funk, soul, dogfood, hiphop| rap | spoken word, horndogz, Paris
****
<a href='https://uptone-records.bandcamp.com'>Uptone Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004813684_23.jpg' />
<br>
tags: funk, p-funk, soul, dogfood, hiphop| rap | spoken word, horndogz, Paris