**METADATA**
TAGS: hard rock, heavy metal, melodic metal, metal, safe inside, thrown into exile, black metal, doom metal, heavy metal, metal, Los Angeles
****
<a href='https://urbanyetirecords.bandcamp.com'>Urban Yeti Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007032131_23.jpg' />
<br>
tags: hard rock, heavy metal, melodic metal, metal, safe inside, thrown into exile, black metal, doom metal, heavy metal, metal, Los Angeles