**METADATA**
TAGS: alternative, bedroom pop, dream pop, emo, lo-fi, shoegaze, Philadelphia
****
<a href='https://uticarecords.bandcamp.com'>Utica Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008300096_23.jpg' />
<br>
tags: alternative, bedroom pop, dream pop, emo, lo-fi, shoegaze, Philadelphia