**METADATA**
TAGS: electronic, idm, hardcore, hardcorenoisish, industrial, power noise, rhythmic noise, The Hague
****
<a href='https://vendettamusic.bandcamp.com'>Vendetta Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0003474336_23.jpg' />
<br>
tags: electronic, idm, hardcore, hardcorenoisish, industrial, power noise, rhythmic noise, The Hague