**METADATA**
TAGS: ekpyrosis, evil never dies, italy, thrash metal, via nocturna, Opole
****
<a href='https://vianocturna.bandcamp.com'>Via Nocturna</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007507131_23.jpg' />
<br>
tags: ekpyrosis, evil never dies, italy, thrash metal, via nocturna, Opole