**METADATA**
TAGS: world, cumbia, latin, reggae, rumba, salsa music, Barcelona
****
<a href='https://vialactearecords.bandcamp.com'>Via Lactea</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006862057_23.jpg' />
<br>
tags: world, cumbia, latin, reggae, rumba, salsa music, Barcelona