**METADATA**
TAGS: rock, derbyshire, local, music, pop, rock, Derby
****
<a href='https://vinylselection.bandcamp.com'>vinylselection</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005844208_23.jpg' />
<br>
tags: rock, derbyshire, local, music, pop, rock, Derby