**METADATA**
TAGS: justin schumacher, ronan teague, trysh alexander, vizion division, Rennes
****
<a href='https://viziondivision.bandcamp.com'>Vizion Division</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007049512_23.jpg' />
<br>
tags: justin schumacher, ronan teague, trysh alexander, vizion division, Rennes