**METADATA**
TAGS: trash, beat man, fuck you, primitive, psychobilly, punk, the monsters, thrashpunk, brain fucking, chainsaw, fucked up, garage, one-riff, rock'n'roll, ultra garage best fi fuzz gods, Bern
****
<a href='https://voodoorhythm.bandcamp.com'>Voodoo Rhythm Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009528606_23.jpg' />
<br>
tags: trash, beat man, fuck you, primitive, psychobilly, punk, the monsters, thrashpunk, brain fucking, chainsaw, fucked up, garage, one-riff, rock'n'roll, ultra garage best fi fuzz gods, Bern