**METADATA**
TAGS: jazz, electronic, experimental, funk, fusion, rock, New York
****
<a href='https://wjproductionsllc.bandcamp.com'>W&J Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007815334_23.jpg' />
<br>
tags: jazz, electronic, experimental, funk, fusion, rock, New York