**METADATA**
TAGS: change, could, english, howie, if, jnr, life, morrison, my, māori, r&b/soul, maori, māori, Rotorua
****
<a href='https://waateamusic.bandcamp.com'>Waatea Music</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007351405_23.jpg' />
<br>
tags: change, could, english, howie, if, jnr, life, morrison, my, māori, r&b/soul, maori, māori, Rotorua