**METADATA**
TAGS: metal, backtrack, cruel hand, dmize, down to nothing, madball, metal, terror, turnstile, hardcore, metalcore, Lisbon
****
<a href='https://warrec.bandcamp.com'>WAR Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009199948_23.jpg' />
<br>
tags: metal, backtrack, cruel hand, dmize, down to nothing, madball, metal, terror, turnstile, hardcore, metalcore, Lisbon