**METADATA**
TAGS: experimental, funk, hip hop, jazz, rb, soul, Long Beach
****
<a href='https://watertheseedent.bandcamp.com'>watertheseedent</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006161823_23.jpg' />
<br>
tags: experimental, funk, hip hop, jazz, rb, soul, Long Beach