**METADATA**
TAGS: alternative, avant-garde, chamber pop, indie rock, psych, singer-songwriter, Boise
****
<a href='https://wavepoprecs.bandcamp.com'>WavePOP Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006264842_23.jpg' />
<br>
tags: alternative, avant-garde, chamber pop, indie rock, psych, singer-songwriter, Boise