**METADATA**
TAGS: alternative, darkwave, ethereal, France
****
<a href='https://waverecords.bandcamp.com'>Wave Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0008632227_23.jpg' />
<br>
tags: alternative, darkwave, ethereal, France