**METADATA**
TAGS: acoustic, pop, acoustic, rock, singer songwriter, soul, Brighton
****
<a href='https://westonemusic.bandcamp.com'>West One Music Group</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007958159_23.jpg' />
<br>
tags: acoustic, pop, acoustic, rock, singer songwriter, soul, Brighton