**METADATA**
TAGS: hip-hop/rap, oceanside, producer, self-produced, t-co, west villa collective, California
****
<a href='https://westvillacollective.bandcamp.com'>West Villa Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006963154_23.jpg' />
<br>
tags: hip-hop/rap, oceanside, producer, self-produced, t-co, west villa collective, California