**METADATA**
TAGS: detroit, electronic, p-funk, soulful house, motown, pirahnahead, Detroit
****
<a href='https://whasdat.bandcamp.com'>Whasdat</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007745421_23.jpg' />
<br>
tags: detroit, electronic, p-funk, soulful house, motown, pirahnahead, Detroit