**METADATA**
TAGS: hip-hop/rap, detroit hip hop, female rapper, neo-soul, new york, soul hip hop, Detroit
****
<a href='https://whatstheirony.bandcamp.com'>What's the iRony?</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005116861_23.jpg' />
<br>
tags: hip-hop/rap, detroit hip hop, female rapper, neo-soul, new york, soul hip hop, Detroit