**METADATA**
TAGS: r&b, soul, indie pop, melodic, new release, new single, valentine's day, Lexington
****
<a href='https://whitespacerecords.bandcamp.com'>WhiteSpace Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009233783_23.jpg' />
<br>
tags: r&b, soul, indie pop, melodic, new release, new single, valentine's day, Lexington