**METADATA**
TAGS: alberta, alternative, josh rob gwilliam, canada, dearestly, female vocals, folk, howard redekopp, pender island, pop, Pender Island
****
<a href='https://welcometowildwood.bandcamp.com'>Wildwood</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006930574_23.jpg' />
<br>
tags: alberta, alternative, josh rob gwilliam, canada, dearestly, female vocals, folk, howard redekopp, pender island, pop, Pender Island