**METADATA**
TAGS: electronic, anne gillis, bedroom pop, danielle dax, dub, electronic, female vox, minimal electronics, rhythm box, New York
****
<a href='https://wildflesh.bandcamp.com'>Wild Flesh Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005343973_23.jpg' />
<br>
tags: electronic, anne gillis, bedroom pop, danielle dax, dub, electronic, female vox, minimal electronics, rhythm box, New York