**METADATA**
TAGS: soundtrack, ambient, healing & meditation, instrumental, piano based, soundtrack-for-the-mind & body, Sausalito
****
<a href='https://wisdomoftheworld.bandcamp.com'>Wisdom of the World</a>
<br>
<img data-src='https://f4.bcbits.com/img/0005443725_23.jpg' />
<br>
tags: soundtrack, ambient, healing & meditation, instrumental, piano based, soundtrack-for-the-mind & body, Sausalito