**METADATA**
TAGS: hip-hop/rap, raps about ceramic swans, Melbourne
****
<a href='https://wondercoreisland.bandcamp.com'>Wondercore Island</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004348004_23.jpg' />
<br>
tags: hip-hop/rap, raps about ceramic swans, Melbourne