**METADATA**
TAGS: alternative, emotive, glam, glam rock, indie, psych, Ajax
****
<a href='http://wonderghostrecords.com'>Wonderghost Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006833750_23.jpg' />
<br>
tags: alternative, emotive, glam, glam rock, indie, psych, Ajax