**METADATA**
TAGS: alternative, alternative indie comedy rock, comedy, indie, rock, Dublin
****
<a href='https://wonderhit-records.bandcamp.com'>wonderhit.records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004904087_23.jpg' />
<br>
tags: alternative, alternative indie comedy rock, comedy, indie, rock, Dublin