**METADATA**
TAGS: experimental, bedroom, cave, drone, guitarmonies, indie folk, pop, rock, Los Angeles
****
<a href='https://woodsist.bandcamp.com'>Woodsist</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009414799_23.jpg' />
<br>
tags: experimental, bedroom, cave, drone, guitarmonies, indie folk, pop, rock, Los Angeles