**METADATA**
TAGS: hip-hop/rap, rap, awkward, canadian, hiphop, live, most, rap, underground, worlds, Vancouver
****
<a href='https://worldsmostawkward.bandcamp.com'>World's MostAwkward</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006481610_23.jpg' />
<br>
tags: hip-hop/rap, rap, awkward, canadian, hiphop, live, most, rap, underground, worlds, Vancouver