**METADATA**
TAGS: alternative, electronic, golden age, hip hop, beats, compilation, dusty, indie, rap, trip hop, United States
****
<a href='http://bandcamp.worldaroundrecords.com'>World Around Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009528229_23.jpg' />
<br>
tags: alternative, electronic, golden age, hip hop, beats, compilation, dusty, indie, rap, trip hop, United States