**METADATA**
TAGS: black metal, folk, punk, ska, blackened folk, decay, environment, folk black metal, Boulder
****
<a href='https://wormfooddiycollective.bandcamp.com'>Worm Food DIY Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007918387_23.jpg' />
<br>
tags: black metal, folk, punk, ska, blackened folk, decay, environment, folk black metal, Boulder