**METADATA**
TAGS: SpokenWord, poetry, worship, Jesus, Gospel
****
<a href='https://worshippoetry.bandcamp.com'>Worship & Poetry</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007726500_23.jpg' />
<br>
tags: SpokenWord,poetry,worship,Jesus,Gospel
