**METADATA**
TAGS: ca, death metal, los angeles, metal, pa, wreckin' joint, heavy metal, slam, thrash, Philadelphia
****
<a href='https://wreckinjoint.bandcamp.com'>Wreckin' Joint Productions</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006827624_23.jpg' />
<br>
tags: ca, death metal, los angeles, metal, pa, wreckin' joint, heavy metal, slam, thrash, Philadelphia