**METADATA**
TAGS: hip-hop/rap, freestyle, hiphop rap, original, storytelling, underground, Montreal
****
<a href='https://wtfentertainment.bandcamp.com'>WTF Entertainment</a>
<br>
<img data-src='https://f4.bcbits.com/img/0007427036_23.jpg' />
<br>
tags: hip-hop/rap, freestyle, hiphop rap, original, storytelling, underground, Montreal