**METADATA**
TAGS: edm, electronic, bass music, dubstep, funky, wump collective, Denver
****
<a href='https://wumpcollective.bandcamp.com'>WUMP Collective</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004933828_23.jpg' />
<br>
tags: edm, electronic, bass music, dubstep, funky, wump collective, Denver