**METADATA**
TAGS: alternative, indie pop, indie soul, lo fi home recorded, psychedelic pop, triple j unearthed, Melbourne
****
<a href='https://wyallstyle.bandcamp.com'>Wyall Style Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006058742_23.jpg' />
<br>
tags: alternative, indie pop, indie soul, lo fi home recorded, psychedelic pop, triple j unearthed, Melbourne