**METADATA**
TAGS: black metal, majestic black metal, metal, symphonic black metal, atmospheric black metal, black metal, epic black metal, majestic black metal, symphonic, symphonic black metal, Athens
****
<a href='https://xperimentxiii.bandcamp.com'>Xperiment XIII</a>
<br>
<img data-src='https://f4.bcbits.com/img/0001696286_23.jpg' />
<br>
tags: black metal, majestic black metal, metal, symphonic black metal, atmospheric black metal, black metal, epic black metal, majestic black metal, symphonic, symphonic black metal, Athens