**METADATA**
TAGS: electronic, house, soul, brokenbeat, house, jazz, London
****
<a href='https://xvirecords.bandcamp.com'>XVI Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006779306_23.jpg' />
<br>
tags: electronic, house, soul, brokenbeat, house, jazz, London