**METADATA**
TAGS: punk, Philadelphia
****
<a href='https://yellowkrecords.bandcamp.com'>Yellow K Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009327835_23.jpg' />
<br>
tags: punk, Philadelphia