**METADATA**
TAGS: blues, chicago blues, gonzo neo-vaudeville, impressionist, piano, post-burlesque, Chicago
****
<a href='https://yellowdogrecords.bandcamp.com'>Yellow Dog Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0002286263_23.jpg' />
<br>
tags: blues, chicago blues, gonzo neo-vaudeville, impressionist, piano, post-burlesque, Chicago