**METADATA**
TAGS: hip hop, hip-hop/rap, new artists, new hip hop music, new hip hop songs, new music, new music artists, new music producers, new rap music, r&b, rap, up and coming music artists, cinematic, New Port Richey
****
<a href='https://zenith-point-records.bandcamp.com'>Zenith Point Records</a>
<br>
<img data-src='https://f4.bcbits.com/img/0004730308_23.jpg' />
<br>
tags: hip hop, hip-hop/rap, new artists, new hip hop music, new hip hop songs, new music, new music artists, new music producers, new rap music, r&b, rap, up and coming music artists, cinematic, New Port Richey