**METADATA**
TAGS: drum & bass, electronic, zmr, create dont hate, dnb, drum & bass, emotional, liquid dnb, liquiddnb, liquidfunk, love, vocal, zentinal, Seattle
****
<a href='https://zmrfam.bandcamp.com'>Zentinal Musique Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0009276192_23.jpg' />
<br>
tags: drum & bass, electronic, zmr, create dont hate, dnb, drum & bass, emotional, liquid dnb, liquiddnb, liquidfunk, love, vocal, zentinal, Seattle