**METADATA**
TAGS: metal, death, doom, hardcore, sludge, stoner, Moscow
****
<a href='https://zeroherorec.bandcamp.com'>Zero Hero Recordings</a>
<br>
<img data-src='https://f4.bcbits.com/img/0006697495_23.jpg' />
<br>
tags: metal, death, doom, hardcore, sludge, stoner, Moscow